header.Header
    .Header_inner
        .Header_logoWrap
            a(href="/")
                img.Header_logo(src="img/logo.png", alt="KR_LOGO")
            .Header_divider.Header_divider-n1
            .Header_slogan Магазин элитной #[br] недвижимости в Москве
        .Header_menuWrap
            ul.DropdownMenu
                li.DropdownMenu_leaf
                    a(href="/rent.html") Аренда
                li.DropdownMenu_leaf
                    a(href="/filters.html") Продажа
                li.DropdownMenu_leaf
                    .DropdownMenu_submenuLabel Компания
                        include ../SvgIco/arrow_down_sm.svg
                    ul.DropdownMenu_submenu
                        li.DropdownMenu_subleaf
                            a(href="/developer.html") О компании
                        li.DropdownMenu_subleaf
                            a(href="/our_team.html") Команда
                        li.DropdownMenu_subleaf
                            a(href="/rewards.html") Награды
                        li.DropdownMenu_subleaf
                            a(href="/partners.html") Партнеры
                        li.DropdownMenu_subleaf
                            a(href="/about.html") Здесь я буду жить
                li.DropdownMenu_leaf
                    a(href="/contacts.html") Контакты
       
        .Header_phoneWrap
            .Header_phone +7 (495) 555-55-55
            a.Header_callOrderLink(href="#orderModal") Заказать обратный звонок
        .Header_divider.Header_divider-n2
        button.Header_burger
            span.Header_burgerText МЕНЮ
            span.Header_burgerIco