.Reviews
  .Reviews_item-wr
    a.Reviews_item(data-fancybox href="https://www.youtube.com/watch?v=3NxmkIHxEVk")
      .Reviews_item_img(style="background-image:url(https://img.youtube.com/vi/3NxmkIHxEVk/sddefault.jpg)")
        .Reviews_item_duration 2:19
        .Reviews_item_playButton
      .Reviews_item_txt
        .Reviews_item_title Марианна Досадина
        .Reviews_item_description Для Клубного комплекса Рассвет
  .Reviews_item-wr
    a.Reviews_item(data-fancybox href="https://www.youtube.com/watch?v=qcbnYXVNFjA")
      .Reviews_item_img(style="background-image:url(https://img.youtube.com/vi/qcbnYXVNFjA/sddefault.jpg)")
        .Reviews_item_duration 2:51
        .Reviews_item_playButton
      .Reviews_item_txt
        .Reviews_item_title Леонид Барац
        .Reviews_item_description Для Клубного комплекса Рассвет
  .Reviews_item-wr
    a.Reviews_item(data-fancybox href="https://www.youtube.com/watch?v=prhqh22_gNE")
      .Reviews_item_img(style="background-image:url(https://img.youtube.com/vi/prhqh22_gNE/sddefault.jpg)")
        .Reviews_item_duration 2:42
        .Reviews_item_playButton
      .Reviews_item_txt
        .Reviews_item_title Екатерина Вуличенко
        .Reviews_item_description Для Клубного комплекса Рассвет
  .Reviews_item-wr
    a.Reviews_item(data-fancybox href="https://www.youtube.com/watch?v=reviews_img_4")
      .Reviews_item_img(style="background-image:url(img/reviews_img_4.jpg)")
        .Reviews_item_duration 2:45
        .Reviews_item_playButton
      .Reviews_item_txt
        .Reviews_item_title Ростислав Хаит
        .Reviews_item_description Для Клубного комплекса Рассвет