extends layout
block vars
    - var title = "О проекте красная роза"
block content
    .PageHead.PageHead-big.PageHead-about(style="background-image:url(img/about_image_1.jpg)")
        h1.PageHead_title(style="background-image:url(img/red_rose_logo.png)")
            span(hidden) Деловой квартал "Красная Роза"
        h2.PageHead_subTitle Знаковое место на деловой карте Москвы, созданное специально для комфортного и успешного развития бизнеса. Центр притяжения самых успешных российских и зарубежных компаний.
    .Box
        .AboutTop
            .AboutTop_item
                .AboutTop_itemTitle
                    span 11
                .AboutTop_itemText бизнес-центров<br>класса А/А+ и B/B+
            .AboutTop_item
                .AboutTop_itemTitle
                    span 1300+
                .AboutTop_itemText мест парковки
            .AboutTop_item
                .AboutTop_itemTitle
                    span 21
                .AboutTop_itemText инфраструктурное<br>предприятие
            .AboutTop_item
                .AboutTop_itemTitle
                    span 6500+
                .AboutTop_itemText рабочих мест
            .AboutTop_item
                .AboutTop_itemTitle
                    span 137 000 м <sup>2</sup>
                .AboutTop_itemText общая площадь квартала
    .About
        .Box
            .Breadcrumbs
                ul.Breadcrumbs_list
                    li.Breadcrumbs_item
                        a(href='/') Главная
                    li.Breadcrumbs_item
                        a(href='rent.html') Аренда
                    li.Breadcrumbs_item.Breadcrumbs_item-active
                        a(href='about.html') Красная роза
        .PageContent.PageContent-about
            .Box
                .AboutBlock.AboutBlock-reverse
                    .AboutBlock_item
                        .AboutBlock_item_text.AboutBlock_itemText
                            .AboutBlock_item_header.About_title Деловой квартал
                                span Красная роза — 1875
                            p Красная Роза» – это современный деловой квартал площадью 5,7 га, на территории которого расположены 11 зданий классов А+, А и В+ и В общей площадью 137 000 м2.
                    .AboutBlock_item
                        .AboutBlock_item_image(style="background-image:url(img/about_image_4.jpg)")
                .AboutBlock
                    .AboutBlock_item.About_moreWrp
                        .AboutBlock_item_text.AboutBlock_itemText.AboutBlock_itemText-scroll
                            .AboutBlock_item_header.About_title <em>Новая эра</em> в осознании рабочих пространств
                            p Уникальность квартала «Красная Роза» заключается в сочетании исторической и современной архитектуры – фасады из красного кирпича бережно сохраняются и эффектно дополняются современным панорамным остеклением.
                            .About_moreHidden.About_moreHidden-desktop
                                p Бизнес-центры внутри делового квартала носят имена великих русских промышленников, купцов и меценатов – людей, которые не боялись принимать яркие нестандартные для того времени решения и привнесли в историю деловой России дух успешности, новаторства, заложили традиции благотворительности. Демидов, Морозов, Мамонтов, Строганов, Третьяков, Савин, Рябушинский – эти имена всегда будут ассоциироваться с успехом и процветанием.
                                p Бизнес-центры внутри делового квартала носят имена великих русских промышленников, купцов и меценатов – людей, которые не боялись принимать яркие нестандартные для того времени решения и привнесли в историю деловой России дух успешности, новаторства, заложили традиции благотворительности. Демидов, Морозов, Мамонтов, Строганов, Третьяков, Савин, Рябушинский – эти имена всегда будут ассоциироваться с успехом и процветанием.
                            .About_more.About_more-mobile
                                .About_moreBtn
                                    span Развернуть
                                    include ././../assets/img/arrow_right_sm.svg
                    .AboutBlock_item
                        .AboutBlock_item_image(style="background-image:url(img/about_image_4.jpg)")

            .About_plan
                .About_planScrollable
                    .About_planWrp
                        img.About_planImg(src='img/about_plan.png', width="1440" alt="")
                        .About_planMarker(data-id='1', style="top: 15%; left: 30%") 1
                        .About_planMarker(data-id='2', style="top: 10%; left: 15%") 2
                        .About_planMarker(data-id='3', style="top: 40%; left: 16%") 3
                        .About_planMarker(data-id='4', style="top: 25%; left: 45%") 4
                        .About_planMarker(data-id='5', style="top: 30%; left: 66%") 5
                        .About_planMarker(data-id='6', style="top: 45%; left: 75%") 6
                        .About_planMarker(data-id='7', style="top: 51%; left: 85%") 7
                        .About_planMarker(data-id='8', style="top: 61%; left: 45%") 8
                        .About_planMarker(data-id='9', style="top: 70%; left: 41%") 9
                        .About_planMarker(data-id='10', style="top: 15%; left: 52%") 10
                        .About_planMarker(data-id='11', style="top: 21%; left: 91%") 11

                .About_planList
                    ol
                        li(data-id='1') Мамонтов
                        li(data-id='2') Морозов
                        li(data-id='3') Строганов
                        li(data-id='4') Усадьба Всеволожских
                        li(data-id='5') Демидов
                        li(data-id='6') Третьяков
                        li(data-id='7') Савин
                        li(data-id='8') Галерея Жиро
                        li(data-id='9') Рябушкинский
                        li(data-id='10') Флигель
                        li(data-id='11') Клейн

            .Box
                .About_itemSlider
                    .About_header
                        .About_title Бизнес-центры квартала
                        .About_sliderCount
                            .About_sliderCountCurrent 03
                            .About_sliderCountTotal / <span>05</span>

                    .About_itemSliderWrp
                        .About_sliderBtn.About_sliderBtn-prev.About_itemSliderPrev
                        .About_sliderBtn.About_sliderBtn-next.About_itemSliderNext
                        .About_sliderCount.About_sliderCount-mobile
                            .About_sliderCountCurrent 03
                            .About_sliderCountTotal / <span>05</span>
                        .swiper-container
                            .swiper-wrapper
                                .About_itemSlide.swiper-slide
                                    .About_itemSlideImg(style="background-image:url(img/about_image_4.jpg)")
                                        .About_itemSlideAmount
                                            span 8
                                            div Вариантов
                                    .About_itemSlideContent
                                        .About_itemSlideTitle Демидов
                                        .About_itemSlideInfo
                                            span Класс А+
                                            span от 82,53 м<sup>2</sup> до 280 м<sup>2</sup>
                                        .About_itemSlidePlace.About_itemSlidePlace-loc ул. Тимура Фрунзе, д.11
                                        .About_itemSlidePlace.About_itemSlidePlace-metro.About_itemSlidePlace-brown Парк Культуры
                                        p Бизнес-центр «Демидов» — флагманский проект, задающий новое направление развития российского делового рынка недвижимости.

                                .About_itemSlide.swiper-slide
                                    .About_itemSlideImg(style="background-image:url(img/about_image_4.jpg)")
                                        .About_itemSlideAmount.About_itemSlideAmount-zero
                                            span Нет
                                            div Вариантов
                                    .About_itemSlideContent
                                        .About_itemSlideTitle Мамонтов
                                        .About_itemSlideInfo
                                            span Класс B+
                                        .About_itemSlidePlace.About_itemSlidePlace-loc ул. Тимура Фрунзе, д.11
                                        .About_itemSlidePlace.About_itemSlidePlace-metro.About_itemSlidePlace-brown Парк Культуры
                                        p «Флигель» относится к XIX веку. Выполненный в традициях русской классической архитектуры он не только являет собой историческую ценность...

                                .About_itemSlide.swiper-slide
                                    .About_itemSlideImg(style="background-image:url(img/about_image_4.jpg)")
                                        .About_itemSlideAmount
                                            span 5
                                            div Вариантов
                                    .About_itemSlideContent
                                        .About_itemSlideTitle Демидов
                                        .About_itemSlideInfo
                                            span Класс B+
                                            span от 82,53 м<sup>2</sup> до 280 м<sup>2</sup>
                                        .About_itemSlidePlace.About_itemSlidePlace-loc ул. Тимура Фрунзе, д.11
                                        .About_itemSlidePlace.About_itemSlidePlace-metro.About_itemSlidePlace-brown Парк Культуры
                                        p Бизнес-центр «Демидов» — флагманский проект, задающий новое направление развития российского делового рынка недвижимости.

                                .About_itemSlide.swiper-slide
                                    .About_itemSlideImg(style="background-image:url(img/about_image_4.jpg)")
                                        .About_itemSlideAmount
                                            span 5
                                            div Вариантов
                                    .About_itemSlideContent
                                        .About_itemSlideTitle Демидов
                                        .About_itemSlideInfo
                                            span Класс B+
                                            span от 82,53 м<sup>2</sup> до 280 м<sup>2</sup>
                                        .About_itemSlidePlace.About_itemSlidePlace-loc ул. Тимура Фрунзе, д.11
                                        .About_itemSlidePlace.About_itemSlidePlace-metro.About_itemSlidePlace-brown Парк Культуры
                                        p Бизнес-центр «Демидов» — флагманский проект, задающий новое направление развития российского делового рынка недвижимости.

                                .About_itemSlide.swiper-slide
                                    .About_itemSlideImg(style="background-image:url(img/about_image_4.jpg)")
                                        .About_itemSlideAmount
                                            span 5
                                            div Вариантов
                                    .About_itemSlideContent
                                        .About_itemSlideTitle Демидов
                                        .About_itemSlideInfo
                                            span Класс B+
                                            span от 82,53 м<sup>2</sup> до 280 м<sup>2</sup>
                                        .About_itemSlidePlace.About_itemSlidePlace-loc ул. Тимура Фрунзе, д.11
                                        .About_itemSlidePlace.About_itemSlidePlace-metro.About_itemSlidePlace-brown Парк Культуры
                                        p Бизнес-центр «Демидов» — флагманский проект, задающий новое направление развития российского делового рынка недвижимости.

                                .About_itemSlide.swiper-slide
                                    .About_itemSlideImg(style="background-image:url(img/about_image_4.jpg)")
                                        .About_itemSlideAmount
                                            span 5
                                            div Вариантов
                                    .About_itemSlideContent
                                        .About_itemSlideTitle Демидов
                                        .About_itemSlideInfo
                                            span Класс B+
                                            span от 82,53 м<sup>2</sup> до 280 м<sup>2</sup>
                                        .About_itemSlidePlace.About_itemSlidePlace-loc ул. Тимура Фрунзе, д.11
                                        .About_itemSlidePlace.About_itemSlidePlace-metro.About_itemSlidePlace-brown Парк Культуры
                                        p Бизнес-центр «Демидов» — флагманский проект, задающий новое направление развития российского делового рынка недвижимости.

                .About_tableWrp.About_moreWrp
                    .About_header
                        .About_title Доступные предложения <em>(Аренда)</em>
                        a.Btn.About_btn(href="") Обратный звонок

                    .About_tableSlideWrp
                        .About_table
                            .About_tableRow.About_tableRow-head
                                .About_tableCell Лот
                                .About_tableCell.About_tableCell-hideMobile Назначение
                                .About_tableCell Этаж
                                .About_tableCell Площадь, м<sup>2</sup>
                                .About_tableCell.About_tableCell-hideMobile БАЗОВАЯ СТАВКА АРЕНДЫ БЕЗ НДС М<sup>2</sup>/ГОД
                                .About_tableCell.About_tableCell-hideTablet.About_tableCell-hideMobile ЭКСПЛУАТАЦИЯ <br>БЕЗ НДС, М<sup>2</sup>/ГОД
                                .About_tableCell.About_tableCell-hideTablet.About_tableCell-hideMobile СТОИМОСТЬ В МЕСЯЦ<br> ВКЛ. ЭКСПЛУАТАЦИЮ И НДС
                                .About_tableCell.About_tableCell-hideDesc Стоимость
                                .About_tableCell.About_tableCell-hideDesc.About_tableCell-hideMobile Статус
                            a(href="").About_tableRow
                                .About_tableCell 1
                                .About_tableCell.About_tableCell-hideMobile Помещение свободного назначения
                                .About_tableCell Подвал
                                .About_tableCell 141,10
                                .About_tableCell.About_tableCell-hideMobile 20 339 ₽
                                .About_tableCell.About_tableCell-hideTablet.About_tableCell-hideMobile —
                                .About_tableCell.About_tableCell-hideTablet.About_tableCell-hideMobile 282 200 ₽
                                .About_tableCell.About_tableCell-hideDesc —
                                .About_tableCell.About_tableCell-hideDesc.About_tableCell-hideMobile 282 200 ₽
                            a(href="").About_tableRow
                                .About_tableCell 1
                                .About_tableCell.About_tableCell-hideMobile Офис, Помещение свободного назначения, Торговля
                                .About_tableCell Все здание
                                .About_tableCell 262
                                .About_tableCell.About_tableCell-hideMobile 28 898 ₽
                                .About_tableCell.About_tableCell-hideTablet.About_tableCell-hideMobile 5 000 ₽
                                .About_tableCell.About_tableCell-hideTablet.About_tableCell-hideMobile 5 200 004 ₽
                                .About_tableCell.About_tableCell-hideDesc 5 000 ₽
                                .About_tableCell.About_tableCell-hideDesc.About_tableCell-hideMobile 5 200 004 ₽
                            a(href="").About_tableRow
                                .About_tableCell 1
                                .About_tableCell.About_tableCell-hideMobile Торговля
                                .About_tableCell Все здание
                                .About_tableCell 262
                                .About_tableCell.About_tableCell-hideMobile 28 898 ₽
                                .About_tableCell.About_tableCell-hideTablet.About_tableCell-hideMobile 5 000 ₽
                                .About_tableCell.About_tableCell-hideTablet.About_tableCell-hideMobile 873 325 ₽
                                .About_tableCell.About_tableCell-hideDesc 5 000 ₽
                                .About_tableCell.About_tableCell-hideDesc.About_tableCell-hideMobile 873 325 ₽
                            a(href="").About_tableRow
                                .About_tableCell 1
                                .About_tableCell.About_tableCell-hideMobile Офис
                                .About_tableCell Все здание
                                .About_tableCell 262
                                .About_tableCell.About_tableCell-hideMobile 28 898 ₽
                                .About_tableCell.About_tableCell-hideTablet.About_tableCell-hideMobile 5 000 ₽
                                .About_tableCell.About_tableCell-hideTablet.About_tableCell-hideMobile 873 325 ₽
                                .About_tableCell.About_tableCell-hideDesc 5 000 ₽
                                .About_tableCell.About_tableCell-hideDesc.About_tableCell-hideMobile 873 325 ₽
                            a(href="").About_tableRow
                                .About_tableCell 1
                                .About_tableCell.About_tableCell-hideMobile Помещение свободного назначения
                                .About_tableCell Все здание
                                .About_tableCell 262
                                .About_tableCell.About_tableCell-hideMobile 28 898 ₽
                                .About_tableCell.About_tableCell-hideTablet.About_tableCell-hideMobile 5 000 ₽
                                .About_tableCell.About_tableCell-hideTablet.About_tableCell-hideMobile 873 325 ₽
                                .About_tableCell.About_tableCell-hideDesc 5 000 ₽
                                .About_tableCell.About_tableCell-hideDesc.About_tableCell-hideMobile 873 325 ₽
                            a(href="").About_tableRow
                                .About_tableCell 1
                                .About_tableCell.About_tableCell-hideMobile Офис
                                .About_tableCell Все здание
                                .About_tableCell 262
                                .About_tableCell.About_tableCell-hideMobile 28 898 ₽
                                .About_tableCell.About_tableCell-hideTablet.About_tableCell-hideMobile 5 000 ₽
                                .About_tableCell.About_tableCell-hideTablet.About_tableCell-hideMobile 873 325 ₽
                                .About_tableCell.About_tableCell-hideDesc 5 000 ₽
                                .About_tableCell.About_tableCell-hideDesc.About_tableCell-hideMobile 873 325 ₽
                            a(href="").About_tableRow
                                .About_tableCell 1
                                .About_tableCell.About_tableCell-hideMobile Помещение свободного назначения
                                .About_tableCell Все здание
                                .About_tableCell 262
                                .About_tableCell.About_tableCell-hideMobile 28 898 ₽
                                .About_tableCell.About_tableCell-hideTablet.About_tableCell-hideMobile 5 000 ₽
                                .About_tableCell.About_tableCell-hideTablet.About_tableCell-hideMobile 873 325 ₽
                                .About_tableCell.About_tableCell-hideDesc 5 000 ₽
                                .About_tableCell.About_tableCell-hideDesc.About_tableCell-hideMobile 873 325 ₽
                            a(href="").About_tableRow
                                .About_tableCell 1
                                .About_tableCell.About_tableCell-hideMobile Помещение свободного назначения
                                .About_tableCell Все здание
                                .About_tableCell 262
                                .About_tableCell.About_tableCell-hideMobile 28 898 ₽
                                .About_tableCell.About_tableCell-hideTablet.About_tableCell-hideMobile 5 000 ₽
                                .About_tableCell.About_tableCell-hideTablet.About_tableCell-hideMobile 873 325 ₽
                                .About_tableCell.About_tableCell-hideDesc 5 000 ₽
                                .About_tableCell.About_tableCell-hideDesc.About_tableCell-hideMobile 873 325 ₽
                    .About_more.About_tableMore
                        .About_moreBtn
                            span Развернуть
                            div еще <div>16</div>
                            include ././../assets/img/arrow_right_sm.svg

                .About_slider
                    .About_mainSlider
                        .About_sliderBtn.About_sliderBtn-prev.About_mainSliderPrev
                        .About_sliderBtn.About_sliderBtn-next.About_mainSliderNext
                        .swiper-container
                            .swiper-wrapper
                                .swiper-slide
                                    .About_mainSlide(style="background-image:url(img/about_image_1.jpg)")
                                .swiper-slide
                                    .About_mainSlide(style="background-image:url(img/about_image_2.jpg)")
                                .swiper-slide
                                    .About_mainSlide(style="background-image:url(img/about_image_3.jpg)")
                                .swiper-slide
                                    .About_mainSlide(style="background-image:url(img/about_image_4.jpg)")
                                .swiper-slide
                                    .About_mainSlide(style="background-image:url(img/about_image_5.jpg)")

                    .About_thumbSlider.swiper-container
                        .swiper-wrapper
                            .swiper-slide.About_thumbSlide(style="background-image:url(img/about_image_1.jpg)")
                            .swiper-slide.About_thumbSlide(style="background-image:url(img/about_image_2.jpg)")
                            .swiper-slide.About_thumbSlide(style="background-image:url(img/about_image_3.jpg)")
                            .swiper-slide.About_thumbSlide(style="background-image:url(img/about_image_4.jpg)")
                            .swiper-slide.About_thumbSlide(style="background-image:url(img/about_image_5.jpg)")

                .About_history
                    .AboutBlock
                        .AboutBlock_item
                            .AboutBlock_item_text.AboutBlock_itemText
                                .AboutBlock_item_header.About_title История
                                p История «Красной Розы» так же многогранна и интересна, как и сам деловой квартал. В ХVIII веке на месте «Красной Розы» располагалась усадьба знатного дворянского рода Всеволожских. Это одно из немногих деревянных строений той эпохи, которое пережило пожар 1812 года и сохранилось до нынешних времён. Тщательно отреставрированное здание усадьбы Всеволожских и сейчас является настоящим украшением квартала.
                                p В 1875 году эта территория перешла во владение французского купца московской гильдии Клавдия Осиповича (Клода-Мари) Жиро.
                        .AboutBlock_item
                            .AboutBlock_item_image(style="background-image:url(img/about_image_4.jpg)")

                    .AboutBlock.AboutBlock-reverse
                        .AboutBlock_item
                            .AboutBlock_item_text.AboutBlock_itemText
                                p Он начинает активное строительство шёлковой фабрики, которая впоследствии становится самым крупным шёлкоткацким предприятием в Российской империи.
                                p Уже в 1879 году здесь работали 180 ткацких станков и паровая машина, а к началу Первой мировой войны на производстве трудились более 4000 человек на 1800 станках. Из иностранного сырья выпускались высококачественные шёлковые ткани подкладочного и плательного ассортимента.
                                p В 1885 и 1896 годах фабрика отмечается особым знаком качества императорской семьи — удостаивается права изображать государственный герб на своих вывесках и рекламе.
                        .AboutBlock_item
                            .AboutBlock_item_image(style="background-image:url(img/about_image_4.jpg)")

                    .AboutBlock.AboutBlock
                        .AboutBlock_item
                            .AboutBlock_item_text.AboutBlock_itemText
                                p После революции, в 1919 году, декретом советского правительства фабрика была национализирована. По просьбе коллектива, в основном состоящего из женщин, она была названа именем Розы Люксембург. Так появилось название «Красная Роза». Во время Великой Отечественной войны комбинат снабжал войска парашютными тканями. После её окончания предприятие приступило к освоению модных тогда синтетических материалов.
                                p После распада СССР фабрика стала представлять экономический интерес для непромышленных целей. В 2003 году архитектурная мастерская Сергея Киселёва разработала градостроительную концепцию реорганизации территории.
                        .AboutBlock_item
                            .AboutBlock_item_image(style="background-image:url(img/about_image_4.jpg)")

                .About_arendators.About_moreWrp.About_showMore
                    .About_header.About_header-mob
                        .About_title Арендаторы
                        .About_sliderCount
                            .About_sliderCountCurrent 0
                            .About_sliderCountTotal / <span>0</span>

                    .About_arendatorsItems.About_showMoreItems
                        .About_showMoreItem
                            a(href="").About_arendatorsItem
                                img(src="img/arendators/yandex.png" alt="")
                        .About_showMoreItem
                            a(href="").About_arendatorsItem
                                img(src="img/arendators/rambler.png" alt="")
                        .About_showMoreItem
                            a(href="").About_arendatorsItem
                                img(src="img/arendators/coffee.png" alt="")
                        .About_showMoreItem
                            a(href="").About_arendatorsItem
                                img(src="img/arendators/familia.png" alt="")
                        .About_showMoreItem
                            a(href="").About_arendatorsItem
                                img(src="img/arendators/yandex.png" alt="")
                        .About_showMoreItem
                            a(href="").About_arendatorsItem
                                img(src="img/arendators/rambler.png" alt="")
                        .About_showMoreItem
                            a(href="").About_arendatorsItem
                                img(src="img/arendators/coffee.png" alt="")
                        .About_showMoreItem
                            a(href="").About_arendatorsItem
                                img(src="img/arendators/familia.png" alt="")
                        .About_showMoreItem
                            a(href="").About_arendatorsItem
                                img(src="img/arendators/familia.png" alt="")
                        .About_showMoreItem
                            a(href="").About_arendatorsItem
                                img(src="img/arendators/familia.png" alt="")

                    .About_more.About_more-white
                        .About_moreBtn
                            span Развернуть
                            include ././../assets/img/arrow_right_sm.svg

                .About_rewards.About_moreWrp.About_showMore
                    .About_header
                        .About_title Награды проекта
                        .About_sliderCount
                            .About_sliderCountCurrent 0
                            .About_sliderCountTotal / <span>0</span>

                    .About_rewardsItems.About_showMoreItems
                        .About_showMoreItem
                            .About_rewardsItem
                                .About_rewardsItemImg(style="background-image:url(img/reward_1.png)")
                                .About_rewardsItemYear 2016
                                .About_rewardsItemTitle Proestate
                                p На церемонии вручения премии PROESTATE AWARDS 2016 "Лучшие за 10 лет", деловой квартал "Красная роза" был признан лучшим проектом десятилетия на
                        .About_showMoreItem
                            .About_rewardsItem
                                .About_rewardsItemImg(style="background-image:url(img/reward_2.png)")
                                .About_rewardsItemYear 2015
                                .About_rewardsItemTitle Рекорды рынка недвижимости
                                p На церемонии вручения премии PROESTATE AWARDS 2016 "Лучшие за 10 лет", деловой квартал "Красная роза" был признан лучшим проектом десятилетия на
                        .About_showMoreItem
                            .About_rewardsItem
                                .About_rewardsItemImg(style="background-image:url(img/reward_3.png)")
                                .About_rewardsItemYear 2016
                                .About_rewardsItemTitle Commercial Real Estate Moscow Awards
                                p На церемонии вручения премии PROESTATE AWARDS 2016 "Лучшие за 10 лет", деловой квартал "Красная роза" был признан лучшим проектом десятилетия на
                        .About_showMoreItem
                            .About_rewardsItem
                                .About_rewardsItemImg(style="background-image:url(img/reward_4.png)")
                                .About_rewardsItemYear 2016
                                .About_rewardsItemTitle «Московская реставрация»
                                p На церемонии вручения премии PROESTATE AWARDS 2016 "Лучшие за 10 лет", деловой квартал "Красная роза" был признан лучшим проектом десятилетия на
                        .About_showMoreItem
                            .About_rewardsItem
                                .About_rewardsItemImg(style="background-image:url(img/reward_1.png)")
                                .About_rewardsItemYear 2016
                                .About_rewardsItemTitle Proestate
                                p На церемонии вручения премии PROESTATE AWARDS 2016 "Лучшие за 10 лет", деловой квартал "Красная роза" был признан лучшим проектом десятилетия на
                        .About_showMoreItem
                            .About_rewardsItem
                                .About_rewardsItemImg(style="background-image:url(img/reward_2.png)")
                                .About_rewardsItemYear 2015
                                .About_rewardsItemTitle Рекорды рынка недвижимости
                                p На церемонии вручения премии PROESTATE AWARDS 2016 "Лучшие за 10 лет", деловой квартал "Красная роза" был признан лучшим проектом десятилетия на
                        .About_showMoreItem
                            .About_rewardsItem
                                .About_rewardsItemImg(style="background-image:url(img/reward_3.png)")
                                .About_rewardsItemYear 2016
                                .About_rewardsItemTitle Commercial Real Estate Moscow Awards
                                p На церемонии вручения премии PROESTATE AWARDS 2016 "Лучшие за 10 лет", деловой квартал "Красная роза" был признан лучшим проектом десятилетия на
                        .About_showMoreItem
                            .About_rewardsItem
                                .About_rewardsItemImg(style="background-image:url(img/reward_4.png)")
                                .About_rewardsItemYear 2016
                                .About_rewardsItemTitle «Московская реставрация»
                                p На церемонии вручения премии PROESTATE AWARDS 2016 "Лучшие за 10 лет", деловой квартал "Красная роза" был признан лучшим проектом десятилетия на
                        .About_showMoreItem
                            .About_rewardsItem
                                .About_rewardsItemImg(style="background-image:url(img/reward_4.png)")
                                .About_rewardsItemYear 2016
                                .About_rewardsItemTitle «Московская реставрация»
                                p На церемонии вручения премии PROESTATE AWARDS 2016 "Лучшие за 10 лет", деловой квартал "Красная роза" был признан лучшим проектом десятилетия на

                    .About_more.About_more-white
                        .About_moreBtn
                            span Развернуть
                            include ././../assets/img/arrow_right_sm.svg

            .About_mapWrp
                .About_map.About_map
                .About_mapInfo
                    .About_mapInfoLogo(style="background-image:url(img/red_rose_logo_black.png)")
                    .About_mapInfoAddress ул. Тимура Фрунзе, д. 11
                    a(href="").Btn.About_btn.About_mapInfoBtn Обратный звонок
                    a(href="tel:+74952561023").About_mapInfoNumber +7 (495) 256-10-23
block page_bottom
    script(src="http://maps.google.com/maps/api/js?sensor=true")
    script(src="js/about.js")