extends layout
block vars
    - var title = "Пустая страница";
block content
    .PageHead(style="background-image:url(/tmp/pageHead/1.jpg)")
        h1.PageHead_title #{title}
        h2.PageHead_subTitle Пример текста подзаголовка страницы       

block page_bottom
    //-script(src="/js/script_file_for_this_page.js")