extends layout
block vars
    - var title = "Контакты";
block content
  section.Contacts
      .Contacts_map&attributes({'data-lat': '55.731497', 'data-lng': '37.625709'})
      .Contacts_content
          h4.Contacts_title Адрес центрального офиса
          .Contacts_items
              .Contacts_item
                  h5.Contacts_text.Contacts_text-red Адрес:
                  p.Contacts_text 115184, Москва, ул. Пятницкая, д.74
              .Contacts_item
                  h5.Contacts_text.Contacts_text-red Добраться автомобилем:
                  p.Contacts_text Заезд с Большой Ордынки
                  p.Contacts_text 11 минут от Кремля,
                  p.Contacts_text 2 мин от Садового кольца
              .Contacts_item
                  h5.Contacts_text.Contacts_text-red Метро:
                  p.Contacts_text 5 минут пешком от станции метро «Добрынинская»  
block page_bottom
    script(src="http://maps.google.com/maps/api/js?sensor=true")
    script(src="/js/contacts.js")