extends layout
block vars
    - var title = "О компании"
block content
    .PageHead.PageHead-big(style="background-image:url(img/about_image_1.jpg)")
        h1.PageHead_title #{title}
        .PageHead_scrollArrow Скролл
    .Box
        include includes/blocks/breadcrumbs/breadcrumbs
    .PageContent
        .Box
            .AboutBlock.AboutBlock-slider.AboutBlock-main
                .AboutBlock_item
                    .AboutBlock_item_text
                        .AboutBlock_item_header
                            span KR PROPERTIES
                            |
                            | — девелопер уникальных проектов
                        p Компания занимается созданием, благоустройством и реновацией пространств для жизни и бизнеса, удовлетворяя потребности современного мегаполиса и учитывая особенности исторической городской среды. Уже сейчас многие проекты являются архитектурными доминантами центральных районов Москвы.
                .AboutBlock_item.AboutBlock_item_slider
                    .AboutBlock_slider.swiper-container
                        .swiper-wrapper
                            .AboutBlock_slider_item.swiper-slide(style="background-image:url(img/about_slider_1.jpg)")
                            .AboutBlock_slider_item.swiper-slide(style="background-image:url(img/about_slider_2.jpg)")
                        button.AboutBlock_sliderArrow.AboutBlock_sliderArrow-prev
                        button.AboutBlock_sliderArrow.AboutBlock_sliderArrow-next

            .AboutBlock_row
                .AboutBlock.AboutBlock-half
                    .AboutBlock_item
                        .AboutBlock_item_text
                            .AboutBlock_item_header
                                span Уникальные
                                |
                                | проекты
                            p KR Properties не просто строит здания, а создает уникальные девелоперские проекты, становясь родоначальником новых для Москвы форматов: лофтов и мансард, live&amp;work пространств, деловых кварталов, складов индивидуального хранения.
                    .AboutBlock_item
                        .AboutBlock_item_image(style="background-image:url(img/about_image_2.jpg)")

                .AboutBlock.AboutBlock-half.AboutBlock-info
                    .AboutBlock_item
                        .AboutBlock_item_text
                            a.AboutBlock_downloadButton(href='#')
                                .AboutBlock_downloadButton-icon(style="background-image:url(img/icon_pdf.jpg)")
                                .AboutBlock_downloadButton-text Скачать презентацию о компании
                    .AboutBlock_item
                        .AboutBlock_item_info
                            .AboutBlock_item_info_prop
                                .AboutBlock_item_info_prop_title 15 лет
                                .AboutBlock_item_info_prop_text на рынке недвижимости
                            .AboutBlock_item_info_prop
                                .AboutBlock_item_info_prop_title 20 000
                                .AboutBlock_item_info_prop_text высококлассных рабочих мест
                            .AboutBlock_item_info_prop
                                .AboutBlock_item_info_prop_title 25%
                                .AboutBlock_item_info_prop_text Инновационных продуктов
                            .AboutBlock_item_info_prop
                                .AboutBlock_item_info_prop_title 350
                                .AboutBlock_item_info_prop_text компаний-арендаторов
                            .AboutBlock_item_info_prop.AboutBlock_item_info_prop-wide
                                .AboutBlock_item_info_prop_title 600 000 м²
                                .AboutBlock_item_info_prop_text общий объем активов в управлении

            .AboutBlock.AboutBlock-reverse
                .AboutBlock_item
                    .AboutBlock_item_text
                        .AboutBlock_item_header
                            span Философия
                            |
                            | компании
                        p Философия компании заключается в осознанном и заботливом преобразовании городских пространств — с уважением к архитектурному наследию Москвы, в гармонии с современной окружающей средой, с особым вниманием к интересам людей. Не просто строить, а созидать: создавать продуманные творческие решения, переосмысливая традиционные представления о пространствах для работы и жизни, — вот кредо KR Properties.
                .AboutBlock_item
                    .AboutBlock_item_image(style="background-image:url(img/about_image_4.jpg)")

            .AboutBlock
                .AboutBlock_item
                    .AboutBlock_item_text
                        .AboutBlock_item_header
                            span Цель
                            |
                            | компании
                        p Удивлять и восхищать каждым новым реализованным проектом как клиентов и партнёров, так и обычных жителей Москвы. Ставя высокие планки, KR Properties постоянно доказывает, что создавать необычные пространства для работы и жизни, сохраняя и дополняя облик города, — реально. Можно уверенно сказать: завтра эти проекты будут не менее актуальны и востребованны, чем сегодня, и послужат формированию будущего архитектурного облика столицы.
                .AboutBlock_item
                    .AboutBlock_item_image(style="background-image:url(img/about_image_6.jpg)")
block page_bottom
    script(src="js/about.js")