extends layout
block vars
    - var title = "Подбор по параметрам";
block content
    .PageHead.PageHead-Filters(style="background-image:url(/tmp/pageHead/1.jpg)")
        .Box
            h1.PageHead_title Фильтр
            .PageHead_resetFilters.Filters_resetBtn.Filters_resetBtn-head Сбросить
                include ././../assets/img/close.svg

    .Filters_showAll
        a.Filters_showAll_btn
            span Развернуть фильтр
            include ././../assets/img/arrow_down_red.svg
    .Filters
        .Box.Filters_box
            form.Filters_form#filter(action="/ajax/filters_response_example.json", method='get')
                input(type='hidden', name='curPage', value='1')
                .Filters_select.Filters_select-single
                    select(name='dealType' data-placeholder='Продажа')
                        option(value='sell' selected) Продажа
                        option(value='rent') Аренда
                .Filters_select.Filters_select-single
                    select(name='buildType' data-placeholder='Апартаменты')
                        option(value='apartments' selected) Апартаменты
                        option(value='offices') Офисы
                        option(value='floor') Квартира
                        option(value='retail') Ритейл
                        option(value='penthouse') Пентхаусы
                .Filters_select.Filters_select-single
                    select(name='buildCondition' data-placeholder='Состояние дома')
                        option(value='condition1' selected) Состояние дома 1
                        option(value='condition2') Состояние дома 2
                .Filters_select.Filters_select-single
                    select(name='buildDecor' data-placeholder='Тип отделки')
                        option(value='decor1' selected) Тип отделки 1
                        option(value='decor2') Тип отделки 2
                .Filters_select.Filters_selectRange.Filters_selectRange-square
                    .Filters_name Площадь, м<sup>2</sup>
                    .Filters_range(data-step='1')
                        input(type='hidden' data-min='10' name="squareMin" value='10')
                        input(type='hidden' data-max='150' name="squareMax" value='150')
                        .Filters_rangeNumbers
                            span.Filters_rangeMin
                            span.Filters_rangeMax
                .Filters_select.Filters_selectRange.Filters_selectRange-price
                    .Filters_name Цена, ₽:
                    .Filters_range(data-step='500000')
                        input(type='hidden' data-min='2000000' name='priceMin' value='2000000')
                        input(type='hidden' data-max='15000000' name='priceMax' value='15000000')
                        .Filters_rangeNumbers
                            span.Filters_rangeMin
                            span.Filters_rangeMax
                .Filters_select.Filters_selectCheck.Filters_selectCheck-rooms
                    .Filters_name Апартаменты:
                    .Filters_checks
                        .Filters_checkbox
                            input(type="checkbox" id="room-1" name="rooms[]" value='room1')
                            label(for="room-1") 1 комн.
                        .Filters_checkbox
                            input(type="checkbox" id="room-2" name="rooms[]" value='room2')
                            label(for="room-2") 2 комн.
                        .Filters_checkbox
                            input(type="checkbox" id="room-3" name="rooms[]" value='room3')
                            label(for="room-3") 3 комн.
                        .Filters_checkbox
                            input(type="checkbox" id="room-4" name="rooms[]" value='room4')
                            label(for="room-4") 4 комн.
                        .Filters_checkbox
                            input(type="checkbox" id="room-5" name="rooms[]" value='room5')
                            label(for="room-5") 5 комн. и больше

                .Filters_select.Filters_selectCheck.Filters_selectCheck-type
                    .Filters_name Виды:
                    .Filters_checks
                        .Filters_checkbox
                            input(type="checkbox" id="type-1" name="type[]" value='penthouses')
                            label(for="type-1") Пентхаусы
                        .Filters_checkbox
                            input(type="checkbox" id="type-2" name="type[]" value='viewsApartments')
                            label(for="type-2") Видовые квартиры
                        .Filters_checkbox
                            input(type="checkbox" id="type-3" name="type[]" value='terrace')
                            label(for="type-3") Квартиры с террасой

                .Filters_select.Filters_select-multi.Filters_select-metro
                    select(name='metro[]' multiple='multiple' data-placeholder='Метро')
                        option(value='metro1') Парк культуры 1
                        option(value='metro2') Парк 2
                        option(value='metro3') Парк 3
                .Filters_select.Filters_select-multi.Filters_select-complex
                    select(name='complex[]' multiple='multiple' data-placeholder='Жилой комплекс')
                        option(value='complex1') Жилой комплекс 1
                        option(value='complex2') Жилой комплекс 2
                        option(value='complex3') Жилой комплекс 3

                .Filters_select.Filters_select-found
                    .Filters_found
                        | Найдено:
                        span

                .Filters_formBottom
                    .Filters_formBottomItems
                        .Filters_select.Filters_select-multi.Filters_select-rubric
                            select(name='rubric[]' multiple='multiple' data-placeholder='Рубрики:')
                                option(value='rubric1') Рубрика 1
                                option(value='rubric2') Рубрика 2
                                option(value='rubric3') Рубрика 3
                                option(value='rubric4') Рубрика 4
                                option(value='rubric5') Рубрика 5
                        .Filters_select.Filters_select-single
                            select(name='sort' data-placeholder='Сортировка по:')
                                option(value='asc') Сортировка 1
                                option(value='desc') Сортировка 2
                        .Filters_btn
                            button.Button.Button-icon.Button-actionIcon.Filters_resetBtn(type='reset')
                                | Сбросить фильтр
                                span.Button_icon
                                    include ././../assets/img/close.svg
                            button.Button.Button-icon.Button-actionIcon(type='submit')
                                | Подобрать
                                span.Button_icon
                                    include ./includes/svg/arrow_right_sm.svg

        .Filters_itemsWrp
            .Box.js-filters-result
block page_bottom
    script(src="/js/filters.js")