extends layout
block vars
    - var title = "Главная";
block content
    include includes/blocks/MainSlider/MainSlider
    .PageContent.PageContent-gray
        include includes/blocks/MainContentBlocks/MainContentBlocks
block page_bottom
    script(src="http://maps.google.com/maps/api/js?sensor=true")
    script(src="/js/homepage.js")
    script(src="/js/filters.js")