include includes/mixins/index
include includes/mixins/card
doctype html
block vars
html(lang="ru-RU")

    include ./includes/chunks/html_head.pug

    body
        #pagePreloader.Preloader
        
        include ./includes/blocks/Header/Header.pug

        main(class=`Content ${isGrayBg ? "Content-Gray" : ""}`)
            block content

        include ./includes/blocks/Footer/Footer.pug

        #mobileMenuModal.Modal(style="display:none;")
            include ./includes/blocks/MobMenu/MobMenu.pug


        #orderModal(style="display: none;")
            .PopForm
                h4.PopForm_head 
                    span Здравствуйте!
                p.PopForm_desc Введите ваши данные и наш менеджер свяжется с Вами в ближайшее время.
                form.Form.PopForm_form(action="/ajax/form-response.json" method="GET")
                    .PopForm_row
                        label.PopForm_lbl(for="nameCallbackInput") Ваше имя
                        input#nameCallbackInput.Form_field.PopForm_inp(name="name" placeholder="Иван")
                    .PopForm_row
                        label.PopForm_lbl(for="telCallbackInput") Телефон #[span.PopForm_redText *]
                        input#telCallbackInput.Form_field.PopForm_inp(name="phone" placeholder="+7 (987) 654-32-10" required)
                    .PopForm_row
                        button.Button.Button-fill(type="submit" style="width:100%;") Отправить
                        .PopForm_hint #[span.PopForm_redText *] 
                            | - поля обязательные к заполнению
        script(src='/js/vendor.js')
        script(src='/js/common.js')

        block page_bottom