extends layout
block vars
  - var title = "Команда";
block content
  .PageHead(style="background-image:url(img/our_team_image_1.jpg)")
    h1.PageHead_title #{title}
  .Box
    .Breadcrumbs
      ul.Breadcrumbs_list
        li.Breadcrumbs_item
          a(href='') Главная
        li.Breadcrumbs_item.Breadcrumbs_item-active
          a(href='') Команда
      ul.Breadcrumbs_list
        li.Breadcrumbs_item
          a(href='') О компании
        li.Breadcrumbs_item
          a(href='') Награда
        li.Breadcrumbs_item
          a(href='') Партнеры
        li.Breadcrumbs_item
          a(href='') Отзывы жителей KR-pro
  .PageContent
    include includes/blocks/OurTeam/OurTeam
block page_bottom
  script(src="/js/our_team.js")