extends layout
block vars
  - var title = "Наши Партнеры";
  - var isGrayBg = true;
block content
  .PageHead(style="background-image:url(img/partners_bg_1.jpg)")
    h1.PageHead_title #{title}
  .Box
    .Breadcrumbs
      ul.Breadcrumbs_list
        li.Breadcrumbs_item
          a(href='/') Главная
        li.Breadcrumbs_item.Breadcrumbs_item-active
          a(href='partners.html') Партнеры
      ul.Breadcrumbs_list
        li.Breadcrumbs_item
          a(href='about.html') О компании
        li.Breadcrumbs_item
          a(href='our_team.html') Команда
        li.Breadcrumbs_item
          a(href='rewards.html') Награды
        li.Breadcrumbs_item
          a(href='reviews.html') Отзывы жителей KR-pro
  .PageContent
    .Box
      include includes/blocks/Partners/Partners
block page_bottom
  script(src="/js/partners.js")