extends layout
block vars
  - var title = "Аренда"
block content
  .PageHead(style="background-image:url(/tmp/pageHead/1.jpg)")
    h1.PageHead_title #{title}
  .Rent
    .Box
      include includes/blocks/breadcrumbs/breadcrumbs

      .Rent_wrp
        .Rent_sliderBlock
          .Rent_title Предложения аренды в <span>DM TOWER</span>
          a(href="#").Btn.Rent_btn Перейти к фильтру
          .Rent_slider
            .swiper-container
              .swiper-wrapper
                .swiper-slide
                  .Rent_slide
                    .Rent_slidePlans
                      .Rent_itemTitle Бизнес центр 2
                      .Rent_plans
                        a.Rent_planImg.Rent_planImg-active(href="/img/plans/plan_1.png" data-fancybox="rent_plans")
                          img(src="/img/plans/plan_1.png" alt="")
                          include ././../assets/img/maximize.svg
                          span Планировка
                        a.Rent_planImg(href="/img/plans/plan_1-meb.jpg" data-fancybox="rent_plans")
                          img(src="/img/plans/plan_1-meb.jpg" alt="")
                          include ././../assets/img/maximize.svg
                          span С мебелью
                        .Rent_planSelect
                          .Rent_planSelectItem.Rent_planSelectItem-active Планировка
                          .Rent_planSelectItem С мебелью
                    .Rent_slideInfoWrp
                      .Rent_slidesAmount
                        .Rent_slideCurrent 02
                        .Rent_slideTotal / <span>08</span>
                      .Rent_infoRow
                        .Rent_infoTitle Лот №:
                        .Rent_infoValue 8,4
                      .Rent_infoRow
                        .Rent_infoTitle Этаж:
                        .Rent_infoValue 8
                      .Rent_infoRow
                        .Rent_infoTitle Площадь, м<sup>2</sup>:
                        .Rent_infoValue 72 м<sup>2</sup>
                      .Rent_infoLined
                        .Rent_infoRow
                          .Rent_infoTitle Цена за м<sup>2</sup>:
                          .Rent_infoValue.Rent_infoValue-price 138 550 ₽
                        .Rent_infoRow
                          .Rent_infoTitle Доход в месяц:
                          .Rent_infoValue.Rent_infoValue-price 9 975 600 ₽

                      .Rent_infoDesc Самый маленький лот, хорошие видовые характеристики, возможность установки санузла.
                      .Rent_infoBtns
                        a(href="#").Btn.Rent_infoMore
                          span Узнать подробнее
                          include ././../assets/img/arrow_right_sm.svg
                .swiper-slide
                  .Rent_slide
                    .Rent_slidePlans
                      .Rent_itemTitle Бизнес центр 3
                      .Rent_plans
                        a.Rent_planImg.Rent_planImg-active(href="/img/plans/plan_1.png" data-fancybox="rent_plans")
                          img(src="/img/plans/plan_1.png" alt="")
                          include ././../assets/img/maximize.svg
                          span Планировка
                        a.Rent_planImg(href="/img/plans/plan_1-meb.jpg" data-fancybox="rent_plans")
                          img(src="/img/plans/plan_1-meb.jpg" alt="")
                          include ././../assets/img/maximize.svg
                          span С мебелью
                        .Rent_planSelect
                          .Rent_planSelectItem.Rent_planSelectItem-active Планировка
                          .Rent_planSelectItem С мебелью
                    .Rent_slideInfoWrp
                      .Rent_slidesAmount
                        .Rent_slideCurrent 02
                        .Rent_slideTotal / <span>08</span>
                      .Rent_infoRow
                        .Rent_infoTitle Лот №:
                        .Rent_infoValue 8,4
                      .Rent_infoRow
                        .Rent_infoTitle Этаж:
                        .Rent_infoValue 8
                      .Rent_infoRow
                        .Rent_infoTitle Площадь, м<sup>2</sup>:
                        .Rent_infoValue 72 м<sup>2</sup>
                      .Rent_infoLined
                        .Rent_infoRow
                          .Rent_infoTitle Цена за м<sup>2</sup>:
                          .Rent_infoValue.Rent_infoValue-price 138 550 ₽
                        .Rent_infoRow
                          .Rent_infoTitle Доход в месяц:
                          .Rent_infoValue.Rent_infoValue-price 9 975 600 ₽

                      .Rent_infoDesc Самый маленький лот, хорошие видовые характеристики, возможность установки санузла.
                      .Rent_infoBtns
                        a(href="#").Btn.Rent_infoMore
                          span Узнать подробнее
                          include ././../assets/img/arrow_right_sm.svg
            .Rent_sliderBtn.Rent_sliderBtn-prev
            .Rent_sliderBtn.Rent_sliderBtn-next
            .Rent_slidesAmount.Rent_slidesAmount-mobile
              .Rent_slideCurrent 02
              .Rent_slideTotal / <span>08</span>

        .Rent_title Самые <span>лучшие</span> предложения
        .Rent_items
          .Rent_item
            .Rent_itemImgWrp
              .Rent_itemImg(style="background-image:url(/img/about_image_6.jpg)")
              .Rent_itemAmount
                span 61
                div Вариант
            .Rent_itemInfo
              .Rent_itemTitle Roza Rossa
              .Rent_infoRow
                .Rent_infoTitle Площадь, м<sup>2</sup>:
                .Rent_infoValue от 28,18 до 162,66
              .Rent_infoRow
                .Rent_infoTitle Цена ₽:
                .Rent_infoValue от 30 723 780 до 111 211 100
              .Rent_infoLined
                .Rent_infoPlace Зубовская, дом 7
              .Rent_infoDesc Премиальный комплекс апартаментов в Хамовниках

              .Rent_infoBtns
                a(href="").Btn.Rent_callbackBtn Обратный звонок
                a(href="").Btn.Rent_infoMore.Rent_infoMore-red Описание проекта
                  include ././../assets/img/arrow_right_sm.svg

            .Rent_itemOptions
              .Rent_optionsRow.Rent_optionsRow-head
                .Rent_optionsItem Лот
                .Rent_optionsItem Назначение
                .Rent_optionsItem Тип
                .Rent_optionsItem Этаж
                .Rent_optionsItem Площадь, м<sup>2</sup>
                .Rent_optionsItem Цена за м<sup>2</sup>
                .Rent_optionsItem Стоимость
                .Rent_optionsItem Статус

              .Rent_optionsRow
                .Rent_optionsItem 1
                .Rent_optionsItem Апартаменты
                .Rent_optionsItem Классические
                .Rent_optionsItem 2
                .Rent_optionsItem 128,28
                .Rent_optionsItem -
                .Rent_optionsItem по запросу
                .Rent_optionsItem Свободна

              .Rent_optionsRow
                .Rent_optionsItem 2
                .Rent_optionsItem Апартаменты
                .Rent_optionsItem Классические
                .Rent_optionsItem 2
                .Rent_optionsItem 75,52
                .Rent_optionsItem -
                .Rent_optionsItem по запросу
                .Rent_optionsItem Свободна

              .Rent_optionsRow
                .Rent_optionsItem 3
                .Rent_optionsItem Апартаменты
                .Rent_optionsItem Классические
                .Rent_optionsItem 2
                .Rent_optionsItem 122,95
                .Rent_optionsItem -
                .Rent_optionsItem по запросу
                .Rent_optionsItem Свободна

              .Rent_optionsHidden
                .Rent_optionsRow
                  .Rent_optionsItem 2
                  .Rent_optionsItem Апартаменты
                  .Rent_optionsItem Классические
                  .Rent_optionsItem 2
                  .Rent_optionsItem 75,52
                  .Rent_optionsItem -
                  .Rent_optionsItem по запросу
                  .Rent_optionsItem Свободна

                .Rent_optionsRow
                  .Rent_optionsItem 3
                  .Rent_optionsItem Апартаменты
                  .Rent_optionsItem Классические
                  .Rent_optionsItem 2
                  .Rent_optionsItem 122,95
                  .Rent_optionsItem -
                  .Rent_optionsItem по запросу
                  .Rent_optionsItem Свободна

              .Rent_optionsMore
                .Rent_optionsMoreBtn
                  div Развернуть еще <span>58</span>
                  include ././../assets/img/arrow_right_sm.svg

          .Rent_item
            .Rent_itemImgWrp
              .Rent_itemImg(style="background-image:url(/img/rent_rassvet.png)")
              .Rent_itemAmount
                span 123
                div Варианта
            .Rent_itemInfo
              .Rent_itemTitle Рассвет
              .Rent_infoRow
                .Rent_infoTitle Площадь, м<sup>2</sup>:
                .Rent_infoValue от 56,80 до 353,60
              .Rent_infoRow
                .Rent_infoTitle Цена ₽:
                .Rent_infoValue от 21 914 648 до 114 136 040
              .Rent_infoLined
                .Rent_infoPlace Столярный переулок, дом 3, кв 34
              .Rent_infoDesc Клубный комплекс РАССВЕТ Loft Studio — это один из самых интересных лофт-проектов Москвы, удачно расположенный в самом центре-районе Красная Пресня.

              .Rent_infoBtns
                a(href="").Btn.Rent_callbackBtn Обратный звонок
                a(href="").Btn.Rent_infoMore.Rent_infoMore-red Описание проекта
                  include ././../assets/img/arrow_right_sm.svg

            .Rent_itemOptions
              .Rent_optionsRow.Rent_optionsRow-head
                .Rent_optionsItem Лот
                .Rent_optionsItem Назначение
                .Rent_optionsItem Тип
                .Rent_optionsItem Этаж
                .Rent_optionsItem Площадь, м<sup>2</sup>
                .Rent_optionsItem Цена за м<sup>2</sup>
                .Rent_optionsItem Стоимость
                .Rent_optionsItem Статус

              .Rent_optionsRow
                .Rent_optionsItem 24
                .Rent_optionsItem Апартаменты, Лофты/студии
                .Rent_optionsItem Двухуровневые
                .Rent_optionsItem 2
                .Rent_optionsItem 128,28
                .Rent_optionsItem 404 610 ₽
                .Rent_optionsItem 49 500 000 ₽
                .Rent_optionsItem Свободна

              .Rent_optionsRow
                .Rent_optionsItem 59
                .Rent_optionsItem Апартаменты, Лофты/студии
                .Rent_optionsItem Двухуровневые
                .Rent_optionsItem 4/5
                .Rent_optionsItem 75,52
                .Rent_optionsItem.Rent_optionsItem-red 342 000 ₽
                .Rent_optionsItem.Rent_optionsItem-red 53 527 788 ₽
                .Rent_optionsItem Свободна

              .Rent_optionsRow
                .Rent_optionsItem 63
                .Rent_optionsItem Апартаменты, Лофты/студии
                .Rent_optionsItem Двухуровневые, Мансарда
                .Rent_optionsItem 5
                .Rent_optionsItem 122,95
                .Rent_optionsItem 404 610 ₽
                .Rent_optionsItem 45 500 000 ₽
                .Rent_optionsItem Свободна

              .Rent_optionsHidden
                .Rent_optionsRow
                  .Rent_optionsItem 46
                  .Rent_optionsItem Апартаменты, Лофты/студии
                  .Rent_optionsItem Двухуровневые
                  .Rent_optionsItem 2
                  .Rent_optionsItem 75,52
                  .Rent_optionsItem 404 610 ₽
                  .Rent_optionsItem по запросу
                  .Rent_optionsItem Свободна

                .Rent_optionsRow
                  .Rent_optionsItem 73
                  .Rent_optionsItem Апартаменты, Лофты/студии
                  .Rent_optionsItem Двухуровневые
                  .Rent_optionsItem 3
                  .Rent_optionsItem 122,95
                  .Rent_optionsItem 404 610 ₽
                  .Rent_optionsItem по запросу
                  .Rent_optionsItem Свободна

              .Rent_optionsMore
                .Rent_optionsMoreBtn
                  div Развернуть еще <span>120</span>
                  include ././../assets/img/arrow_right_sm.svg

          .Rent_item.Rent_item-done
            .Rent_itemStatus Проект реализован
            .Rent_itemImgWrp
              .Rent_itemImg(style="background-image:url(/img/about_image_6.jpg)")
              .Rent_itemAmount
                span 1
                div Вариант
            .Rent_itemInfo
              .Rent_itemTitle Roza Rossa
              .Rent_infoRow
                .Rent_infoTitle Площадь, м<sup>2</sup>:
                .Rent_infoValue 150
              .Rent_infoRow
                .Rent_infoTitle Цена ₽:
                .Rent_infoValue 89 500 000
              .Rent_infoLined
                .Rent_infoPlace 3-1 Кадашевский переулок, дом 7/9, стр. 1
              .Rent_infoDesc В Клубном доме "Кадашевские палаты" продается двухуровневая мансарда с окнами на 3-й Кадашевсий пер и видами на Кремль. 2 машиноместа в подземном паркинге дополнительно.

              .Rent_infoBtns
                a(href="").Btn.Rent_callbackBtn Обратный звонок
                a(href="").Btn.Rent_infoMore.Rent_infoMore-red Описание проекта
                  include ././../assets/img/arrow_right_sm.svg

            .Rent_itemOptions
              .Rent_optionsRow.Rent_optionsRow-head
                .Rent_optionsItem Лот
                .Rent_optionsItem Назначение
                .Rent_optionsItem Тип
                .Rent_optionsItem Этаж
                .Rent_optionsItem Площадь, м<sup>2</sup>
                .Rent_optionsItem Цена за м<sup>2</sup>
                .Rent_optionsItem Стоимость
                .Rent_optionsItem Статус

              .Rent_optionsRow
                .Rent_optionsItem 1
                .Rent_optionsItem Апартаменты
                .Rent_optionsItem Классические
                .Rent_optionsItem 2
                .Rent_optionsItem 128,28
                .Rent_optionsItem -
                .Rent_optionsItem 89 500 000 ₽
                .Rent_optionsItem Свободна

block page_bottom
  script(src="/js/rent.js")