extends layout
block vars
  - var title = "Отзывы жителей KR-pro";
block content
  .PageHead(style="background-image:url(img/reviews_image_1.jpg)")
    h1.PageHead_title #{title}
    h2.PageHead_subTitle Звёздные хозяева о том, почему они выбрали нас
  .Box
    .Breadcrumbs
      ul.Breadcrumbs_list
        li.Breadcrumbs_item
          a(href='/') Главная
        li.Breadcrumbs_item.Breadcrumbs_item-active
          a(href='reviews.html') Отзывы жителей KR-pro
      ul.Breadcrumbs_list
        li.Breadcrumbs_item
          a(href='about.html') О компании
        li.Breadcrumbs_item
          a(href='rewards.html') Награды
        li.Breadcrumbs_item
          a(href='partners.html') Партнеры
        li.Breadcrumbs_item
          a(href='our_team.html') Команда
  .PageContent
    .Box
      include includes/blocks/Reviews/Reviews
block page_bottom
