extends layout
block vars
    - var title = "Награды";
block content
    .PageHead(style="background-image:url(/tmp/pageHead/1.jpg)")
        h1.PageHead_title #{title}
    .Box
        include includes/blocks/breadcrumbs/breadcrumbs
    .PageContent
        .Box
            .Rewards
                .Rewards_items
                    .Rewards_item.Rewards_item-main
                        .Rewards_itemPhotoWrp
                            .Rewards_itemPhoto(style="background-image: url(/img/reward_photo.png)")
                        .Rewards_itemDate
                            span 2016
                        .Rewards_itemContent
                            a(href='').Rewards_itemTitle Национальная премия бизнес-коммуникаций
                            .Rewards_itemText Андрей Патрушев, директор департамента по маркетингу и PR компании KR Properties, был признан лучшим специалистом по маркетингу в сфере недвижимости.

                    .Rewards_item
                        .Rewards_itemContent
                            a(href='').Rewards_itemTitle Proestate
                            .Rewards_itemText На церемонии вручения премии PROESTATE AWARDS 2016 "Лучшие за 10 лет", деловой квартал "Красная роза" был признан лучшим проектом десятилетия на рынке офисной недвижимости.
                        .Rewards_itemImgWrp
                            .Rewards_itemImg(style="background-image: url(/img/reward_1.png)")
                        .Rewards_itemDate
                            span 2016

                    .Rewards_item.Rewards_item-reverse
                        .Rewards_itemContent
                            a(href='').Rewards_itemTitle Proestate
                            .Rewards_itemText На церемонии вручения премии PROESTATE AWARDS 2016 "Лучшие за 10 лет", Loft-квартал "Даниловская мануфактура" занял 1 место в номинации "Лучший проект редевелопмента".
                        .Rewards_itemImgWrp
                            .Rewards_itemImg(style="background-image: url(/img/reward_1.png)")
                        .Rewards_itemDate
                            span 2016

                    .Rewards_item
                        .Rewards_itemContent
                            a(href='').Rewards_itemTitle Рекорды рынка недвижимости
                            .Rewards_itemText Памятник архитектуры "Картинная галерея фабрики К. Жиро" был удостоен наивысшей награды в номинации "Наследие и Реставрация".
                        .Rewards_itemImgWrp
                            .Rewards_itemImg(style="background-image: url(/img/reward_2.png)")
                        .Rewards_itemDate
                            span 2015

                    .Rewards_item.Rewards_item-reverse
                        .Rewards_itemContent
                            a(href='').Rewards_itemTitle Commercial Real Estate Moscow Awards
                            .Rewards_itemText «Сделка года – Аренда – Офисная недвижимость». Пакетное соглашение на аренду 53 543 м  в деловом квартале «Красная Роза 1875», заключенное KR Properties и IT-компанией «Яндекс» — лидером российской IT-индустрии.
                        .Rewards_itemImgWrp
                            .Rewards_itemImg(style="background-image: url(/img/reward_3.png)")
                        .Rewards_itemDate
                            span 2014

                .Rewards_more
                    a(href="") Показать еще
                .Rewards_items.Rewards_items-more(style="display:none;")
                    .Rewards_item
                        .Rewards_itemContent
                            a(href='').Rewards_itemTitle Proestate
                            .Rewards_itemText На церемонии вручения премии PROESTATE AWARDS 2016 "Лучшие за 10 лет", деловой квартал "Красная роза" был признан лучшим проектом десятилетия на рынке офисной недвижимости.
                        .Rewards_itemImgWrp
                            .Rewards_itemImg(style="background-image: url(/img/reward_1.png)")
                        .Rewards_itemDate
                            span 2016

                    .Rewards_item.Rewards_item-reverse
                        .Rewards_itemContent
                            a(href='').Rewards_itemTitle Proestate
                            .Rewards_itemText На церемонии вручения премии PROESTATE AWARDS 2016 "Лучшие за 10 лет", Loft-квартал "Даниловская мануфактура" занял 1 место в номинации "Лучший проект редевелопмента".
                        .Rewards_itemImgWrp
                            .Rewards_itemImg(style="background-image: url(/img/reward_1.png)")
                        .Rewards_itemDate
                            span 2016

block page_bottom
    script(src="/js/rewards.js")