extends layout
block vars
  - var title = "Продажа"
  -
    var cards1 = [
      {
      link: "#itemLink1",
      img: "img/about_image_4.jpg",
      amount: "8",
      title: "Демидов",
      quality: "Класс А+",
      squareFrom: "82,53",
      squareTo: "280",
      address: "ул. Тимура Фрунзе, д.11",
      metro: "Парк Культуры",
      metroColor: "#87412b",
      desc: "Бизнес-центр «Демидов» — флагманский проект, задающий новое направление развития российского делового рынка недвижимости."
      },
      {
      link: "#itemLink2",
      img: "img/about_image_4.jpg",
      amount: "2",
      title: "Мамонтов",
      quality: "Класс B+",
      squareFrom: "421,75",
      address: "ул. Тимура Фрунзе, д.11",
      metro: "Парк Культуры",
      metroColor: "#87412b",
      desc: "Бизнес-центр «Мамонтов» является первым реновированным зданием на территории делового квартала."
      },
      {
      link: "#itemLink3",
      img: "img/about_image_4.jpg",
      amount: "1",
      title: "Корпус «Кноп»",
      quality: "Класс А+",
      squareTo: "280",
      address: "Варшавское ш., 9, стр. 1",
      metro: "Тульская",
      metroColor: "#707070",
      desc: "Корпус «Кноп» — одно из самых больших строений квартала. Соединение творческой атмосферы и брутального минимализма."
      },
      {
      link: "#itemLink4",
      img: "img/about_image_4.jpg",
      amount: "23",
      title: "Мещерин",
      quality: "Класс B+",
      squareFrom: "421,75",
      squareTo: "787,30",
      address: "Варшавское ш., 9, стр. 1",
      metro: "Тульская",
      metroColor: "#eb142a",
      desc: "Корпус «Мещерин» — самое масштабное здание квартала 'Даниловская мануфактура'."
      },
      {
      link: "#itemLink3",
      img: "img/about_image_4.jpg",
      amount: "5",
      title: "Корпус «Кноп»",
      quality: "Класс А+",
      squareFrom: "82,53",
      squareTo: "280",
      address: "Варшавское ш., 9, стр. 1",
      metro: "Тульская",
      metroColor: "#707070",
      desc: "Корпус «Кноп» — одно из самых больших строений квартала. Соединение творческой атмосферы и брутального минимализма."
      },
      {
      link: "#itemLink4",
      img: "img/about_image_4.jpg",
      amount: "28",
      title: "Мещерин",
      quality: "Класс B+",
      squareFrom: "421,75",
      squareTo: "787,30",
      address: "Варшавское ш., 9, стр. 1",
      metro: "Тульская",
      metroColor: "#707070",
      desc: "Корпус «Мещерин» — самое масштабное здание квартала 'Даниловская мануфактура'."
      },
      {
      link: "#itemLink3",
      img: "img/about_image_4.jpg",
      amount: "5",
      title: "Корпус «Кноп»",
      quality: "Класс А+",
      squareFrom: "82,53",
      squareTo: "280",
      address: "Варшавское ш., 9, стр. 1",
      metro: "Тульская",
      metroColor: "#707070",
      desc: "Корпус «Кноп» — одно из самых больших строений квартала. Соединение творческой атмосферы и брутального минимализма."
      },
      {
      link: "#itemLink4",
      img: "img/about_image_4.jpg",
      amount: "28",
      title: "Мещерин",
      quality: "Класс B+",
      squareFrom: "421,75",
      squareTo: "787,30",
      address: "Варшавское ш., 9, стр. 1",
      metro: "Тульская",
      metroColor: "#707070",
      desc: "Корпус «Мещерин» — самое масштабное здание квартала 'Даниловская мануфактура'."
      },
      {
      link: "#itemLink3",
      img: "img/about_image_4.jpg",
      amount: "5",
      title: "Корпус «Кноп»",
      quality: "Класс А+",
      squareFrom: "82,53",
      squareTo: "280",
      address: "Варшавское ш., 9, стр. 1",
      metro: "Тульская",
      metroColor: "#707070",
      desc: "Корпус «Кноп» — одно из самых больших строений квартала. Соединение творческой атмосферы и брутального минимализма."
      },
      {
      link: "#itemLink4",
      img: "img/about_image_4.jpg",
      amount: "28",
      title: "Мещерин",
      quality: "Класс B+",
      squareFrom: "421,75",
      squareTo: "787,30",
      address: "Варшавское ш., 9, стр. 1",
      metro: "Тульская",
      metroColor: "#707070",
      desc: "Корпус «Мещерин» — самое масштабное здание квартала 'Даниловская мануфактура'."
      }
    ]
block content
  .PageHead(style="background-image:url(/tmp/pageHead/1.jpg)")
    h1.PageHead_title #{title}
  .Sale
    .Box
      .Breadcrumbs
        ul.Breadcrumbs_list
          li.Breadcrumbs_item
            a(href='/') Главная
          li.Breadcrumbs_item.Breadcrumbs_item-active
            a(href='/sale.html') Продажа

      .Sale_wrp
        //- .Sale_offer
          .Sale_title Предложения на продажу в <span>DEPRE</span>
          a(href="#").Btn.Sale_filterBtn Перейти к фильтру

          .Sale_offerBlock
            .Sale_offerBlockTitle Клубный дом на <span>Петровском бульваре</span>

            .Sale_offerItem
              .Sale_offerItemLabel
                span 9
                div Вариантов

              .Sale_offerItemImagesWrp
                .Sale_offerItemTitle DEPRE
                .Sale_offerItemImages
                  div.Sale_offerImage.Sale_offerImage-active
                    div.Sale_offerImageMain
                      img(src='/img/sale_plan.png')
                    div.Sale_offerImageSub
                      div
                        img(src='/img/sale_level_plan.png')
                      div
                        img(src='/img/sale_compass.png')
                  div.Sale_offerImage
                    div.Sale_offerImageMain
                      img(src='/img/sale_plan.png')
                    div.Sale_offerImageSub
                      div
                        img(src='/img/sale_level_plan.png')
                      div
                        img(src='/img/sale_compass.png')
                  div.Sale_offerImage
                    div.Sale_offerImageMain
                      img(src='/img/sale_plan.png')
                    div.Sale_offerImageSub
                      div
                        img(src='/img/sale_level_plan.png')
                      div
                        img(src='/img/sale_compass.png')
                .Sale_offerBtns
                  .Sale_offerBtn.Sale_offerBtn-active С мебелью (1)
                  .Sale_offerBtn С мебелью (2)
                  .Sale_offerBtn Без мебели

              .Sale_offerItemInfo
                .Sale_offerSelects
                  .Sale_offerSelect
                    .Sale_offerSelectTitle Этаж:
                    .Sale_offerSelectBtns
                      .Sale_offerSelectBtn.Sale_offerSelectBtn-prev
                      .Sale_offerSelectCount 4
                      .Sale_offerSelectBtn.Sale_offerSelectBtn-next
                  .Sale_offerSelect
                    .Sale_offerSelectTitle Квартира №:
                    .Sale_offerSelectBtns
                      .Sale_offerSelectBtn.Sale_offerSelectBtn-prev
                      .Sale_offerSelectCount 304
                      .Sale_offerSelectBtn.Sale_offerSelectBtn-next
                .Sale_offerItemContent
                  .Sale_offerRow
                    .Sale_offerRowTitle Квартира №:
                    .Sale_offerRowValue.Sale_offerRowValue-red 304
                  .Sale_offerRow
                    .Sale_offerRowTitle Количество спален:
                    .Sale_offerRowValue 4
                  .Sale_offerRow
                    .Sale_offerRowTitle Площадь общая, м²:
                    .Sale_offerRowValue 177,51 м²
                .Sale_offerItemLinks
                  a.Sale_offerPdf(href='')
                    img(src='/img/pdf-ico.png')
                    span PDF планировки
                  a.Sale_offerManager(href='') Связаться с менеджером
                .Sale_offerItemBtn
                  a(href='#').Button.Sale_offerManagerMob Связаться с менеджером
                  a(href="#").Button.Button-icon.Button-actionIcon
                    span Узнать подробнее
                    span.Button_icon
                      include ././../assets/img/arrow_right_sm.svg

        .Sale_rent
          .Sale_title Аренда <span>коммерческих помещений</span> в Москве

          .Sale_rentBlocks
            .Sale_rentWrp
              .Sale_rentBanner(style='background-image:url(/img/about_image_4.jpg)')
                .Sale_rentBannerHalf
                  .Sale_rentBannerTitle Красная роза
                  .Sale_rentBannerSubTitle Деловой квартал
                  .Sale_slidesAmount
                    .Sale_slideCurrent 03
                    .Sale_slideTotal /&nbsp
                      span 11
                .Sale_rentBannerHalf
                  .Sale_rentBannerDesc
                    .Sale_rentBannerDescText Общая площадь зданий в квартале: &nbsp
                      span 137 000 м²
                    .Sale_rentBannerDescText 11 бизнес-центров классов: &nbsp
                      span A+, A, B+, B
                  .Sale_rentBannerText Деловой квартал «Красная Роза» — грандиозный проект перевоплощения бывшего промышленного района в историческом центре Москвы, осуществленный компанией KR Properties с применением передовых инженерных решений и учётом последних трендов мировой урбанистики.
                  .Sale_rentBtn
                    a(href="#").Button.Button-icon.Button-actionIcon
                      span Узнать о проекте
                      span.Button_icon
                        include ././../assets/img/arrow_right_sm.svg

              .Sale_rentSlider
                .Sale_rentSliderBtn.Sale_rentSliderBtn-prev
                .Sale_slidesAmount.Sale_slidesAmount-mobile
                  .Sale_slideCurrent 03
                  .Sale_slideTotal /&nbsp
                    span 11
                .Sale_rentSliderBtn.Sale_rentSliderBtn-next
                .swiper-container
                  .swiper-wrapper
                    +card(cards1, 'swiper-slide Sale_rentItem')

            .Sale_rentWrp
              .Sale_rentBanner(style='background-image:url(/img/about_image_4.jpg)')
                .Sale_rentBannerHalf
                  .Sale_rentBannerTitle DM
                  .Sale_rentBannerSubTitle Даниловская мануфактура
                  .Sale_slidesAmount
                    .Sale_slideCurrent 03
                    .Sale_slideTotal /&nbsp
                      span 11
                .Sale_rentBannerHalf
                  .Sale_rentBannerDesc Общая площадь зданий в квартале: &nbsp
                    span 110 496 м²
                  .Sale_rentBannerDesc 11 бизнес-центров классов: &nbsp
                    span B+, B
                  .Sale_rentBannerText «Даниловская мануфактура» — особое место в Москве. Этот деловой квартал в стиле loft специально создан для людей, которым важны эмоции, Чей бизнес строится на вдохновении и творчестве, чем бы они не занимались.
                  .Sale_rentBtn
                    a(href="#").Button.Button-icon.Button-actionIcon
                      span Узнать о проекте
                      span.Button_icon
                        include ././../assets/img/arrow_right_sm.svg

              .Sale_rentSlider
                .Sale_rentSliderBtn.Sale_rentSliderBtn-prev
                .Sale_slidesAmount.Sale_slidesAmount-mobile
                  .Sale_slideCurrent 03
                  .Sale_slideTotal /&nbsp
                    span 11
                .Sale_rentSliderBtn.Sale_rentSliderBtn-next
                .swiper-container
                  .swiper-wrapper
                    +card(cards1, 'swiper-slide Sale_rentItem')

          .Sale_separate
            .Sale_title Отдельно стоящие <span>Бизнес-центры</span>
            .Sale_separateAmount
              .Sale_slideCurrent 03
              .Sale_slideTotal /&nbsp
                span 11
            .Sale_separateContent
              .Sale_separateItems
                .Card
                  a(href='#itemLink').Card_link
                    .Button.Button-icon.Button-actionIcon.Button-fill.Card_btn
                      | Посмотреть проект
                      span.Button_icon
                        include ./includes/svg/arrow_right_sm.svg
                  .Card_wrp
                    .Card_img(style='background-image:url(img/about_image_4.jpg)')
                      .Card_amount
                        span 1
                        div Вариант
                    .Card_content
                      .Card_title Деловой дом Domino
                      .Card_info
                        span.Card_class Класс А
                        span 60,74 м²
                      .Card_place.Card_place-loc ул. Пятницкая, д. 74
                      .Card_place.Card_place-metro
                        span Добрынинская, Серпуховская
                        span.Card_placeColor(style='background: #87412b')
                      p Бизнес-центр «Демидов» — флагманский проект, задающий новое направление развития российского делового рынка недвижимости.
                .Card
                  a(href='#itemLink').Card_link
                    .Button.Button-icon.Button-actionIcon.Button-fill.Card_btn
                      | Посмотреть проект
                      span.Button_icon
                        include ./includes/svg/arrow_right_sm.svg
                  .Card_wrp
                    .Card_img(style='background-image:url(img/about_image_4.jpg)')
                      .Card_amount
                        span 1
                        div Вариант
                    .Card_content
                      .Card_title Деловой дом Domino
                      .Card_info
                        span.Card_class Класс А
                        span 60,74 м²
                      .Card_place.Card_place-loc ул. Пятницкая, д. 74
                      .Card_place.Card_place-metro
                        span Добрынинская, Серпуховская
                        span.Card_placeColor(style='background: #87412b')
                      p Бизнес-центр «Демидов» — флагманский проект, задающий новое направление развития российского делового рынка недвижимости.
                .Card
                  a(href='#itemLink').Card_link
                    .Button.Button-icon.Button-actionIcon.Button-fill.Card_btn
                      | Посмотреть проект
                      span.Button_icon
                        include ./includes/svg/arrow_right_sm.svg
                  .Card_wrp
                    .Card_img(style='background-image:url(img/about_image_4.jpg)')
                      .Card_amount
                        span 1
                        div Вариант
                    .Card_content
                      .Card_title Деловой дом Domino
                      .Card_info
                        span.Card_class Класс А
                        span 60,74 м²
                      .Card_place.Card_place-loc ул. Пятницкая, д. 74
                      .Card_place.Card_place-metro
                        span Добрынинская, Серпуховская
                        span.Card_placeColor(style='background: #87412b')
                      p Бизнес-центр «Демидов» — флагманский проект, задающий новое направление развития российского делового рынка недвижимости.
                .Card
                  a(href='#itemLink').Card_link
                    .Button.Button-icon.Button-actionIcon.Button-fill.Card_btn
                      | Посмотреть проект
                      span.Button_icon
                        include ./includes/svg/arrow_right_sm.svg
                  .Card_wrp
                    .Card_img(style='background-image:url(img/about_image_4.jpg)')
                      .Card_amount
                        span 1
                        div Вариант
                    .Card_content
                      .Card_title Деловой дом Domino
                      .Card_info
                        span.Card_class Класс А
                        span 60,74 м²
                      .Card_place.Card_place-loc ул. Пятницкая, д. 74
                      .Card_place.Card_place-metro
                        span Добрынинская, Серпуховская
                        span.Card_placeColor(style='background: #87412b')
                      p Бизнес-центр «Демидов» — флагманский проект, задающий новое направление развития российского делового рынка недвижимости.
                .Card
                  a(href='#itemLink').Card_link
                    .Button.Button-icon.Button-actionIcon.Button-fill.Card_btn
                      | Посмотреть проект
                      span.Button_icon
                        include ./includes/svg/arrow_right_sm.svg
                  .Card_wrp
                    .Card_img(style='background-image:url(img/about_image_4.jpg)')
                      .Card_amount
                        span 1
                        div Вариант
                    .Card_content
                      .Card_title Деловой дом Domino
                      .Card_info
                        span.Card_class Класс А
                        span 60,74 м²
                      .Card_place.Card_place-loc ул. Пятницкая, д. 74
                      .Card_place.Card_place-metro
                        span Добрынинская, Серпуховская
                        span.Card_placeColor(style='background: #87412b')
                      p Бизнес-центр «Демидов» — флагманский проект, задающий новое направление развития российского делового рынка недвижимости.
                .Card
                  a(href='#itemLink').Card_link
                    .Button.Button-icon.Button-actionIcon.Button-fill.Card_btn
                      | Посмотреть проект
                      span.Button_icon
                        include ./includes/svg/arrow_right_sm.svg
                  .Card_wrp
                    .Card_img(style='background-image:url(img/about_image_4.jpg)')
                      .Card_amount
                        span 1
                        div Вариант
                    .Card_content
                      .Card_title Деловой дом Domino
                      .Card_info
                        span.Card_class Класс А
                        span 60,74 м²
                      .Card_place.Card_place-loc ул. Пятницкая, д. 74
                      .Card_place.Card_place-metro
                        span Добрынинская, Серпуховская
                        span.Card_placeColor(style='background: #87412b')
                      p Бизнес-центр «Демидов» — флагманский проект, задающий новое направление развития российского делового рынка недвижимости.
                .Card
                  a(href='#itemLink').Card_link
                    .Button.Button-icon.Button-actionIcon.Button-fill.Card_btn
                      | Посмотреть проект
                      span.Button_icon
                        include ./includes/svg/arrow_right_sm.svg
                  .Card_wrp
                    .Card_img(style='background-image:url(img/about_image_4.jpg)')
                      .Card_amount
                        span 1
                        div Вариант
                    .Card_content
                      .Card_title Деловой дом Domino
                      .Card_info
                        span.Card_class Класс А
                        span 60,74 м²
                      .Card_place.Card_place-loc ул. Пятницкая, д. 74
                      .Card_place.Card_place-metro
                        span Добрынинская, Серпуховская
                        span.Card_placeColor(style='background: #87412b')
                      p Бизнес-центр «Демидов» — флагманский проект, задающий новое направление развития российского делового рынка недвижимости.
                .Card
                  a(href='#itemLink').Card_link
                    .Button.Button-icon.Button-actionIcon.Button-fill.Card_btn
                      | Посмотреть проект
                      span.Button_icon
                        include ./includes/svg/arrow_right_sm.svg
                  .Card_wrp
                    .Card_img(style='background-image:url(img/about_image_4.jpg)')
                      .Card_amount
                        span 1
                        div Вариант
                    .Card_content
                      .Card_title Деловой дом Domino
                      .Card_info
                        span.Card_class Класс А
                        span 60,74 м²
                      .Card_place.Card_place-loc ул. Пятницкая, д. 74
                      .Card_place.Card_place-metro
                        span Добрынинская, Серпуховская
                        span.Card_placeColor(style='background: #87412b')
                      p Бизнес-центр «Демидов» — флагманский проект, задающий новое направление развития российского делового рынка недвижимости.
                .Card
                  a(href='#itemLink').Card_link
                    .Button.Button-icon.Button-actionIcon.Button-fill.Card_btn
                      | Посмотреть проект
                      span.Button_icon
                        include ./includes/svg/arrow_right_sm.svg
                  .Card_wrp
                    .Card_img(style='background-image:url(img/about_image_4.jpg)')
                      .Card_amount
                        span 1
                        div Вариант
                    .Card_content
                      .Card_title Деловой дом Domino
                      .Card_info
                        span.Card_class Класс А
                        span 60,74 м²
                      .Card_place.Card_place-loc ул. Пятницкая, д. 74
                      .Card_place.Card_place-metro
                        span Добрынинская, Серпуховская
                        span.Card_placeColor(style='background: #87412b')
                      p Бизнес-центр «Демидов» — флагманский проект, задающий новое направление развития российского делового рынка недвижимости.
                .Card
                  a(href='#itemLink').Card_link
                    .Button.Button-icon.Button-actionIcon.Button-fill.Card_btn
                      | Посмотреть проект
                      span.Button_icon
                        include ./includes/svg/arrow_right_sm.svg
                  .Card_wrp
                    .Card_img(style='background-image:url(img/about_image_4.jpg)')
                      .Card_amount
                        span 1
                        div Вариант
                    .Card_content
                      .Card_title Деловой дом Domino
                      .Card_info
                        span.Card_class Класс А
                        span 60,74 м²
                      .Card_place.Card_place-loc ул. Пятницкая, д. 74
                      .Card_place.Card_place-metro
                        span Добрынинская, Серпуховская
                        span.Card_placeColor(style='background: #87412b')
                      p Бизнес-центр «Демидов» — флагманский проект, задающий новое направление развития российского делового рынка недвижимости.
                .Card
                  a(href='#itemLink').Card_link
                    .Button.Button-icon.Button-actionIcon.Button-fill.Card_btn
                      | Посмотреть проект
                      span.Button_icon
                        include ./includes/svg/arrow_right_sm.svg
                  .Card_wrp
                    .Card_img(style='background-image:url(img/about_image_4.jpg)')
                      .Card_amount
                        span 1
                        div Вариант
                    .Card_content
                      .Card_title Деловой дом Domino
                      .Card_info
                        span.Card_class Класс А
                        span 60,74 м²
                      .Card_place.Card_place-loc ул. Пятницкая, д. 74
                      .Card_place.Card_place-metro
                        span Добрынинская, Серпуховская
                        span.Card_placeColor(style='background: #87412b')
                      p Бизнес-центр «Демидов» — флагманский проект, задающий новое направление развития российского делового рынка недвижимости.
            .Sale_separateMore
              span
                span  Развернуть
                span  Свернуть

block page_bottom
  script(src="/js/sale.js")