a.Button(href="")
  | Стандартная кнопка

a.Button.Button-white(href="")
  | Белая кнопка

a.Button.Button-icon(href="")
  | Стандартная c иконкой
  span.Button_icon
    include ./../../../includes/svg/close.svg

a.Button.Button-white.Button-icon(href="")
  | Белая с иконкой
  span.Button_icon
    include ./../../../includes/svg/close.svg

a.Button.Button-icon.Button-actionIcon(href="")
  | Стандартная со стрелкой
  span.Button_icon
    include ./../../../includes/svg/arrow_right_sm.svg

a.Button.Button-white.Button-icon.Button-actionIcon(href="")
  | Белая со стрелкой
  span.Button_icon
    include ./../../../includes/svg/arrow_right_sm.svg

a.Button.Button-hot(href="")
  | С красным текстом

a.Button.Button-fill.Button-icon(href="")
  | C заливкой
  span.Button_icon
    include ./../../../includes/svg/arrow_down_sm.svg