html
    height 100%
    background-color #fff
body
    font-size 14px
    min-height 100%
    color #000
    font-family 'Gilroy'
    background-color #1d1c20

.rubSign
    display inline
    font-family Gilroy