.fancybox
    &-content
        font-family 'Gilroy'
    &-close-small
        width 60px
        height 60px
        background #000
        position absolute
        right -60px
        top 0
        color #fff
        @media $smMinus
            right 0
            width 42px
            height 42px
    &-content
        overflow visible
/*    &-slide--html
        padding 66px 6px*/