// START: PF Regal Text Pro
@font-face
    font-family 'PF Regal Text Pro'
    src url('../fonts/PFRegalTextPro-RegularB.woff2') format('woff2'),
        url('../fonts/PFRegalTextPro-RegularB.woff') format('woff')
    font-weight 400
    font-style normal

@font-face
    font-family 'PF Regal Text Pro'
    src url('../fonts/PFRegalTextPro-RegularA.woff2') format('woff2'),
        url('../fonts/PFRegalTextPro-RegularA.woff') format('woff')
    font-weight 300
    font-style normal
// END: PF Regal Text Pro

// START: Gilroy
@font-face
    font-family 'Gilroy'
    src url('../fonts/Gilroy-UltraLight.woff2') format('woff2'),
        url('../fonts/Gilroy-UltraLight.woff') format('woff')
    font-weight 200
    font-style normal

@font-face
    font-family 'Gilroy'
    src url('../fonts/Gilroy-Light.woff2') format('woff2'),
        url('../fonts/Gilroy-Light.woff') format('woff')
    font-weight 300
    font-style normal

@font-face
    font-family 'Gilroy'
    src url('../fonts/Gilroy-Regular.woff2') format('woff2'),
        url('../fonts/Gilroy-Regular.woff') format('woff')
    font-weight 400
    font-style normal

@font-face
    font-family 'Gilroy'
    src url('../fonts/Gilroy-Medium.woff2') format('woff2'),
        url('../fonts/Gilroy-Medium.woff') format('woff')
    font-weight 500
    font-style normal

@font-face
    font-family 'Gilroy'
    src url('../fonts/Gilroy-Semibold.woff2') format('woff2'),
        url('../fonts/Gilroy-Semibold.woff') format('woff')
    font-weight 600
    font-style normal

@font-face
    font-family 'Gilroy'
    src url('../fonts/Gilroy-Bold.woff2') format('woff2'),
        url('../fonts/Gilroy-Bold.woff') format('woff')
    font-weight 700
    font-style normal

@font-face
    font-family 'Gilroy'
    src url('../fonts/Gilroy-ExtraBold.woff2') format('woff2'),
        url('../fonts/Gilroy-ExtraBold.woff') format('woff')
    font-weight 800
    font-style normal
// END: Gilroy