.MobMenu
    .MobMenu_topbar(data-fancybox-close)
        button.MobMenu_closeBtn
            span.MobMenu_closeText МЕНЮ
            include ../SvgIco/close.svg
    nav.MobMenu_menu
        ul.MobMenu_menulist
            li.MobMenu_row
                a(href="/rent.html").MobMenu_link Аренда
            li.MobMenu_row
                a(href="/filters.html").MobMenu_link Продажа
            li.MobMenu_row
                span.MobMenu_link.MobMenu_link-withSubmenu Компания
                ul.MobMenu_sublist
                    li.MobMenu_subItem
                        a(href="/developer.html").MobMenu_sublink О компании
                    li.MobMenu_subItem
                        a(href="/our_team.html").MobMenu_sublink Команда
                    li.MobMenu_subItem
                        a(href="/rewards.html").MobMenu_sublink Награды
                    li.MobMenu_subItem
                        a(href="/partners.html").MobMenu_sublink Партнеры
            li.MobMenu_row
                a(href="/contacts.html").MobMenu_link Контакты