.MainContentBlock
  .MainContentBlock_filters
    .Box
      .MainContentBlock_title.TitleHeader2 Выберите себе недвижимость <span>по вкусу:</span>
    .Filters_showAll.Filters_showAll-mainPage
      a.Filters_showAll_btn
        span Развернуть фильтр
        include ././../../../../assets/img/arrow_down_red.svg
    .Filters.Filters-mainPage
      .Box.Filters_box
        form.Filters_form#filter(action="/filters.html", method='get', data-type='no-ajax')
          input(type='hidden', name='curPage', value='1')
          .Filters_select.Filters_select-single
            select(name='dealType' data-placeholder='Продажа')
              option(value='sell' selected) Продажа
              option(value='rent') Аренда
          .Filters_select.Filters_select-single
            select(name='buildType' data-placeholder='Апартаменты')
              option(value='apartments' selected) Апартаменты
              option(value='offices') Офисы
              option(value='floor') Квартира
              option(value='retail') Ритейл
              option(value='penthouse') Пентхаусы
          .Filters_select.Filters_select-single
            select(name='buildCondition' data-placeholder='Состояние дома')
              option(value='condition1' selected) Состояние дома 1
              option(value='condition2') Состояние дома 2
          .Filters_select.Filters_select-single
            select(name='buildDecor' data-placeholder='Тип отделки')
              option(value='decor1' selected) Тип отделки 1
              option(value='decor2') Тип отделки 2
          .Filters_select.Filters_selectRange.Filters_selectRange-square
            .Filters_name Площадь, м<sup>2</sup>
            .Filters_range(data-step='1')
              input(type='hidden' data-min='10' name="squareMin" value='10')
              input(type='hidden' data-max='150' name="squareMax" value='150')
              .Filters_rangeNumbers
                span.Filters_rangeMin
                span.Filters_rangeMax
          .Filters_select.Filters_selectRange.Filters_selectRange-price
            .Filters_name Цена, ₽:
            .Filters_range(data-step='500000')
              input(type='hidden' data-min='2000000' name='priceMin' value='2000000')
              input(type='hidden' data-max='15000000' name='priceMax' value='15000000')
              .Filters_rangeNumbers
                span.Filters_rangeMin
                span.Filters_rangeMax
          .Filters_select.Filters_selectCheck.Filters_selectCheck-rooms
            .Filters_name Апартаменты:
            .Filters_checks
              .Filters_checkbox
                input(type="checkbox" id="room-1" name="rooms[]" value='room1')
                label(for="room-1") 1 комн.
              .Filters_checkbox
                input(type="checkbox" id="room-2" name="rooms[]" value='room2')
                label(for="room-2") 2 комн.
              .Filters_checkbox
                input(type="checkbox" id="room-3" name="rooms[]" value='room3')
                label(for="room-3") 3 комн.
              .Filters_checkbox
                input(type="checkbox" id="room-4" name="rooms[]" value='room4')
                label(for="room-4") 4 комн.
              .Filters_checkbox
                input(type="checkbox" id="room-5" name="rooms[]" value='room5')
                label(for="room-5") 5 комн. и больше

          .Filters_select.Filters_selectCheck.Filters_selectCheck-type
            .Filters_name Виды:
            .Filters_checks
              .Filters_checkbox
                input(type="checkbox" id="type-1" name="type[]" value='penthouses')
                label(for="type-1") Пентхаусы
              .Filters_checkbox
                input(type="checkbox" id="type-2" name="type[]" value='viewsApartments')
                label(for="type-2") Видовые квартиры
              .Filters_checkbox
                input(type="checkbox" id="type-3" name="type[]" value='terrace')
                label(for="type-3") Квартиры с террасой

          .Filters_select.Filters_select-multi.Filters_select-metro
            select(name='metro[]' multiple='multiple' data-placeholder='Метро')
              option(value='metro1') Парк культуры 1
              option(value='metro2') Парк 2
              option(value='metro3') Парк 3
          .Filters_select.Filters_select-multi.Filters_select-complex
            select(name='complex[]' multiple='multiple' data-placeholder='Жилой комплекс')
              option(value='complex1') Жилой комплекс 1
              option(value='complex2') Жилой комплекс 2
              option(value='complex3') Жилой комплекс 3

          .Filters_select.Filters_select-found
            .Filters_found
              | Найдено:
              span

          .Filters_formBottom
            .Filters_formBottomItems
              .Filters_select.Filters_select-multi.Filters_select-rubric
                select(name='rubric[]' multiple='multiple' data-placeholder='Рубрики:')
                  option(value='rubric1') Рубрика 1
                  option(value='rubric2') Рубрика 2
                  option(value='rubric3') Рубрика 3
                  option(value='rubric4') Рубрика 4
                  option(value='rubric5') Рубрика 5
              .Filters_select.Filters_select-single
                select(name='sort' data-placeholder='Сортировка по:')
                  option(value='asc') Сортировка 1
                  option(value='desc') Сортировка 2
              .Filters_btn
                button.Button.Button-icon.Button-actionIcon.Filters_resetBtn(type='reset')
                  | Сбросить фильтр
                  span.Button_icon
                    include ././../../../../assets/img/close.svg
                button.Button.Button-icon.Button-actionIcon(type='submit')
                  | Подобрать
                  span.Button_icon
                    include ../../svg/arrow_right_sm.svg

  .Box
    .MainContentBlock_title.TitleHeader2 <span>Предложение</span> инвесторам
    .MainContentBlock_subTitle
      | Доходность от <b>25% годовых</b>, вложения <span>от 10 млн. ₽</span>
      a.Button.Button-hot.MainContentBlock_subTitle_button(href="")
        | Спецпредложение
    .MainContentBlock_slider.MainContentBlock_slider-big.swiper-container
      .swiper-wrapper
        .MainContentBlock_slide.swiper-slide
          .MainContentBlock_slide_content
            .MainContentBlock_slide_content_item.MainContentBlock_slide_content_item-description
              .MainContentBlock_slide_title
                | DEPRE Винотека
              .MainContentBlock_slide_infoTable
                .MainContentBlock_slide_infoTable_prop
                  .MainContentBlock_slide_infoTable_prop_key
                    | Площадь, м²:
                  .MainContentBlock_slide_infoTable_prop_value
                    | 269, 97 м²
                .MainContentBlock_slide_infoTable_prop
                  .MainContentBlock_slide_infoTable_prop_key
                    | Стоимость:
                  .MainContentBlock_slide_infoTable_prop_value.MainContentBlock_slide_infoTable_prop_value-red
                    | 59 393 400 ₽
                .MainContentBlock_slide_infoTable_prop
                  .MainContentBlock_slide_infoTable_prop_key
                    | Стоимость, м²:
                  .MainContentBlock_slide_infoTable_prop_value
                    | 220 000 ₽
                .MainContentBlock_slide_infoTable_prop
                  .MainContentBlock_slide_infoTable_prop_key
                    | Ставка аренды, м²/год:
                  .MainContentBlock_slide_infoTable_prop_value
                    | 27 500 ₽
              .MainContentBlock_slide_infoTable
                .MainContentBlock_slide_infoTable_prop
                  .MainContentBlock_slide_infoTable_prop_key
                    | Индексация:
                  .MainContentBlock_slide_infoTable_prop_value
                    | 7%
                .MainContentBlock_slide_infoTable_prop
                  .MainContentBlock_slide_infoTable_prop_key
                    | Доход в месяц:
                  .MainContentBlock_slide_infoTable_prop_value
                    | 584 935 ₽
              .MainContentBlock_slide_infoTable
                .MainContentBlock_slide_infoTable_prop
                  .MainContentBlock_slide_infoTable_prop_key
                    span.MainContentBlock_slide_infoTable_prop_key_icon(style="background-image:url(img/map_pin_min.png)")
                    | 1-ый Колобовский, 12 (первая линия)
                  .MainContentBlock_slide_infoTable_prop_value
                    a.Button.Button-fill.Button-min.MainContentBlock_slide_infoTable_onMap(href="#popupMap1" data-latlng='[55.638434, 37.857576]')
                      span На карте
                .MainContentBlock_slide_infoTable_prop
                  .MainContentBlock_slide_infoTable_prop_key
                    span.MainContentBlock_slide_infoTable_prop_key_icon(style="background-image:url(img/metro_min.png)")
                    | Метро Цветной бульвар
                .MainContentBlock_slide_infoTable_prop.MainContentBlock_slide_infoTable_prop-mobile
                  a.Button.Button-fill.Button-min.MainContentBlock_slide_infoTable_onMap(href="#popupMap1" data-latlng='[55.638434, 37.157576]')
                    span На карте
            .MainContentBlock_slide_content_item.MainContentBlock_slide_content_item-img(style="background-image:url(img/main_slider_1.jpg)")
              .MainContentBlock_slide_num
                span.MainContentBlock_slide_num_current 01
                |
                | /
                |
                span.MainContentBlock_slide_num_next 03
            .MainContentBlock_slide_content_item.MainContentBlock_slide_content_item-fullWidth
              .MainContentBlock_slide_content_mainInfo
                .MainContentBlock_slide_content_mainInfo_left
                  .MainContentBlock_slide_content_mainInfo_prop
                    .MainContentBlock_slide_content_mainInfo_prop_key
                      | Окупаемость
                    .MainContentBlock_slide_content_mainInfo_prop_value
                      | 8 лет
                  .MainContentBlock_slide_content_mainInfo_prop
                    .MainContentBlock_slide_content_mainInfo_prop_key
                      | Доходность
                    .MainContentBlock_slide_content_mainInfo_prop_value
                      | 12,5%
                  .MainContentBlock_slide_content_mainInfo_prop
                    .MainContentBlock_slide_content_mainInfo_prop_key
                      | Срок договора
                    .MainContentBlock_slide_content_mainInfo_prop_value
                      | 10 лет
                .MainContentBlock_slide_content_mainInfo_right
                  .MainContentBlock_slide_content_mainInfo_prop-phone
                    .MainContentBlock_slide_content_mainInfo_prop_key
                      span Для получения дополнительной информации об объекте звоните по телефону:
                    .MainContentBlock_slide_content_mainInfo_prop_value
                      a.MainContentBlock_slide_content_mainInfo-phone(href="tel:+74951321491") +7 (495) 132-14-91
                      a.MainContentBlock_slide_content_mainInfo-phoneRequest(href="") Обратный звонок
              .MainContentBlock_slide_content_bottomInfo
                .MainContentBlock_slide_content_bottomInfo_text
                  | Помещение с отельным входом с историческими сводами в дорогом клубном доме на Бульварном кольце.
                .MainContentBlock_slide_content_bottomInfo_buttons
                  a.Button.Button-fill.Button-icon.MainContentBlock_slide_content_downloadButton(href="")
                    | Скачать презентацию
                    span.Button_icon
                      include ./../../../includes/svg/arrow_down_sm.svg
                  a.Button.Button-icon.Button-actionIcon(href="")
                    | Узнать подробнее
                    span.Button_icon
                      include ./../../../includes/svg/arrow_right_sm.svg
        .MainContentBlock_slide.swiper-slide
          .MainContentBlock_slide_content
            .MainContentBlock_slide_content_item.MainContentBlock_slide_content_item-description
              .MainContentBlock_slide_title
                | Lorem ipsum
              .MainContentBlock_slide_infoTable
                .MainContentBlock_slide_infoTable_prop
                  .MainContentBlock_slide_infoTable_prop_key
                    | Площадь, м²:
                  .MainContentBlock_slide_infoTable_prop_value
                    | 269, 97 м²
                .MainContentBlock_slide_infoTable_prop
                  .MainContentBlock_slide_infoTable_prop_key
                    | Стоимость:
                  .MainContentBlock_slide_infoTable_prop_value.MainContentBlock_slide_infoTable_prop_value-red
                    | 59 393 400 ₽
                .MainContentBlock_slide_infoTable_prop
                  .MainContentBlock_slide_infoTable_prop_key
                    | Стоимость, м²:
                  .MainContentBlock_slide_infoTable_prop_value
                    | 220 000 ₽
                .MainContentBlock_slide_infoTable_prop
                  .MainContentBlock_slide_infoTable_prop_key
                    | Ставка аренды, м²/год:
                  .MainContentBlock_slide_infoTable_prop_value
                    | 27 500 ₽
              .MainContentBlock_slide_infoTable
                .MainContentBlock_slide_infoTable_prop
                  .MainContentBlock_slide_infoTable_prop_key
                    | Индексация:
                  .MainContentBlock_slide_infoTable_prop_value
                    | 7%
                .MainContentBlock_slide_infoTable_prop
                  .MainContentBlock_slide_infoTable_prop_key
                    | Доход в месяц:
                  .MainContentBlock_slide_infoTable_prop_value
                    | 584 935 ₽
              .MainContentBlock_slide_infoTable
                .MainContentBlock_slide_infoTable_prop
                  .MainContentBlock_slide_infoTable_prop_key
                    span.MainContentBlock_slide_infoTable_prop_key_icon(style="background-image:url(img/map_pin_min.png)")
                    | 1-ый Колобовский, 12 (первая линия)
                  .MainContentBlock_slide_infoTable_prop_value
                    a.Button.Button-fill.Button-min.MainContentBlock_slide_infoTable_onMap(href="#popupMap1" data-latlng='[55.638434, 37.257576]')
                      span На карте
                .MainContentBlock_slide_infoTable_prop
                  .MainContentBlock_slide_infoTable_prop_key
                    span.MainContentBlock_slide_infoTable_prop_key_icon(style="background-image:url(img/metro_min.png)")
                    | Метро Цветной бульвар
                .MainContentBlock_slide_infoTable_prop.MainContentBlock_slide_infoTable_prop-mobile
                  a.Button.Button-fill.Button-min.MainContentBlock_slide_infoTable_onMap(href="#popupMap1" data-latlng='[55.638434, 37.357576]')
                    span На карте
            .MainContentBlock_slide_content_item.MainContentBlock_slide_content_item-img(style="background-image:url(img/main_slider_2.jpg)")
              .MainContentBlock_slide_num
                span.MainContentBlock_slide_num_current 01
                |
                | /
                |
                span.MainContentBlock_slide_num_next 03
            .MainContentBlock_slide_content_item.MainContentBlock_slide_content_item-fullWidth
              .MainContentBlock_slide_content_mainInfo
                .MainContentBlock_slide_content_mainInfo_left
                  .MainContentBlock_slide_content_mainInfo_prop
                    .MainContentBlock_slide_content_mainInfo_prop_key
                      | Окупаемость
                    .MainContentBlock_slide_content_mainInfo_prop_value
                      | 8 лет
                  .MainContentBlock_slide_content_mainInfo_prop
                    .MainContentBlock_slide_content_mainInfo_prop_key
                      | Доходность
                    .MainContentBlock_slide_content_mainInfo_prop_value
                      | 12,5%
                  .MainContentBlock_slide_content_mainInfo_prop
                    .MainContentBlock_slide_content_mainInfo_prop_key
                      | Срок договора
                    .MainContentBlock_slide_content_mainInfo_prop_value
                      | 10 лет
                .MainContentBlock_slide_content_mainInfo_right
                  .MainContentBlock_slide_content_mainInfo_prop-phone
                    .MainContentBlock_slide_content_mainInfo_prop_key
                      span Для получения дополнительной информации об объекте звоните по телефону:
                    .MainContentBlock_slide_content_mainInfo_prop_value
                      a.MainContentBlock_slide_content_mainInfo-phone(href="tel:+74951321491") +7 (495) 132-14-91
                      a.MainContentBlock_slide_content_mainInfo-phoneRequest(href="") Обратный звонок
              .MainContentBlock_slide_content_bottomInfo
                .MainContentBlock_slide_content_bottomInfo_text
                  | Помещение с отельным входом с историческими сводами в дорогом клубном доме на Бульварном кольце.
                .MainContentBlock_slide_content_bottomInfo_buttons
                  a.Button.Button-fill.Button-icon.MainContentBlock_slide_content_downloadButton(href="")
                    | Скачать презентацию
                    span.Button_icon
                      include ./../../../includes/svg/arrow_down_sm.svg
                  a.Button.Button-icon.Button-actionIcon(href="")
                    | Узнать подробнее
                    span.Button_icon
                      include ./../../../includes/svg/arrow_right_sm.svg
        .MainContentBlock_slide.swiper-slide
          .MainContentBlock_slide_content
            .MainContentBlock_slide_content_item.MainContentBlock_slide_content_item-description
              .MainContentBlock_slide_title
                | Ipsum lorem
              .MainContentBlock_slide_infoTable
                .MainContentBlock_slide_infoTable_prop
                  .MainContentBlock_slide_infoTable_prop_key
                    | Площадь, м²:
                  .MainContentBlock_slide_infoTable_prop_value
                    | 269, 97 м²
                .MainContentBlock_slide_infoTable_prop
                  .MainContentBlock_slide_infoTable_prop_key
                    | Стоимость:
                  .MainContentBlock_slide_infoTable_prop_value.MainContentBlock_slide_infoTable_prop_value-red
                    | 59 393 400 ₽
                .MainContentBlock_slide_infoTable_prop
                  .MainContentBlock_slide_infoTable_prop_key
                    | Стоимость, м²:
                  .MainContentBlock_slide_infoTable_prop_value
                    | 220 000 ₽
                .MainContentBlock_slide_infoTable_prop
                  .MainContentBlock_slide_infoTable_prop_key
                    | Ставка аренды, м²/год:
                  .MainContentBlock_slide_infoTable_prop_value
                    | 27 500 ₽
              .MainContentBlock_slide_infoTable
                .MainContentBlock_slide_infoTable_prop
                  .MainContentBlock_slide_infoTable_prop_key
                    | Индексация:
                  .MainContentBlock_slide_infoTable_prop_value
                    | 7%
                .MainContentBlock_slide_infoTable_prop
                  .MainContentBlock_slide_infoTable_prop_key
                    | Доход в месяц:
                  .MainContentBlock_slide_infoTable_prop_value
                    | 584 935 ₽
              .MainContentBlock_slide_infoTable
                .MainContentBlock_slide_infoTable_prop
                  .MainContentBlock_slide_infoTable_prop_key
                    span.MainContentBlock_slide_infoTable_prop_key_icon(style="background-image:url(img/map_pin_min.png)")
                    | 1-ый Колобовский, 12 (первая линия)
                  .MainContentBlock_slide_infoTable_prop_value
                    a.Button.Button-fill.Button-min.MainContentBlock_slide_infoTable_onMap(href="#popupMap1" data-latlng='[55.638434, 37.457576]')
                      span На карте
                .MainContentBlock_slide_infoTable_prop
                  .MainContentBlock_slide_infoTable_prop_key
                    span.MainContentBlock_slide_infoTable_prop_key_icon(style="background-image:url(img/metro_min.png)")
                    | Метро Цветной бульвар
                .MainContentBlock_slide_infoTable_prop.MainContentBlock_slide_infoTable_prop-mobile
                  a.Button.Button-fill.Button-min.MainContentBlock_slide_infoTable_onMap(href="#popupMap1" data-latlng='[55.638434, 37.557576]')
                    span На карте
            .MainContentBlock_slide_content_item.MainContentBlock_slide_content_item-img(style="background-image:url(img/main_slider_3.jpg)")
              .MainContentBlock_slide_num
                span.MainContentBlock_slide_num_current 01
                |
                | /
                |
                span.MainContentBlock_slide_num_next 03
            .MainContentBlock_slide_content_item.MainContentBlock_slide_content_item-fullWidth
              .MainContentBlock_slide_content_mainInfo
                .MainContentBlock_slide_content_mainInfo_left
                  .MainContentBlock_slide_content_mainInfo_prop
                    .MainContentBlock_slide_content_mainInfo_prop_key
                      | Окупаемость
                    .MainContentBlock_slide_content_mainInfo_prop_value
                      | 8 лет
                  .MainContentBlock_slide_content_mainInfo_prop
                    .MainContentBlock_slide_content_mainInfo_prop_key
                      | Доходность
                    .MainContentBlock_slide_content_mainInfo_prop_value
                      | 12,5%
                  .MainContentBlock_slide_content_mainInfo_prop
                    .MainContentBlock_slide_content_mainInfo_prop_key
                      | Срок договора
                    .MainContentBlock_slide_content_mainInfo_prop_value
                      | 10 лет
                .MainContentBlock_slide_content_mainInfo_right
                  .MainContentBlock_slide_content_mainInfo_prop-phone
                    .MainContentBlock_slide_content_mainInfo_prop_key
                      span Для получения дополнительной информации об объекте звоните по телефону:
                    .MainContentBlock_slide_content_mainInfo_prop_value
                      a.MainContentBlock_slide_content_mainInfo-phone(href="tel:+74951321491") +7 (495) 132-14-91
                      a.MainContentBlock_slide_content_mainInfo-phoneRequest(href="") Обратный звонок
              .MainContentBlock_slide_content_bottomInfo
                .MainContentBlock_slide_content_bottomInfo_text
                  | Помещение с отельным входом с историческими сводами в дорогом клубном доме на Бульварном кольце.
                .MainContentBlock_slide_content_bottomInfo_buttons
                  a.Button.Button-fill.Button-icon.MainContentBlock_slide_content_downloadButton(href="")
                    | Скачать презентацию
                    span.Button_icon
                      include ./../../../includes/svg/arrow_down_sm.svg
                  a.Button.Button-icon.Button-actionIcon(href="")
                    | Узнать подробнее
                    span.Button_icon
                      include ./../../../includes/svg/arrow_right_sm.svg
      .MainContentBlock_slider_nav.MainContentBlock_slider_nav-prev.slider-button-prev
        include ./../../../includes/svg/arrow_left_sm.svg
      .MainContentBlock_slider_nav.MainContentBlock_slider_nav-next.slider-button-next
        include ./../../../includes/svg/arrow_right_sm.svg
      .MainContentBlock_slide_num.MainContentBlock_slide_num-mobile
        span.MainContentBlock_slide_num_current 01
        |
        | /
        |
        span.MainContentBlock_slide_num_next 03

.MainContentBlock
  .Box
    .MainContentBlock_title.TitleHeader2 <span>Крутые</span> офисы в центре
    .MainContentBlock_subTitle
      | <b>36 000 м²</b>  элитной офисной недвижимости, в 17-ти бизнес-центрах классов <span>А,А+</span>
    .MainContentBlock_slider.swiper-container
      .swiper-wrapper
        .MainContentBlock_slide.swiper-slide(style="background-image:url(img/about_image_4.jpg)")
          .MainContentBlock_slide_content
            .MainContentBlock_slide_content_item.MainContentBlock_slide_content_item-info
              .MainContentBlock_slide_region
                | DM TOWER
              .MainContentBlock_slide_region_description
                | Офис новой формации
              .MainContentBlock_slide_num
                span.MainContentBlock_slide_num_current 01
                |
                | /
                |
                span.MainContentBlock_slide_num_next 03
            .MainContentBlock_slide_content_item
              .MainContentBlock_slide_text
                .MainContentBlock_slide_title
                  | Продажа офисов класса «А»
                .MainContentBlock_slide_description
                  p Блоки от 72 м2 до 150 м2. Этажи от 2132 м2
                  p Адрес добавить бы этого офиса
                  p И если можно цену или какую-нибудь другую информацию
              .MainContentBlock_slide_buttons
                a.Button.Button-fill.Button-icon(href="")
                  | Посмотреть этот офис
                  span.Button_icon
                    include ./../../../includes/svg/arrow_right_sm.svg
                a.Button.Button-white.Button-icon.Button-actionIcon(href="")
                  | Узнать подробнее
                  span.Button_icon
                    include ./../../../includes/svg/arrow_right_sm.svg
        .MainContentBlock_slide.swiper-slide(style="background-image:url(img/main_slider_1.jpg)")
          .MainContentBlock_slide_content
            .MainContentBlock_slide_content_item.MainContentBlock_slide_content_item-info
              .MainContentBlock_slide_region
                | DEPRE
              .MainContentBlock_slide_region_description
                | Клубный дом <br>
                | на Петровском бульваре
              .MainContentBlock_slide_num
                span.MainContentBlock_slide_num_current 01
                |
                | /
                |
                span.MainContentBlock_slide_num_next 03
            .MainContentBlock_slide_content_item
              .MainContentBlock_slide_text
                .MainContentBlock_slide_title
                  | 15 Квартир на Цветоном бульваре
                .MainContentBlock_slide_description
                  p Здесь не помешало бы описание добавить, короткое, на две три строчки, для большей ясности для клиента, метры, цены от и до или небольшие характеристики квартиры.
              .MainContentBlock_slide_buttons
                a.Button.Button-fill.Button-icon(href="")
                  | Посмотреть этот офис
                  span.Button_icon
                    include ./../../../includes/svg/arrow_right_sm.svg
                a.Button.Button-white.Button-icon.Button-actionIcon(href="")
                  | Узнать подробнее
                  span.Button_icon
                    include ./../../../includes/svg/arrow_right_sm.svg
        .MainContentBlock_slide.swiper-slide(style="background-image:url(img/main_slider_2.jpg)")
          .MainContentBlock_slide_content
            .MainContentBlock_slide_content_item.MainContentBlock_slide_content_item-info
              .MainContentBlock_slide_region
                | Хамовники
              .MainContentBlock_slide_num
                span.MainContentBlock_slide_num_current 01
                |
                | /
                |
                span.MainContentBlock_slide_num_next 03
            .MainContentBlock_slide_content_item
              .MainContentBlock_slide_text
                .MainContentBlock_slide_title
                  | Элитные апартаменты с отделкой в Хамовниках
                .MainContentBlock_slide_description
                  p Здесь не помешало бы описание добавить, короткое, на две три строчки, для большей ясности для клиента, метры, цены от и до или небольшие характеристики квартиры.
              .MainContentBlock_slide_buttons
                a.Button.Button-fill.Button-icon(href="")
                  | Посмотреть этот офис
                  span.Button_icon
                    include ./../../../includes/svg/arrow_right_sm.svg
                a.Button.Button-white.Button-icon.Button-actionIcon(href="")
                  | Узнать подробнее
                  span.Button_icon
                    include ./../../../includes/svg/arrow_right_sm.svg
      .MainContentBlock_slider_nav.MainContentBlock_slider_nav-prev.slider-button-prev
        include ./../../../includes/svg/arrow_left_sm.svg
      .MainContentBlock_slider_nav.MainContentBlock_slider_nav-next.slider-button-next
        include ./../../../includes/svg/arrow_right_sm.svg
      .MainContentBlock_slide_num.MainContentBlock_slide_num-mobile
        span.MainContentBlock_slide_num_current 01
        |
        | /
        |
        span.MainContentBlock_slide_num_next 03

.MainContentBlock
  .Box
    .MainContentBlock_title.TitleHeader2 Апартаменты до <span>7 млн.<span class="rubSign">₽</span></span>
    .MainContentBlock_subTitle
      | <b>6 жилых комплексов</b> в центре Москвы, <span>348 апартаментов до 7 млн. <span class="rubSign">₽</span></span>
    .MainContentBlock_slider.swiper-container
      .swiper-wrapper
        .MainContentBlock_slide.swiper-slide(style="background-image:url(img/main_slider_1.jpg)")
          .MainContentBlock_slide_content
            .MainContentBlock_slide_content_item.MainContentBlock_slide_content_item-info
              .MainContentBlock_slide_region
                | DEPRE
              .MainContentBlock_slide_region_description
                | Клубный дом <br>
                | на Петровском бульваре
              .MainContentBlock_slide_num
                span.MainContentBlock_slide_num_current 01
                |
                | /
                |
                span.MainContentBlock_slide_num_next 03
            .MainContentBlock_slide_content_item
              .MainContentBlock_slide_text
                .MainContentBlock_slide_title
                  | 15 Квартир на Цветоном бульваре
                .MainContentBlock_slide_description
                  p Здесь не помешало бы описание добавить, короткое, на две три строчки, для большей ясности для клиента, метры, цены от и до или небольшие характеристики квартиры.
              .MainContentBlock_slide_buttons
                a.Button.Button-fill.Button-icon(href="")
                  | Посмотреть этот офис
                  span.Button_icon
                    include ./../../../includes/svg/arrow_right_sm.svg
                a.Button.Button-white.Button-icon.Button-actionIcon(href="")
                  | Узнать подробнее
                  span.Button_icon
                    include ./../../../includes/svg/arrow_right_sm.svg
        .MainContentBlock_slide.swiper-slide(style="background-image:url(img/main_slider_3.jpg)")
          .MainContentBlock_slide_content
            .MainContentBlock_slide_content_item.MainContentBlock_slide_content_item-info
              .MainContentBlock_slide_region
                | DM TOWER
              .MainContentBlock_slide_region_description
                | Офис новой формации
              .MainContentBlock_slide_num
                span.MainContentBlock_slide_num_current 01
                |
                | /
                |
                span.MainContentBlock_slide_num_next 03
            .MainContentBlock_slide_content_item
              .MainContentBlock_slide_text
                .MainContentBlock_slide_title
                  | Продажа офисов класса «А»
                .MainContentBlock_slide_description
                  p Блоки от 72 м2 до 150 м2. Этажи от 2132 м2
                  p Адрес добавить бы этого офиса
                  p И если можно цену или какую-нибудь другую информацию
              .MainContentBlock_slide_buttons
                a.Button.Button-fill.Button-icon(href="")
                  | Посмотреть этот офис
                  span.Button_icon
                    include ./../../../includes/svg/arrow_right_sm.svg
                a.Button.Button-white.Button-icon.Button-actionIcon(href="")
                  | Узнать подробнее
                  span.Button_icon
                    include ./../../../includes/svg/arrow_right_sm.svg
        .MainContentBlock_slide.swiper-slide(style="background-image:url(img/main_slider_2.jpg)")
          .MainContentBlock_slide_content
            .MainContentBlock_slide_content_item.MainContentBlock_slide_content_item-info
              .MainContentBlock_slide_region
                | Хамовники
              .MainContentBlock_slide_num
                span.MainContentBlock_slide_num_current 01
                |
                | /
                |
                span.MainContentBlock_slide_num_next 03
            .MainContentBlock_slide_content_item
              .MainContentBlock_slide_text
                .MainContentBlock_slide_title
                  | Элитные апартаменты с отделкой в Хамовниках
                .MainContentBlock_slide_description
                  p Здесь не помешало бы описание добавить, короткое, на две три строчки, для большей ясности для клиента, метры, цены от и до или небольшие характеристики квартиры.
              .MainContentBlock_slide_buttons
                a.Button.Button-fill.Button-icon(href="")
                  | Посмотреть этот офис
                  span.Button_icon
                    include ./../../../includes/svg/arrow_right_sm.svg
                a.Button.Button-white.Button-icon.Button-actionIcon(href="")
                  | Узнать подробнее
                  span.Button_icon
                    include ./../../../includes/svg/arrow_right_sm.svg
      .MainContentBlock_slider_nav.MainContentBlock_slider_nav-prev.slider-button-prev
        include ./../../../includes/svg/arrow_left_sm.svg
      .MainContentBlock_slider_nav.MainContentBlock_slider_nav-next.slider-button-next
        include ./../../../includes/svg/arrow_right_sm.svg
      .MainContentBlock_slide_num.MainContentBlock_slide_num-mobile
        span.MainContentBlock_slide_num_current 01
        |
        | /
        |
        span.MainContentBlock_slide_num_next 03

.MainContentBlock
  .Box
    .MainContentBlock_title.TitleHeader2 Элитное жилье <span>для семьи</span>
    .MainContentBlock_subTitle
      | Выбирайте жилье <span>в лучших районах</span> Москвы: Хамовники, Красная Пресня, Павлово
    .MainContentBlock_slider.swiper-container
      .swiper-wrapper
        .MainContentBlock_slide.swiper-slide(style="background-image:url(img/main_slider_2.jpg)")
          .MainContentBlock_slide_content
            .MainContentBlock_slide_content_item.MainContentBlock_slide_content_item-info
              .MainContentBlock_slide_region
                | Хамовники
              .MainContentBlock_slide_num
                span.MainContentBlock_slide_num_current 01
                |
                | /
                |
                span.MainContentBlock_slide_num_next 03
            .MainContentBlock_slide_content_item
              .MainContentBlock_slide_text
                .MainContentBlock_slide_title
                  | Элитные апартаменты с отделкой в Хамовниках
                .MainContentBlock_slide_description
                  p Здесь не помешало бы описание добавить, короткое, на две три строчки, для большей ясности для клиента, метры, цены от и до или небольшие характеристики квартиры.
              .MainContentBlock_slide_buttons
                a.Button.Button-fill.Button-icon(href="")
                  | Посмотреть этот офис
                  span.Button_icon
                    include ./../../../includes/svg/arrow_right_sm.svg
                a.Button.Button-white.Button-icon.Button-actionIcon(href="")
                  | Узнать подробнее
                  span.Button_icon
                    include ./../../../includes/svg/arrow_right_sm.svg
        .MainContentBlock_slide.swiper-slide(style="background-image:url(img/main_slider_1.jpg)")
          .MainContentBlock_slide_content
            .MainContentBlock_slide_content_item.MainContentBlock_slide_content_item-info
              .MainContentBlock_slide_region
                | DEPRE
              .MainContentBlock_slide_region_description
                | Клубный дом <br>
                | на Петровском бульваре
              .MainContentBlock_slide_num
                span.MainContentBlock_slide_num_current 01
                |
                | /
                |
                span.MainContentBlock_slide_num_next 03
            .MainContentBlock_slide_content_item
              .MainContentBlock_slide_text
                .MainContentBlock_slide_title
                  | 15 Квартир на Цветоном бульваре
                .MainContentBlock_slide_description
                  p Здесь не помешало бы описание добавить, короткое, на две три строчки, для большей ясности для клиента, метры, цены от и до или небольшие характеристики квартиры.
              .MainContentBlock_slide_buttons
                a.Button.Button-fill.Button-icon(href="")
                  | Посмотреть этот офис
                  span.Button_icon
                    include ./../../../includes/svg/arrow_right_sm.svg
                a.Button.Button-white.Button-icon.Button-actionIcon(href="")
                  | Узнать подробнее
                  span.Button_icon
                    include ./../../../includes/svg/arrow_right_sm.svg
        .MainContentBlock_slide.swiper-slide(style="background-image:url(img/main_slider_3.jpg)")
          .MainContentBlock_slide_content
            .MainContentBlock_slide_content_item.MainContentBlock_slide_content_item-info
              .MainContentBlock_slide_region
                | DM TOWER
              .MainContentBlock_slide_region_description
                | Офис новой формации
              .MainContentBlock_slide_num
                span.MainContentBlock_slide_num_current 01
                |
                | /
                |
                span.MainContentBlock_slide_num_next 03
            .MainContentBlock_slide_content_item
              .MainContentBlock_slide_text
                .MainContentBlock_slide_title
                  | Продажа офисов класса «А»
                .MainContentBlock_slide_description
                  p Блоки от 72 м2 до 150 м2. Этажи от 2132 м2
                  p Адрес добавить бы этого офиса
                  p И если можно цену или какую-нибудь другую информацию
              .MainContentBlock_slide_buttons
                a.Button.Button-fill.Button-icon(href="")
                  | Посмотреть этот офис
                  span.Button_icon
                    include ./../../../includes/svg/arrow_right_sm.svg
                a.Button.Button-white.Button-icon.Button-actionIcon(href="")
                  | Узнать подробнее
                  span.Button_icon
                    include ./../../../includes/svg/arrow_right_sm.svg
      .MainContentBlock_slider_nav.MainContentBlock_slider_nav-prev.slider-button-prev
        include ./../../../includes/svg/arrow_left_sm.svg
      .MainContentBlock_slider_nav.MainContentBlock_slider_nav-next.slider-button-next
        include ./../../../includes/svg/arrow_right_sm.svg
      .MainContentBlock_slide_num.MainContentBlock_slide_num-mobile
        span.MainContentBlock_slide_num_current 01
        |
        | /
        |
        span.MainContentBlock_slide_num_next 03

.MainContentBlock_modal(id="popupMap1" style="display: none;")
    .GeoMap#itemsHomepageMap
      .GeoMap_map
