.Rent_items
  each lot in lots
    .Rent_item
      .Rent_itemImgWrp
        .Rent_itemImg(style='background-image:url('+ lot.img +')') 
        .Rent_itemAmount
          span= lot.amount
          div= lot.amountText
      .Rent_itemInfo
        .Rent_itemTitle= lot.title
        .Rent_infoRow
          .Rent_infoTitle Площадь, м<sup>2</sup>:
          .Rent_infoValue от #{lot.squareFrom} до #{lot.squareTo}
        .Rent_infoRow
          .Rent_infoTitle Цена ₽:
          .Rent_infoValue от #{lot.priceFrom} до #{lot.priceTo}
        .Rent_infoLined
          .Rent_infoPlace= lot.address
        .Rent_infoDesc= lot.desc

        .Rent_infoBtns
          a(href="javascript:void(0);").Btn.Rent_callbackBtn Обратный звонок
          a(href=lot.link).Btn.Rent_infoMore.Rent_infoMore-red Описание проекта
            include ././../assets/img/arrow_right_sm.svg
      .Rent_itemOptions
        .Rent_optionsRow.Rent_optionsRow-head
          .Rent_optionsItem Лот
          .Rent_optionsItem Назначение
          .Rent_optionsItem Тип
          .Rent_optionsItem Этаж
          .Rent_optionsItem Площадь, м<sup>2</sup>
          .Rent_optionsItem Цена за м<sup>2</sup>
          .Rent_optionsItem Стоимость
          .Rent_optionsItem Статус

        each opt, index in lot.objs
          if index < 4
            a.Rent_optionsRow(href=opt.link)
              .Rent_optionsItem= index+1
              .Rent_optionsItem= opt.purpose
              .Rent_optionsItem= opt.type
              .Rent_optionsItem= opt.floor
              .Rent_optionsItem= opt.square
              .Rent_optionsItem= opt.metrPrice
              .Rent_optionsItem= opt.price
              .Rent_optionsItem= opt.status
        if lot.objs.length > 4
          .Rent_optionsHidden
            each opt, index in lot.objs
              if index > 3
                a.Rent_optionsRow(href=opt.link)
                  .Rent_optionsItem= index+1
                  .Rent_optionsItem= opt.purpose
                  .Rent_optionsItem= opt.type
                  .Rent_optionsItem= opt.floor
                  .Rent_optionsItem= opt.square
                  .Rent_optionsItem= opt.metrPrice
                  .Rent_optionsItem= opt.price
                  .Rent_optionsItem= opt.status
          .Rent_optionsMore
            .Rent_optionsMoreBtn
              div Развернуть еще <span>58</span>
              include ././../assets/img/arrow_right_sm.svg
