.ObjDetails
    h3.ObjDetails_title=title
    ul.ObjDetails_paramList
        each param in params
            li.ObjDetails_paramLeaf
                .ObjDetails_paramLabel 
                    span!=param.label
                .ObjDetails_paramVal!=param.value

    .ObjDetails_desc!=desc
    -let slidesLen = images.length || 0
    if (slidesLen === 1)
        .ObjDetails_slider.swiper-container
            .swiper-wrapper
                .ObjDetails_slide.swiper-slide(style="background-image:url(/tmp/obj_pp_scheme_example.jpg)")
    else if(slidesLen > 1)
        .ObjDetails_slider.swiper-container
            .swiper-wrapper
                each sld in images
                    .ObjDetails_slide.swiper-slide(style=`background-image:url(${sld})`)
            button.ObjDetails_arrow.ObjDetails_arrow-prev
                include ../templates/includes/blocks/SvgIco/angle_left.svg
            button.ObjDetails_arrow.ObjDetails_arrow-next
                include ../templates/includes/blocks/SvgIco/angle_right.svg
    .ObjDetails_footer
        .ObjDetails_footer
            if docLink
                a.ObjDetails_downloadLink(href=docLink target="_blank")
                    include ../templates/includes/blocks/SvgIco/pdf.svg
                    | Распечатать
            button.Button.Button-fill(onclick="$('.Header_callOrderLink').trigger('click');") Обратный звонок