.Partners
  .Partners_group
    .Partners_group_title Арендаторы
      .Partners_group_count
        span.Partners_group_count_show 4
        |
        | /
        |
        span.Partners_group_count_all 36
    .Partners_group_itemWrapper
      .Partners_group_item
        .Partners_group_item_logo(style="background-image:url(img/partner_logo_yandex.png)")
      .Partners_group_item
        .Partners_group_item_logo(style="background-image:url(img/partner_logo_rambler.png)")
      .Partners_group_item
        .Partners_group_item_logo(style="background-image:url(img/partner_logo_starbucks.png)")
      .Partners_group_item
        .Partners_group_item_logo(style="background-image:url(img/partner_logo_familia.png)")
      .Partners_group_item
        .Partners_group_item_logo(style="background-image:url(img/partner_logo_kr.png)")
      .Partners_group_item
        .Partners_group_item_logo(style="background-image:url(img/partner_logo_kr.png)")
      .Partners_group_item
        .Partners_group_item_logo(style="background-image:url(img/partner_logo_kr.png)")
      .Partners_group_item
        .Partners_group_item_logo(style="background-image:url(img/partner_logo_kr.png)")
      .Partners_group_item
        .Partners_group_item_logo(style="background-image:url(img/partner_logo_kr.png)")
      .Partners_group_item
        .Partners_group_item_logo(style="background-image:url(img/partner_logo_kr.png)")
      .Partners_group_item
        .Partners_group_item_logo(style="background-image:url(img/partner_logo_kr.png)")
      .Partners_group_item
        .Partners_group_item_logo(style="background-image:url(img/partner_logo_kr.png)")
      .Partners_group_item
        .Partners_group_item_logo(style="background-image:url(img/partner_logo_kr.png)")
      .Partners_group_item
        .Partners_group_item_logo(style="background-image:url(img/partner_logo_kr.png)")
      .Partners_group_item
        .Partners_group_item_logo(style="background-image:url(img/partner_logo_kr.png)")
      .Partners_group_item
        .Partners_group_item_logo(style="background-image:url(img/partner_logo_kr.png)")
      .Partners_group_item
        .Partners_group_item_logo(style="background-image:url(img/partner_logo_kr.png)")
      .Partners_group_item
        .Partners_group_item_logo(style="background-image:url(img/partner_logo_kr.png)")
      .Partners_group_item
        .Partners_group_item_logo(style="background-image:url(img/partner_logo_kr.png)")
      .Partners_group_item
        .Partners_group_item_logo(style="background-image:url(img/partner_logo_kr.png)")
      .Partners_group_item
        .Partners_group_item_logo(style="background-image:url(img/partner_logo_kr.png)")
      .Partners_group_item
        .Partners_group_item_logo(style="background-image:url(img/partner_logo_kr.png)")
      .Partners_group_item
        .Partners_group_item_logo(style="background-image:url(img/partner_logo_kr.png)")
      .Partners_group_item
        .Partners_group_item_logo(style="background-image:url(img/partner_logo_kr.png)")
      .Partners_group_item
        .Partners_group_item_logo(style="background-image:url(img/partner_logo_kr.png)")
      .Partners_group_item
        .Partners_group_item_logo(style="background-image:url(img/partner_logo_kr.png)")
      .Partners_group_item
        .Partners_group_item_logo(style="background-image:url(img/partner_logo_kr.png)")
      .Partners_group_item
        .Partners_group_item_logo(style="background-image:url(img/partner_logo_kr.png)")
      .Partners_group_item
        .Partners_group_item_logo(style="background-image:url(img/partner_logo_kr.png)")
      .Partners_group_item
        .Partners_group_item_logo(style="background-image:url(img/partner_logo_kr.png)")
      .Partners_group_item
        .Partners_group_item_logo(style="background-image:url(img/partner_logo_kr.png)")
      .Partners_group_item
        .Partners_group_item_logo(style="background-image:url(img/partner_logo_kr.png)")
      .Partners_group_item
        .Partners_group_item_logo(style="background-image:url(img/partner_logo_kr.png)")
      .Partners_group_item
        .Partners_group_item_logo(style="background-image:url(img/partner_logo_kr.png)")
      .Partners_group_item
        .Partners_group_item_logo(style="background-image:url(img/partner_logo_kr.png)")
      .Partners_group_item
        .Partners_group_item_logo(style="background-image:url(img/partner_logo_kr.png)")
    .Partners_group_item_showAll
      span.Partners_group_item_showAll_open Развернуть
      span.Partners_group_item_showAll_close Свернуть

  .Partners_group
    .Partners_group_title Участники проектов
      .Partners_group_count
        span.Partners_group_count_show 4
        |
        | /
        |
        span.Partners_group_count_all 36
    .Partners_group_itemWrapper
      .Partners_group_item
        .Partners_group_item_logo(style="background-image:url(img/partner_logo_red-rose.png)")
      .Partners_group_item
        .Partners_group_item_logo(style="background-image:url(img/partner_logo_kr.png)")
      .Partners_group_item
        .Partners_group_item_logo(style="background-image:url(img/partner_logo_planika.png)")
      .Partners_group_item
        .Partners_group_item_logo(style="background-image:url(img/partner_logo_gmp.png)")
      .Partners_group_item
        .Partners_group_item_logo(style="background-image:url(img/partner_logo_kr.png)")
      .Partners_group_item
        .Partners_group_item_logo(style="background-image:url(img/partner_logo_kr.png)")
      .Partners_group_item
        .Partners_group_item_logo(style="background-image:url(img/partner_logo_kr.png)")
      .Partners_group_item
        .Partners_group_item_logo(style="background-image:url(img/partner_logo_kr.png)")
      .Partners_group_item
        .Partners_group_item_logo(style="background-image:url(img/partner_logo_kr.png)")
      .Partners_group_item
        .Partners_group_item_logo(style="background-image:url(img/partner_logo_kr.png)")
      .Partners_group_item
        .Partners_group_item_logo(style="background-image:url(img/partner_logo_kr.png)")
      .Partners_group_item
        .Partners_group_item_logo(style="background-image:url(img/partner_logo_kr.png)")
      .Partners_group_item
        .Partners_group_item_logo(style="background-image:url(img/partner_logo_kr.png)")
      .Partners_group_item
        .Partners_group_item_logo(style="background-image:url(img/partner_logo_kr.png)")
      .Partners_group_item
        .Partners_group_item_logo(style="background-image:url(img/partner_logo_kr.png)")
      .Partners_group_item
        .Partners_group_item_logo(style="background-image:url(img/partner_logo_kr.png)")
      .Partners_group_item
        .Partners_group_item_logo(style="background-image:url(img/partner_logo_kr.png)")
      .Partners_group_item
        .Partners_group_item_logo(style="background-image:url(img/partner_logo_kr.png)")
      .Partners_group_item
        .Partners_group_item_logo(style="background-image:url(img/partner_logo_kr.png)")
      .Partners_group_item
        .Partners_group_item_logo(style="background-image:url(img/partner_logo_kr.png)")
      .Partners_group_item
        .Partners_group_item_logo(style="background-image:url(img/partner_logo_kr.png)")
      .Partners_group_item
        .Partners_group_item_logo(style="background-image:url(img/partner_logo_kr.png)")
      .Partners_group_item
        .Partners_group_item_logo(style="background-image:url(img/partner_logo_kr.png)")
      .Partners_group_item
        .Partners_group_item_logo(style="background-image:url(img/partner_logo_kr.png)")
      .Partners_group_item
        .Partners_group_item_logo(style="background-image:url(img/partner_logo_kr.png)")
      .Partners_group_item
        .Partners_group_item_logo(style="background-image:url(img/partner_logo_kr.png)")
      .Partners_group_item
        .Partners_group_item_logo(style="background-image:url(img/partner_logo_kr.png)")
      .Partners_group_item
        .Partners_group_item_logo(style="background-image:url(img/partner_logo_kr.png)")
      .Partners_group_item
        .Partners_group_item_logo(style="background-image:url(img/partner_logo_kr.png)")
    .Partners_group_item_showAll
      span.Partners_group_item_showAll_open Развернуть
      span.Partners_group_item_showAll_close Свернуть

  .Partners_group
    .Partners_group_title Консультанты
      .Partners_group_count
        span.Partners_group_count_show 4
        |
        | /
        |
        span.Partners_group_count_all 36
    .Partners_group_itemWrapper
      .Partners_group_item
        .Partners_group_item_logo(style="background-image:url(img/partner_logo_colliers.png)")
      .Partners_group_item
        .Partners_group_item_logo(style="background-image:url(img/partner_logo_saricci.png)")
      .Partners_group_item
        .Partners_group_item_logo(style="background-image:url(img/partner_logo_jll.png)")
      .Partners_group_item
        .Partners_group_item_logo(style="background-image:url(img/partner_logo_kf.png)")
      .Partners_group_item
        .Partners_group_item_logo(style="background-image:url(img/partner_logo_kr.png)")
      .Partners_group_item
        .Partners_group_item_logo(style="background-image:url(img/partner_logo_kr.png)")
    .Partners_group_item_showAll
      span.Partners_group_item_showAll_open Развернуть
      span.Partners_group_item_showAll_close Свернуть