.OurTeam
  .Box
    .OurTeam_pagination
    .OurTeam_slider.swiper-container
      .swiper-wrapper
        .OurTeam_slide.swiper-slide(data-fancybox="OurTeam" data-src="#OurTeam1")
          .OurTeam_slide_photo(style="background-image:url(img/our_team_photo_1.jpg)")
          .OurTeam_slide_text
            .OurTeam_slide_name Сергий Матюхин
            .OurTeam_slide_post Генеральный директор
        .OurTeam_slide.swiper-slide(data-fancybox="OurTeam" data-src="#OurTeam2")
          .OurTeam_slide_photo(style="background-image:url(img/our_team_photo_2.jpg)")
          .OurTeam_slide_text
            .OurTeam_slide_name Александр Подусков
            .OurTeam_slide_post Директор по девелопменту и развитию лофт-проектов
        .OurTeam_slide.swiper-slide(data-fancybox="OurTeam" data-src="#OurTeam3")
          .OurTeam_slide_photo(style="background-image:url(img/our_team_photo_3.jpg)")
          .OurTeam_slide_text
            .OurTeam_slide_name Вадим Комаровский
            .OurTeam_slide_post Директор по экономике и финансам
        .OurTeam_slide.swiper-slide(data-fancybox="OurTeam" data-src="#OurTeam4")
          .OurTeam_slide_photo(style="background-image:url(img/our_team_photo_4.jpg)")
          .OurTeam_slide_text
            .OurTeam_slide_name Олег Левченко
            .OurTeam_slide_post Директор по строительству
        .OurTeam_slide.swiper-slide(data-fancybox="OurTeam" data-src="#OurTeam5")
          .OurTeam_slide_photo(style="background-image:url(img/our_team_photo_1.jpg)")
          .OurTeam_slide_text
            .OurTeam_slide_name Сергий Матюхин
            .OurTeam_slide_post Генеральный директор
        .OurTeam_slide.swiper-slide(data-fancybox="OurTeam" data-src="#OurTeam6")
          .OurTeam_slide_photo(style="background-image:url(img/our_team_photo_2.jpg)")
          .OurTeam_slide_text
            .OurTeam_slide_name Александр Подусков
            .OurTeam_slide_post Директор по девелопменту и развитию лофт-проектов
    .OurTeam_slider_btns
      button(type="button").OurTeam_slider_btn.OurTeam_slider_btn-prev
      button(type="button").OurTeam_slider_btn.OurTeam_slider_btn-next
  .OurTeam_scrollbarWrapper
    .Box
      .OurTeam_scrollbar.swiper-scrollbar

.OurTeam_modals
  .OurTeam_modal(id="OurTeam1")
    .OurTeam_modal_content
      .OurTeam_modal_item.OurTeam_modal_item-image(style="background-image:url(img/our_team_photo_1.jpg)")
      .OurTeam_modal_item
        .OurTeam_modal_name Сергий Матюхин
        .OurTeam_modal_post Генеральный директор
        .OurTeam_modal_text
          p Сергей Матюхин закончил факультет Военного института радиоэлектроники в 2001 году. Имеет степень МБА по финансам (Академия имени Плеханова).
          p С 2003 года работал на рынке коммерческой недвижимости Москвы и Московской области. Руководил БЦ Нагатинский, ДК «Красная Роза 1875».
          p С июля 2011 года Сергей Матюхин назначен на должность генерального директора компании KR Properties. Основная задача на данной должности - продолжать работу по созданию уникальных объектов на рынке недвижимости за счет привлечения архитекторов с мировой известностью и арендаторов российских и зарубежных компаний.
  .OurTeam_modal(id="OurTeam2")
    .OurTeam_modal_content
      .OurTeam_modal_item.OurTeam_modal_item-image(style="background-image:url(img/our_team_photo_2.jpg)")
      .OurTeam_modal_item
        .OurTeam_modal_name Александр Подусков
        .OurTeam_modal_post Директор по девелопменту и развитию лофт-проектов
        .OurTeam_modal_text
          p Lorem ipsum ...
  .OurTeam_modal(id="OurTeam3")
    .OurTeam_modal_content
      .OurTeam_modal_item.OurTeam_modal_item-image(style="background-image:url(img/our_team_photo_3.jpg)")
      .OurTeam_modal_item
        .OurTeam_modal_name Вадим Комаровский
        .OurTeam_modal_post Директор по экономике и финансам
        .OurTeam_modal_text
          each i in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur enim, consectetur corporis deserunt sequi placeat quaerat, repellendus aspernatur nemo assumenda atque nihil tenetur! Modi veritatis ex at, sit totam quos!

  .OurTeam_modal(id="OurTeam4")
    .OurTeam_modal_content
      .OurTeam_modal_item.OurTeam_modal_item-image(style="background-image:url(img/our_team_photo_4.jpg)")
      .OurTeam_modal_item
        .OurTeam_modal_name Олег Левченко
        .OurTeam_modal_post Директор по строительству
        .OurTeam_modal_text
          p Lorem ipsum ...
  .OurTeam_modal(id="OurTeam5")
    .OurTeam_modal_content
      .OurTeam_modal_item.OurTeam_modal_item-image(style="background-image:url(img/our_team_photo_1.jpg)")
      .OurTeam_modal_item
        .OurTeam_modal_name Сергий Матюхин
        .OurTeam_modal_post Генеральный директор
        .OurTeam_modal_text
          p Сергей Матюхин закончил факультет Военного института радиоэлектроники в 2001 году. Имеет степень МБА по финансам (Академия имени Плеханова).
          p С 2003 года работал на рынке коммерческой недвижимости Москвы и Московской области. Руководил БЦ Нагатинский, ДК «Красная Роза 1875».
          p С июля 2011 года Сергей Матюхин назначен на должность генерального директора компании KR Properties. Основная задача на данной должности - продолжать работу по созданию уникальных объектов на рынке недвижимости за счет привлечения архитекторов с мировой известностью и арендаторов российских и зарубежных компаний.
  .OurTeam_modal(id="OurTeam6")
    .OurTeam_modal_content
      .OurTeam_modal_item.OurTeam_modal_item-image(style="background-image:url(img/our_team_photo_2.jpg)")
      .OurTeam_modal_item
        .OurTeam_modal_name Александр Подусков
        .OurTeam_modal_post Директор по девелопменту и развитию лофт-проектов
        .OurTeam_modal_text
          p Lorem ipsum ...