.Breadcrumbs
  ul.Breadcrumbs_list
    li.Breadcrumbs_item
      a(href='/') Главная
    li.Breadcrumbs_item.Breadcrumbs_item-active
      a(href='about.html') О компании
  ul.Breadcrumbs_list
    li.Breadcrumbs_item
      a(href='our_team.html') Команда
    li.Breadcrumbs_item
      a(href='rewards.html') Награда
    li.Breadcrumbs_item
      a(href='partners.html') Партнеры
    li.Breadcrumbs_item
      a(href='reviews.html') Отзывы жителей KR-pro
