.AboutBlock
    padding 44px 0
    display flex
    flex-wrap wrap
    flex-direction row
    justify-content space-between
    @media $smMinus
        padding 24px 0
    &-main
        padding-top 0
    &_item
        width 50%
        display flex
        align-items center
        @media $smMinus
            width 100%
        &_text
            width 100%
            padding 0 64px
            margin 26px 0
            font-size 15px
            font-weight 600
            letter-spacing .3px
            line-height 24px
            @media $xs
                padding 0
                font-size 14px
                line-height normal
                margin-top 0
        &_image
            width 100%
            margin 26px 0
            background-size cover
            background-position 50% 50%
            @media $smMinus
                margin 26px 22px
            @media $xs
                margin 0
            &:before
                content ''
                display block
                @media $smMinus
                    padding-top 60%
                @media $md
                     padding-top 66.66%
        &_info
            width 100%
            margin 26px 0
            padding 30px 34px
            background #c52f3e
            display flex
            flex-wrap wrap
            @media $smMinus
                margin 26px 22px
            @media $xs
                margin-left 0
                margin-right 0
                padding 15px
            &_prop
                color #fff
                max-width 33.33%
                margin-bottom 35px
                padding-right 30px
                @media $smMinus
                    width 33.33%
                    max-width 66.66%
                    padding-right 50px
                @media $xs
                    width 50%
                    max-width 50%
                    padding-right 15px
                &-wide
                    max-width 66.66%
                    @media $smMinus
                        width 66.66%
                &_title
                    font-size 42px
                    font-family 'PF Regal Text Pro'
                    font-weight 400
                    @media $xs
                        font-size 28px
                    &:after
                        content ''
                        display block
                        height 1px
                        width 20px
                        margin 14px 0
                        background #fff
                &_text
                    max-width 200px
                    font-size 15px
                    font-weight 400
                    line-height 20px
        &_header
            position relative
            font-size 36px
            line-height 50px
            font-family 'PF Regal Text Pro'
            font-weight 400
            margin-bottom 25px
            @media $xs
                font-size 22px
                line-height normal
                margin-bottom 12px
            span
                color #eb142a
            &:before
                content ''
                position absolute
                top 24px
                left -64px
                width 40px
                height 1px
                background #eb142a
                @media $xs
                    display none
        &_slider
            display block
    &_downloadButton
        display flex
        @media $smMinus
            justify-content flex-end
        @media $xs
            margin-top 15px
        &-icon
            width 50px
            height 50px
            background-size contain
            background-position left center
            background-repeat no-repeat
        &-text
            padding-left 15px
            display flex
            flex-direction column
            justify-content center
            align-items flex-start
            &:after
                content ''
                background url('../img/arrow_right_long.svg') center no-repeat
                margin-top 5px
                width 24px
                height 9px
                display block
    &_row
        display flex
        flex-wrap wrap
    &-reverse
        flex-direction row-reverse
        .AboutBlock_item_header
            &:before
                left -52px
    &_slider
        padding-top 72.008%
        position relative
        @media $smMinus
            padding-top 66.66%
            margin 0 22px
        @media $xs
            margin 0
        .swiper-wrapper
            position absolute
            top 0
            left 0
            width 100%
            height 100%
        &_item
            width 100%
            height 100%
            background-size cover
            background-position 50% 50%
    &_sliderArrow
        position absolute
        display flex
        align-items center
        width 60px
        height 60px
        bottom 0
        background #fff
        z-index 2
        outline 0
        border 0
        padding 0
        &:before
            content ''
            width 100%
            height 25px
        &-prev
            right 60px
            &:before
                border-right 1px solid #e5e5e5
                background url('../img/arrow_left_sm.svg') center no-repeat
                background-size 7px
        &-next
            right 0
            &:before
                background url('../img/arrow_right_sm.svg') center no-repeat
                background-size 7px
    &-slider
        .AboutBlock_item_text
            padding-right 44px
    &-half
        width 50%
        flex-direction column-reverse
        justify-content flex-end
        padding-left 30px
        @media $smMinus
            padding 0
            width 100%
            flex-direction column
            justify-content flex-start
        &.AboutBlock-info
            @media $smMinus
                flex-direction column-reverse
                justify-content flex-end
        &:nth-child(odd)
            padding-left 0
            .AboutBlock_item_text
                padding-left 64px
                @media $xs
                    padding-left 0
        .AboutBlock_item
            width 100%
        .AboutBlock_item_image
            height 320px
            padding-top 0
            @media $smMinus
                height auto
                padding-top 60%
        .AboutBlock_item_info
            height 320px
            @media $xs
                height auto
                margin-bottom 0
        .AboutBlock_item_text
            padding-left 34px
            @media $smMinus
                padding-right 22px
            @media $xs
                padding 0