.AboutTop
  background #fff
  padding 25px 0
  display flex
  justify-content space-between
  flex-wrap wrap

  &_item
    border-right 1px solid #dadada
    width 20%
    padding 0 45px
    &:last-of-type
      border none
      padding-right 0
    &:first-of-type
      padding-left 0

    @media $smMinus
      width 25%
      padding 0 15px 0 30px
      &:last-of-type
        padding-left 0
        margin-top 35px
        width 50%
      &:nth-last-child(2)
        border none
    @media $xs
      width 50%
      &:nth-of-type(2)
        border none
      &:nth-of-type(3)
        padding-left 0
      &:nth-of-type(3),
      &:nth-of-type(4)
        margin-top 20px


  &_itemTitle
    position relative
    padding-bottom 20px
    margin-bottom 15px
    span
      margin-left -5px
      font-family 'PF Regal Text Pro'
      font-size 42px
      color #eb142a
      @media $xs
        font-size 28px
    sup
      font-size 60%
      top -15px
      left -10px
    &:after
      content ''
      position absolute
      left 0
      bottom 0
      height 1px
      width 20px
      background #000
    @media $xs
      padding-bottom 15px
      margin-bottom 15px

  &_itemText
    font-size 15px
    @media $xs
      font-size 14px