.About
  background #f6f6f6
  .Box
    @media $smMinus
      padding 0 40px
    @media $xs
      padding 0 16px

  &_title
    position relative
    font-size 36px
    font-family 'PF Regal Text Pro'
    font-weight 400
    &:before
      content ''
      position absolute
      top 50%
      left -64px
      width 40px
      height 1px
      background #000
    em
      color #eb142a
      font-style normal
    @media $smMinus
      font-size 30px
    @media $xs
      font-size 22px
      padding 0
      &:before
        display none

  &_sliderBtn
    height 100%
    width 60px
    background-color rgba(0, 0, 0, .05)
    position absolute
    top 0
    cursor pointer
    transition background-color .3s ease
    z-index 2
    &:after
      content ''
      position absolute
      background url("/img/arrow_right_sm.svg") no-repeat center / contain
      width 6px
      height 10px
      top 50%
      left 50%
      transform translate(-50%, -50%)
    &:hover
      background-color rgba(0, 0, 0, .1)
    &-prev
      left -60px
      &:after
        transform translate(-50%, -50%) rotate(180deg)
    &-next
      right -60px
    @media $smMinus
      width 40px
      &-prev
        left -40px
      &-next
        right -40px
    @media $xs
      width 50px
      height 50px
      top auto
      bottom -50px
      &-prev
        left 0
      &-next
        right 0

  &_header
    padding-left 65px
    display flex
    align-items center
    justify-content space-between
    .About_title
      display inline-block
    .About_btn
      width 216px
      @media $xs
        width 100%
        margin-top 15px
    @media $xs
      padding-left 0

  &_more
    text-align center
    &-white
      background #fff
      position relative

      .About_moreBtn
        height 55px
        line-height 55px
        &:after
          content ''
          position absolute
          top 0
          left 0
          right 0
          bottom 0
          z-index 2
    &-mobile
      display none
      @media $xs
        margin-top 10px
        display block

  &_moreBtn
    cursor pointer
    display inline-block
    span,
    svg
      display inline-block
      vertical-align middle
    svg
      width 6px
      height 11px
      margin-left 13px
      transform rotate(90deg)
      transition transform .8s ease
    &-open
      span
        margin-right 25px
      svg
        margin 0 0 0 -15px
        transform rotate(270deg)

  .AboutBlock
    padding 0
    margin-bottom 110px
    &_item
      @media $smMinus
        &:first-of-type
          margin-bottom 30px
    &_itemText
      padding 0 54px 0 65px
      font-weight 400
      margin 0
      p
        margin-top 34px
        letter-spacing 0
        &:first-of-type
          margin-top 40px
          @media $xs
            margin-top 0
        @media $xs
          margin-top 25px
      &-scroll
        position relative
        max-height 460px
        overflow hidden
        padding-top 20px
        padding-bottom 20px

        .ps__rail-y
          position absolute
          right 30px
          width 5px
          top 0
          height 100%
          background #f0f0f0
          border-radius 3px
          .ps__thumb-y
            position absolute
            background #b3b3b3
            border-radius 3px
            cursor pointer
            width 100%
          @media $smMinus
            right 0

        @media $smMinus
          padding 0 54px 0 50px
          max-height 260px
        @media $xs
          padding 0
          max-height inherit
      @media $xs
        padding 0
    &_item_header
      line-height 1.2
      margin-bottom 0
      &:before
        background #000
      span
        display block
      @media $smMinus
        font-size 30px
        &:before
          top 17px
          background #eb142a
        span
          display inline
          margin-left 10px
      @media $xs
        font-size 22px
        margin-bottom 25px
    &_item_image
      margin 0
      height 100%
    &-reverse
      .AboutBlock_item_header
        &:before
          left -50px
      .AboutBlock_itemText
        padding 0 0 0 80px
        @media $smMinus
          padding 0 0 0 50px
        @media $xs
          padding 0

    @media $smMinus
      margin-bottom 100px
    @media $xs
      margin-bottom 60px

  &_plan
    position relative
    margin-bottom 240px
    @media $smMinus
      margin-bottom 95px
      height 815px
    @media $xs
      margin-bottom 60px
      height auto

  &_planScrollable
    @media $smMinus
      overflow-y scroll
      position absolute
      top 0
      left 0
      right 0
      bottom 0
    @media $xs
      position relative
      height 348px

  &_planWrp
    position relative
    @media $smMinus
      position absolute
      top 0
      left 0

  &_planImg
    height 660px
    width 100%
    max-width none
    @media $smMinus
      width auto
    @media $xs
      height 350px

  &_planMarkers
    position absolute
    top 0
    left 0
    right 0
    bottom 0

  &_planMarker
    position absolute
    background-color #fff
    height 50px
    line-height 46px
    width 50px
    border-radius 50%
    text-align center
    color #ff0000
    border 2px solid #ff0000
    transition .5s ease
    font-size 20px
    font-weight 600
    &:after
      content ''
      position absolute
      top 0
      left 0
      right 0
      bottom 0
      border-radius 50%
      border 2px solid #fff
      opacity 0
      transition transform .3s ease, opacity .3s ease
    &:hover
      background-color #ff0000
      color #fff
      border-color #fff
      cursor pointer
      &:after
        animation planMarkerCircle 1.2s infinite

  &_planList
    background-color #fff
    position absolute
    z-index 2
    left 55px
    bottom -148px
    padding 45px 0 45px 50px
    box-shadow 1px 1px 5px 0 rgba(0, 0, 0, .1)
    ol
      height 215px
      column-count 2
      list-style-position inside
      column-gap 50px
      list-style-type none
      counter-reset list 0
      li
        position relative
        margin-bottom 25px
        padding-left 20px
        font-size 15px
        transition color .3s ease
        &:before
          counter-increment: list;
          content: counter(list);
          position absolute
          left 0
          top 0
        &.hover
          cursor pointer
          color #ff0000
          font-weight 600
      @media $smMinus
        column-count 3
        height 160px
      @media $xs
        column-count 2
        height 230px
    @media $smMinus
      left 40px
      right 40px
      bottom 0
    @media $xs
      padding 30px 0 30px 15px
      left 0
      right 0
      position relative

  &_sliderCount
    @media $xs
      display none
    &-mobile
      display none
      @media $xs
        display block
        float none
        text-align center
        position absolute
        left 0
        bottom -35px
        width 100%

  &_sliderCountCurrent,
  &_sliderCountTotal
    display inline-block
    vertical-align top

  &_sliderCountCurrent
    font-size 42px
    color #000
    line-height 0.9
    @media $xs
      font-size 22px

  &_sliderCountTotal
    font-size 20px
    color rgba(0, 0, 0, .6)
    @media $xs
      font-size 14px

  &_itemSliderWrp
    position relative
    background #faf9f9
    padding-top 40px
    margin-top 10px
    width 100%

    .About_sliderBtn
      height calc(100% - 40px)
      top 40px
      @media $smMinus
        top 0
        height 100%
      @media $xs
        top auto
        height 50px

    @media $smMinus
      padding 0
      margin-top 35px

  &_itemSlide
    background #fff
    width 33%
    height auto

  &_itemSlideImg
    background no-repeat center / cover
    height 200px
    position relative

  &_itemSlideAmount
    position absolute
    right  0
    top 0
    background #eb142a
    color #fff
    text-align center
    padding 12px 18px

    > span
      font-weight 500
      font-size 20px

    > div
      font-weight 300
      font-size 12px
      margin-top 5px

    &-zero
      background #212121

    @media $xs
      padding 11px 11px 9px

  &_itemSlideContent
    padding 23px 18px
    p
      margin-top 30px
      line-height 1.8
      font-size 15px

  &_itemSlideTitle
    color #eb142a
    font-size 22px
    font-weight 600
    margin-bottom 30px

  &_itemSlideInfo
    font-size 15px
    padding-bottom 20px
    margin-bottom 30px
    border-bottom 1px solid #d0d3d4

    span:nth-of-type(2)
      float right

  &_itemSlidePlace
    font-size 15px
    position relative
    padding-left 25px
    &:before
      content ''
      position absolute
      left 0
      top 0
      height 14px
      width 10px
      background-repeat no-repeat
      background-size contain
      background-position center
    &-loc
      margin-bottom 15px
      &:before
        background-image url("/img/point.png")
    &-metro
      display inline-block
      &:before
        height 15px
        width 12px
        background-image url("/img/metro_ico.png")
    &-brown
      &:after
        content ''
        position absolute
        top 4px
        right -15px
        background #87412b
        width 7px
        height 7px
        border-radius 3px

  &_tableWrp
    margin-top 100px
    position relative
    .About_header
      @media $xs
        display block

  &_tableSlideWrp
    max-height 440px
    overflow hidden
    transition max-height 1.2s ease
    margin-top 45px
    @media $smMinus
      max-height 400px
    @media $xs
      margin-top 30px
      max-height 150px
    @media (max-width 378px)
      max-height 185px
  &_table
    display table
    width 100%
    position relative
    &-more
      margin-top 0
    @media $smMinus
      background #fff
      border-spacing 0 20px
    @media $xs
      padding-bottom 10px

  &_tableRow
    display table-row
    font-size 15px
    height 74px
    &:not(.About_tableRow-head)
      &:hover
        font-weight 500

    &-head
      text-transform uppercase
      font-size 12px

      @media $smMinus
        color rgba(0, 0, 0, 0.4)

      .About_tableCell
        text-align left
        &:nth-of-type(1),
        &:nth-of-type(4)
          text-align center

        @media $xs
          text-align center
          font-size 10px

    &:nth-of-type(even)
      background #fff
    @media $xs
      font-size 13px
      height auto

  &_tableCell
    display table-cell
    text-align center
    vertical-align middle
    padding 0 15px

    &:nth-of-type(2),
    &:nth-of-type(3)
      text-align left

    &:nth-of-type(3)
      @media $smMinus
        width 15%

    &:nth-of-type(4)
      @media $smMinus
        width 15%

    &:nth-of-type(5)
      width 15%
      @media $smMinus
        width 18%
        text-align center

    &:last-of-type
      text-align right
      padding-right 60px
      @media $smMinus
        width 20%
        padding-right 25px

    &-hideDesc
      display none
      @media $smMinus
        display table-cell
    &-hideTablet
      @media $smMinus
        display none

    &-hideMobile
      @media $xs
        display none

    @media $xs
      width 25%
      text-align center
      padding 0 7px
      &:first-of-type
        width 10%
      &:nth-of-type(3)
        width 35%
      &:nth-of-type(4)
        width 30%

  &_tableMore
    position absolute
    bottom -30px
    left 50%
    transform translateX(-50%)
    .About_moreBtn
      > div
        display none
        div
          display inline
          vertical-align middle
        @media $smMinus
          display inline
          vertical-align middle
      &-open
        > div
          display none
    @media $smMinus
      bottom -35px
      background #fff
      width 100%
      padding 10px 0 20px

  &_slider
    margin-top 140px
    @media $smMinus
      margin-top 100px
    @media $xs
      margin-top 86px

  &_mainSlider
    position relative
    @media $xs
      .About_sliderBtn
        top 50%
        transform translateY(-50%)
        background rgba(255, 255, 255, 0.6)

  &_mainSlide
    background no-repeat center / cover
    height 100%
    padding-bottom 60%

  &_thumbSlider
    margin-top 20px
    overflow visible
  &_thumbSlide
    width 295px
    height 176px
    background no-repeat center / cover
    position relative
    cursor pointer
    &:after
      content ''
      position absolute
      top 0
      left 0
      right 0
      bottom 0
      background #fff
      opacity .4
      transition opacity .2s
    &.active
      &:after
        opacity 0
    @media $smMinus
      height 130px
      width 220px
    @media $xs
      height 80px
      width 132px

  &_history
    margin-top 110px
    .AboutBlock_item_text
      p:first-of-type
        margin-top 0
    @media $smMinus
      margin-top 100px
    @media $xs
      margin-top 60px

  &_showMore
    .About_sliderCount
      @media $smMinus
        .About_sliderCountTotal
          font-size 22px
          vertical-align middle
          color #000
          line-height 0.9

  &_arendators
    .About_header
      margin-bottom 50px
      @media $smMinus
        margin-bottom 35px
      @media $xs
        margin-bottom 15px
    .About_sliderCount
      @media $xs
        display block

  &_showMoreItems
    display flex
    flex-wrap wrap

  &_showMoreItem
    padding 0 20px 20px 0
    flex-basis 25%
    max-width 25%
    &:nth-of-type(4n)
      padding-right 0
    &:nth-of-type(4)
      ~ .About_showMoreItem
        display none

    @media $smMinus
      flex-basis 33.33%
      max-width 33.33%
      padding 0 10px 10px 0
      &:nth-of-type(3n)
        padding-right 0
      &:nth-of-type(4n)
        padding-right 10px
      &:nth-of-type(3)
        ~ .About_showMoreItem
          display none
    @media $xs
      &:nth-of-type(2)
        ~ .About_showMoreItem
          display none

  &_arendatorsItems
    .About_showMoreItem
      @media $xs
        max-width 50%
        flex-basis 50%
        padding-right 10px
        &:nth-of-type(2n)
          padding-right 0

  &_arendatorsItem
    background #fff no-repeat center / contain
    height 165px
    display block
    text-align center
    position relative

    img
      position absolute
      top 50%
      left 50%
      transform translate(-50%, -50%)
      @media $xs
        height 70%
    @media $smMinus
      height 130px
    @media $xs
      height 78px

  &_rewards
    margin-top 100px
    .About_header
      margin-bottom 50px
      @media $smMinus
        margin-bottom 35px
      @media $xs
        margin-bottom 15px
        .About_sliderCount
          display block

  &_rewardsItems
    @media $xs
      display block
      .About_showMoreItem
        max-width 100%
        flex-basis 100%
        padding-right 0
        &:first-of-type
          ~ .About_showMoreItem
            display none

  &_rewardsItem
    background #fff
    height 100%
    position relative
    padding 20px 20px 50px

    p
      font-size 15px
      line-height 1.5

  &_rewardsItemImg
    background no-repeat center / contain
    width 160px
    height 160px
    margin 0 auto 15px

  &_rewardsItemYear
    font-weight 600
    font-size 15px
    position relative
    padding-bottom 23px
    &:after
      content ''
      position absolute
      left 0
      bottom 0
      height 1px
      background #929292
      width 35px

  &_rewardsItemTitle
    font-size 20px
    font-family 'PF Regal Text Pro'
    margin 25px 0 30px

  &_moreHidden
    display none
    &-desktop
      display block
      @media $xs
        display none

  &_mapWrp
    margin-top 100px
    position relative
    @media $xs
      margin-top 60px

  &_map
    height 560px
    width 100%
    @media $smMinus
      height 470px
    @media $xs
      height 320px

  &_mapInfo
    position absolute
    top 70px
    right 100px
    background #fff
    padding 35px
    @media $smMinus
      top 40px
      right 20px
    @media $xs
      position relative
      top 0
      right 0
      padding 30px 16px

  &_mapInfoLogo
    background no-repeat center / contain
    width 250px
    height 50px
    margin-bottom 50px
    @media $smMinus
      width 195px
      height 40px
    @media $xs
      margin-bottom 55px

  &_mapInfoAddress
    position relative
    font-size 13px
    border-bottom 1px solid #d5d6d6
    padding-left 15px
    padding-bottom 25px
    margin-bottom 55px
    &:before
      content ''
      position absolute
      left 0
      top 0
      height 12px
      width 8px
      background url("/img/point.png") no-repeat center / contain
    @media $smMinus
      margin-bottom 60px
      padding-bottom 20px

  &_mapInfoBtn
    margin-right 15px
    width 216px
    @media $smMinus
      margin-right 0
      width 100%

  &_mapInfoNumber
    @media $smMinus
      display block
      margin-top 20px
      text-align center


@keyframes planMarkerCircle
  10%
    opacity 0
    transform scale(1.1)
  20%
    transform scale(1.2)
  30%
    transform scale(1.3)
    opacity .3
  40%
    transform scale(1.4)
  50%
    transform scale(1.5)
    opacity 1
  60%
    transform scale(1.4)
    opacity .3
  70%
    transform scale(1.3)
  80%
    transform scale(1.2)
  90%
    transform scale(1.1)
  100%
    transform scale(1.0)
    opacity 0