$boxLayout
    width 100%
    margin-right auto
    margin-left auto
    @media $xs
        padding 0 16px
    @media $sm
        max-width $smBoxWidth
        padding 0 22px
    @media $md
        max-width $mdBoxWidth
    &-smTight
        @media $sm
            max-width 768px
    
.Box
    @extend $boxLayout