.Breadcrumbs
    height 93px
    display flex
    flex-wrap wrap
    flex-direction row
    justify-content space-between
    align-items center
    @media $xs
        display none
    &_list
        display flex
        align-items center
    &_item
        position relative
        margin-right 30px
        font-size 15px
        font-weight 600
        color #2e2e2e
        &:last-child
            margin-right 0
        &-active
            color #eb142a
            a
                cursor default
    
    &_list:first-child > .Breadcrumbs_item
        &:before
            content ''
            position absolute
            width 10px
            height 10px
            background url('../img/arrow_right_sm.svg') center no-repeat
            background-size contain
            left -18px
            top 2px
        &:first-child
            &:before
                display none