.Btn
  height 55px
  line-height 55px
  text-align center
  font-size 14px
  text-transform uppercase
  border 1px solid #eb142a
  color #eb142a
  display inline-block
  transition all .3s ease

  &:hover
    color #fff
    background-color #eb142a