.Button
  display inline-block
  position relative
  border 1px solid
  border-color #eb142a
  color #000
  padding 5px 18px
  margin 15px
  box-sizing border-box
  min-width 215px
  min-height 56px
  text-align center
  font-weight 400
  font-size 14px
  line-height 44px
  text-transform uppercase
  &:first-child
    margin-left 0
  &:last-child
    margin-right 0
  svg
    fill #232325
  &-white
    border-color #fff
    color #fff
    svg
      fill #fff
  &-hot
    color #eb142a
  &-fill
    background #eb142a
    color #fff
    svg
      fill #fff
  &_icon
    width 44px
    height 44px
    display flex
    align-items center
    justify-content center
    position absolute
    top 50%
    margin-top -22px
    right 5px
  &-icon
    padding-right 60px
    min-width 56px
  &-actionIcon
    padding-right 78px
    .Button_icon
      background #eb142a
      svg
        fill #fff
  &-min
    margin 0
    min-height 0
    min-width 110px
    padding 0 15px
    line-height 40px
    text-transform none
    span
      text-decoration underline
