.Card
  padding 10px
  position relative
  width 33.33%
  height auto
  @media $sm
    width 50%
  @media $xs
    width 100%
  &:hover
    > .Card_link
      opacity 1

  &_link
    position absolute
    top 0
    left 0
    bottom 0
    right 0
    z-index 2
    cursor pointer
    transition opacity .3s ease
    opacity 0
    &:hover
      + .Card_wrp
        filter blur(5px)

  &_btn
    position absolute
    top 50%
    left 50%
    z-index 1
    transform translate(-50%, -50%)
    width 66%

  &_wrp
    background #fff
    height 100%

  &_img
    background no-repeat center / cover
    height 200px
    position relative

  &_amount
    position absolute
    right  0
    top 0
    background #eb142a
    color #fff
    text-align center
    padding 12px 18px

    > span
      font-weight 500
      font-size 20px

    > div
      font-weight 300
      font-size 12px
      margin-top 5px

    &-zero
      background #212121

    @media $xs
      padding 11px 11px 9px

  &_content
    padding 23px 18px
    p
      margin-top 30px
      line-height 1.8
      font-size 15px

  &_title
    color #eb142a
    font-size 22px
    font-weight 600
    margin-bottom 30px

  &_info
    font-size 15px
    padding-bottom 20px
    margin-bottom 30px
    border-bottom 1px solid #d0d3d4

    span:nth-of-type(2)
      float right

  &_place
    font-size 15px
    position relative
    padding-left 25px
    color rgba(0, 0, 0, 0.8)
    &:before
      content ''
      position absolute
      left 0
      top 0
      height 14px
      width 10px
      background-repeat no-repeat
      background-size contain
      background-position center
    &-loc
      margin-bottom 15px
      &:before
        background-image url("/img/point.png")
    &-metro
      display inline-block
      &:before
        height 15px
        width 12px
        background-image url("/img/metro_ico.png")
      span
        display inline-block
        vertical-align middle

  &_placeColor
    width 7px
    height 7px
    border-radius 3px
    margin-left 10px