.Contacts
    position relative
    height 582px
    @media $smMinus
        height auto
    &_map
        width 100%
        height 100%
        background-color #e5e3df
        @media $xs
            height 334px
        @media $sm
            height 568px
    &_content
        position absolute
        top 58px
        right calc(50% - 619px)
        width 370px
        padding 44px 26px 58px 53px
        background-color #fff
        box-shadow 0 6px 8.37px .63px rgba(26, 26, 26, .05)
        z-index 1
        @media $xs
            padding 59px 16px 54px
        @media $sm
            padding 50px 26px 42px 93px
        @media $smMinus
            position static
            right auto
            left 0
            width 100%
    &_title
        position relative
        font-size 18px
        line-height 1
        margin-bottom 26px
        text-transform uppercase
        font-weight 500
        letter-spacing .2px
        color #2e2e2e
        @media $xs
            margin-bottom 39px
        &::after
            content ''
            position absolute
            top 9px
            left -73px
            width 43px
            height 1px
            background-color #252324
    &_item
        margin-bottom 25px
        @media $xs
            padding-right 36px
            margin-bottom 22px
        @media $sm
            margin-bottom 17px
        @media $md
            display flex
            flex-direction column
        &:last-of-type
            margin-bottom 0
        &:nth-of-type(2)
            margin-bottom 33px
            @media $xs
                margin-bottom 20px
            @media $sm
                margin-bottom 16px
            & .Contacts_text
                @media $xs
                    &:nth-of-type(3)
                        display block
    &_text
        font-size 14px
        line-height 1.65
        color #2e2e2e
        letter-spacing .6px
        @media $xs
            padding-right 3px
            letter-spacing .2px
            line-height 1.3
        @media $sm
            padding-right 6px
        &-red
            margin-bottom 5px
            color #eb142a
            @media $xs
                font-size 18px
            @media $sm
                margin-bottom 3px
            @media $smMinus
                width 100%
