.DropdownMenu
    display flex
    &_leaf
        margin-right 36px
        color #181618
        font-size 15px
        letter-spacing .75px
        position relative
    &_submenu
        background #fff
        width 222px
        padding 0 12px
        box-shadow 0 12px 27px 3px rgba(26, 26, 26, .14)
    &_subleaf
        width 100%
        border-top 1px solid #dedede
        text-align center
        color #0e0e0e
        &:hover
            color rgb(235, 20, 42)
        &:first-child
            border-color #fff
        & > a
            display block
            height 44px
            line-height (@height - 2px)
            overflow hidden
            white-space nowrap
            text-overflow ellipsis
    &_submenuLabel
        &.ui-state-active
        &:hover
            color rgb(235, 20, 42)
        & > .SvgIco-arrowDown
            margin-left 4px