.Filters
  background #fff
  overflow hidden
  position relative

  &_form
    padding-top 60px
    display flex
    justify-content space-between
    flex-wrap wrap
    @media $xs
      padding-top 20px
  @media $xs
    &_box
      position absolute
      background white
      top 0
      right 0
      left 0
      max-height 100%
      overflow-y scroll
      z-index 10
      display none

  &_select
    flex-basis 21%
    max-width 21%
    margin-bottom 60px
    @media $sm
      flex-basis 46%
      max-width 46%
    @media $xs
      flex-basis 100%
      max-width 100%
      margin-bottom 30px

    .select2-container
      width 100%
      .select2-selection
        border none
        outline none
        font-size 20px
        font-weight 300
        height auto
        line-height inherit
        min-height auto
        padding-bottom 12px
        border-bottom 1px solid #d5d6d6
        border-radius 0

        @media $smMinus
          font-size 18px

        .select2-selection__rendered
          padding-left 0
          display flex
          flex-wrap wrap
          min-height 27px
          @media $smMinus
            min-height 19px
            line-height 19px

        .select2-selection__placeholder
          color #232325

        .select2-selection__arrow
          b
            border 1px solid #232325
            border-left none
            border-top none
            width 7px
            height 7px
            transform rotate(45deg)
            margin-top -5px
            margin-left 0
          @media $smMinus
            height 18px

        &--multiple
          font-size 15px

      .select2-dropdown
        border none

        .select2-results
          box-shadow 0 5px 15px 3px rgba(0,0,0,0.15)
          margin 0 -10px
        .select2-results__options
          max-height 100%
        .select2-results__option
          font-size 20px
          color #232325
          font-weight 300
          padding 22px
          background #fff
          &--highlighted
            background #d5d6d6
          @media $smMinus
            font-size 18px
            padding 18px
        .select2-results__option[aria-selected=true]
          display none

      &--open
        .select2-selection
          .select2-selection__arrow b
            transform rotate(225deg)
            margin-top -2px

    &-single
      @media $smMinus
        margin-bottom 50px
        &:nth-of-type(4)
          margin-bottom 80px
      @media $xs
        margin-bottom 30px
        &:nth-of-type(4)
          margin-bottom 30px

    &-multi
      .select2-container
        .select2-selection--multiple
          padding-left 25px
          position relative
          &:before
            content ''
            position absolute
            left 0
            top 6px
            height 16px
            width 14px
            background no-repeat center / contain
          &:after
            content ''
            position absolute
            border 1px solid #232325
            border-left none
            border-top none
            width 7px
            height 7px
            right 6px
            top 50%
            transform rotate(45deg) translateY(-50%)
            margin-top -7px
            margin-left 0

          .select2-selection__choice
            background transparent
            border 1px solid #d5d6d6
            border-radius 0
            padding 2px 5px
            .select2-selection__choice__remove
              margin-right 4px
          .select2-search__field
            width 100%
          .select2-selection__clear
            z-index 3
        .select2-selection--multiple[aria-expanded=true]
          &:after
            transform rotate(225deg) translateY(-50%)
            right 3px
      @media $smMinus
        margin-bottom 50px
      @media $xs
        margin-bottom 30px

    &-found
      @media $smMinus
        margin-bottom 50px
      @media $xs
        margin-bottom 25px
        text-align center
    &-metro
      .select2-container .select2-selection--multiple
        &:before
          background-image url("../img/metro_red.png")
    &-complex
      .select2-container .select2-selection--multiple
        &:before
          background-image url("../img/house.png")
    &-rubric
      .select2-container .select2-selection--multiple
        padding-left 0
        font-size 20px
        @media $smMinus
          font-size 18px

  &_selectRange
    @media $smMinus
      margin-bottom 85px
    @media $xs
      margin-bottom 60px
  &_name
    font-size 20px
    font-weight 200
    margin-bottom 15px
    color rgba(35, 35, 37, 0.8)
    @media $smMinus
      font-size 18px

  &_selectCheck
    &-rooms
      .Filters_checkbox
        flex-basis 30%
        max-width 30%
        margin-right 0
        @media $smMinus
          flex-basis 21%
          max-width 21%
        &:last-of-type
          flex-basis 65%
          max-width 65%
          @media $smMinus
            flex-basis 47%
            max-width 47%
    @media $xs
      margin-bottom 10px
  &_checks
    display flex
    flex-wrap wrap
    justify-content space-between
  &_checkbox
    margin-bottom 20px
    padding-bottom 9px
    position relative
    margin-right 10px
    input
      display none
      + label
        font-size 15px
        font-weight 300
        color #c5c5c5
        &:before
          content ''
          position absolute
          top 0
          left 0
          bottom 0
          right 0
          z-index 2
        &:after
          content ''
          position absolute
          left 0
          bottom 0
          width 100%
          height 3px
          background #c5c5c5
      &:checked
        + label
          color #eb142a
          &:after
            background #eb142a
  &_range
    height 3px
    background #c5c5c5
    .ui-slider-range
      height 3px
      background #eb142a
    .ui-slider-handle
      width 20px
      height 20px
      background #eb142a
      border 2px solid #fff
      border-radius 50%
      top -8px
      outline none
      cursor pointer

  &_rangeNumbers
    position absolute
    top 25px
    left 0
    width 100%
    font-size 15px
    span
      width 50%
      display inline-block
      &:last-of-type
        text-align right
    @media $xs
      top 20px
      font-size 14px

  &_found
    font-size 20px
    font-weight 400
    display none
    span
      margin-left 10px
      color #eb142a
    @media $smMinus
      font-size 18px

  &_formBottom
    flex-basis 100%
    max-width 100%
    &:before
      content ''
      position absolute
      left 0
      width 100%
      height 3px
      background #f5f5f5
  &_formBottomItems
    display flex
    justify-content space-between
    align-items flex-end
    flex-wrap wrap
    padding 30px 0 40px
    .Filters_select
      flex-basis 35%
      max-width 35%
      margin-bottom 0
      @media $sm
        flex-basis 46%
        max-width 46%
        margin-bottom 50px
      @media $xs
        flex-basis 100%
        max-width 100%
        margin-bottom 20px
        &:first-of-type
          margin-bottom 25px
    @media $xs
      padding 25px 0 10px

  &_btn
    max-width 22%
    flex-basis 22%
    @media $smMinus
      flex-basis 100%
      max-width 100%
      display flex
      justify-content flex-end
      flex-wrap wrap
    button
      background transparent
      width 100%
      margin 0
      outline none
      @media $smMinus
        margin-right 35px
        max-width 32%
        flex-basis 32%
      @media $xs
        max-width 100%
        flex-basis 100%
        margin-right 0
        margin-top 20px

  &_resetBtn
    display none
    .Button_icon
      background transparent
      svg
        fill #232325
        transform scale(0.75)
    &-head
      display block
      @media $smMinus
        display none
    @media $smMinus
      display block

  &_itemsWrp
    padding 65px 0 135px
    background #f5f5f5
    @media $xs
      position relative
      padding 30px 0 60px
      &:after
        content ''
        position absolute
        top 0
        left 0
        right 0
        bottom 0
        background rgba(17, 17, 17, 0.2)
        z-index 2
        opacity 0
        transition opacity .3s ease
        pointer-events none
      &--darken
        &:after
          opacity 1

  &_items
    display flex
    flex-wrap wrap
    margin 0 -10px 65px -10px
    @media $xs
      margin-bottom 20px

  &_itemWrp
    padding 10px
    position relative
    width 33.33%
    height auto
    @media $sm
      width 50%
    @media $xs
      width 100%
      margin-bottom 10px
    &:hover
      > .Filters_itemLink
        opacity 1

  &_itemLink
    position absolute
    top 0
    left 0
    bottom 0
    right 0
    z-index 2
    cursor pointer
    transition opacity .3s ease
    opacity 0
    &:hover
      + .Filters_item
        filter blur(5px)

  &_itemBtn
    position absolute
    top 50%
    left 50%
    z-index 1
    transform translate(-50%, -50%)
    width 66%

  &_item
    background #fff
    height 100%

  &_itemImg
    background no-repeat center / cover
    height 200px
    position relative

  &_itemAmount
    position absolute
    right  0
    top 0
    background #eb142a
    color #fff
    text-align center
    padding 12px 18px

    > span
      font-weight 500
      font-size 20px

    > div
      font-weight 300
      font-size 12px
      margin-top 5px

    &-zero
      background #212121

    @media $xs
      padding 11px 11px 9px

  &_itemContent
    padding 23px 18px
    p
      margin-top 30px
      line-height 1.8
      font-size 15px

  &_itemTitle
    color #eb142a
    font-size 22px
    font-weight 600
    margin-bottom 30px

  &_itemInfo
    font-size 15px
    padding-bottom 20px
    margin-bottom 30px
    border-bottom 1px solid #d0d3d4

    span:nth-of-type(2)
      float right

  &_itemPlace
    font-size 15px
    position relative
    padding-left 25px
    color rgba(0, 0, 0, 0.8)
    &:before
      content ''
      position absolute
      left 0
      top 0
      height 14px
      width 10px
      background-repeat no-repeat
      background-size contain
      background-position center
    &-loc
      margin-bottom 15px
      &:before
        background-image url("/img/point.png")
    &-metro
      display inline-block
      &:before
        height 15px
        width 12px
        background-image url("/img/metro_ico.png")
      span
        display inline-block
        vertical-align middle

  &_itemPlaceColor
    width 7px
    height 7px
    border-radius 3px
    margin-left 10px

  &_pagination
    position relative
    text-align center

  &_bullet
    width 15px
    height 15px
    border-radius 50%
    background transparent
    border 1px solid #eb142a
    transition border-width .3s ease
    margin-right 5px
    cursor pointer
    position relative
    display inline-block
    vertical-align middle
    &:last-of-type
      margin-right 0
    &:hover
      border-width 6px
    &-active
      pointer-events none
      border-width 4px
  &_showAll
    margin-top 15px
    margin-bottom 15px
    text-align center
    background #fff
    @media $smPlus
      display none
    &_btn
      display inline-block
      padding 10px 20px
      position relative
      text-transform uppercase
      color #eb142a
      svg
        display inline-block
        stroke #eb142a
        fill none
        margin-left 10px
        width 11px
        height 11px
        transition transform .6s
      &--active
        svg
          transform rotate(180deg)
    &-mainPage
      margin-top 5px
      margin-bottom 10px
      padding 15px 0

  &-mainPage
    background none
    overflow visible

    @media $smMinus
      margin 0 20px

    @media $xs
      margin 0
      position relative
      top -10px

    .Filters_box
      max-width 1356px
      padding 0 60px
      background #fff

      @media $xs
        padding 0 15px 30px
        position relative

    .Filters_btn
      button
        @media (max-width 991px)
          max-width 38%
          flex-basis 38%

        @media $xs
          max-width 100%
          flex-basis 100%