.Footer
    background-color #1a181d
    color #fff
    @media $xs
        text-align center
    &_mainContent
        @media $xs
            padding 22px 10px 37px
        @media $sm
            padding 25px 42px 53px
        @media $md
            max-width $mdBoxWidth
            padding 52px 0 104px
            margin 0 auto
    &_groupsRow
        @media $sm
            display flex
            justify-content space-between
            align-items flex-end
        @media $md
            display flex
            justify-content space-between
    &_group
        &-n1
            @media $xs
                border-bottom 1px solid mix(#1a181d, #fff, 90%)
                padding-bottom 17px
                margin-bottom 20px
        &-n2,
        &-n3,
        &-n4
            @media $smMinus
                display none
        &-n5
            @media $sm
                text-align right
    &_groupHead
        font-weight 500
        @media $xs
            padding-bottom 14px
            letter-spacing .32px
        @media $sm
            padding 42px 0 19px
            letter-spacing .32px
        @media $md
            font-size 18px
            letter-spacing .42px
            padding 28px 0 40px
                
    &_logo
        width auto
        @media $xs
            margin-bottom 16px
            height 57px
        @media $sm
            margin-bottom 26px
            height 49px
        @media $md
            margin-bottom 26px
            height 57px
    &_slogan
        color mix(#1a181d, #fff)
        @media $xs
            max-width 240px
            margin 0 auto
            letter-spacing .35px
        @media $smPlus
            max-width 184px
            font-size 15px
            letter-spacing .38px
    &_menuItem
        padding-bottom 18px
    &_menuLink
        color mix(#1a181d, #fff)
        font-size 15px
        font-weight 400
        letter-spacing .21px

    &_phone
        @media $xs
            font-size 22px
            letter-spacing 1.1px
            padding-bottom 14px
        @media $sm
            font-size 18px
            letter-spacing .9px
            padding-bottom 4px
        @media $md
            font-size 25px
            letter-spacing 1.25px
            padding-bottom 14px
    &_callOrderLink
        color #eb142a
        letter-spacing .7px
        @media $smPlus
            font-size 15px
            letter-spacing .75px
            display inline-block
            margin-bottom 14px
    &_address,
    &_email
        @media $smMinus
            display none
        @media $md
            font-size 15px
            letter-spacing .38px
            padding-bottom 14px
    &_copyright
        background-color #1d1c20
        @media $xs
            padding 22px 10px
        @media $sm
            padding 20px 42px
            display flex
            justify-content space-between
        @media $md
            padding 25px 0
            position relative
    &_copyText
        color mix(#1a181d, #fff, 70%)
        @media $xs
            padding-bottom 37px
        @media $md
            text-align center
    &_socIconsWrap
        display flex
        align-items center
        @media $xs
            justify-content center
        @media $md
            position absolute
            right 98px
            height 24px
            top 50%
            margin-top -12px
    &_socIco
        color mix(#1a181d, #fff, 70%)
        transition all .3s
        &:hover
            color #fff
        margin 0 8px