.Form
    &_field
        &.error
            color #c83234
            &::placeholder
                color #c83234
        &:focus
            border-color #dcc8c9
            outline 0
        &:focus,
        &.error:focus
            &::placeholder
                color #e1e1e3
    &_hint
        font-size 12px
        position absolute
        font-style normal
        &-error
            color #c83234