.GeoMap
    height 100%
    width 100%
    position relative
    &_map
        position absolute
        left 0
        right 0
        top 0
        bottom 0
        width 100% !important
        height 100% !important