.Header
    background-color #fff
    &_inner
        height 100%
        display flex
        align-items center
        @media $xs
            padding 0 8px
            height $xsHeaderHeight
            justify-content space-between
        @media $sm
            height $smHeaderHeight
            padding 0 22px
        @media $md
            height $mdHeaderHeight
            max-width $mdBoxWidth
            margin 0 auto
            
    &_divider
        background mix(#1d1d1d, #fff, 40%)
        width 1px
        position relative
        @media $xs
            height 24px
        @media $smPlus
            height 29px
        &-n1
            @media $xs
                margin-left 8px
                margin-right 7px
            @media $sm
                margin-left 14px
                margin-right 17px
            @media $md
                margin-left 19px
                margin-right 17px
        &-n2
            @media $xs
                display none
            @media $sm
                margin-left 24px
                margin-right 25px
                top 4px
            @media $md
                display none
    &_logoWrap
        display flex
        align-items center
        align-items flex-end
        @media $sm
            padding-bottom 8px
        @media $md
            padding-right 96px
            
    &_logo
        width auto
        @media $xs
            height 29px
        @media $sm
            height 43px
        @media $md
            height 57px
    &_slogan
        position relative
        @media $xs
            font-size 10px
            letter-spacing .25px
        @media $sm
            font-size 15px
            letter-spacing .38px
            line-height 1.27
            top 6px
        @media $md
            font-size 15px
            letter-spacing .38px
            line-height 1.26
            top 3px
    &_menuWrap
        @media $xs
            display none        

    &_menuWrap
        @media $smMinus
            display none
        @media $md
            padding-top 40px
    &_phoneWrap
        text-align right
        @media $xs
            display none
        @media $sm
            padding-top 4px
        @media $smPlus
            margin-left auto
        @media $md
            padding-top 8px
    &_phone
        @media $sm
            color #242123
            font-size 18px
            font-weight 500
            letter-spacing .36px
            padding-bottom 3px
        @media $md
            font-size 25px
            font-weight 400
            letter-spacing 1.25px
            padding-bottom 9px

    &_callOrderLink
        color #eb142a
        font-size 15px
        letter-spacing .75px
            
    &_burger
        background none
        border 0
        padding 0
        margin 0
        position relative
        @media $sm
            top 2px
        @media $md
            display none
    &_burgerText
        font-size 15px
        letter-spacing .3px
        color #242123
    &_burgerIco
        display inline-block
        background  url('../img/burger.svg') center no-repeat
        background-size contain
        width 18px
        height 11px
        @media $xs
            margin-left 6px
        @media $sm
            margin-left 8px