.MainContentBlock
  margin-bottom 20px
  &_subTitle
    font-size 15px
    font-weight 600
    margin-bottom 30px
    position relative
    @media $xs
      margin-bottom 0
      line-height 20px
    b
      font-weight 700
    span
      color #eb142a
    &_button
      position absolute
      right 0
      top -46px
      @media $smMinus
        top -100px
      @media $xs
        position relative
        top 0
        width 100%
        margin-left 0
  .swiper-slide-active
    z-index 2
  &_slide
    background-size cover
    background-position: 50% 50%
    min-height 450px
    &_buttons
      @media $xs
        .Button
          width 100%
          margin-left 0
          margin-right 0
    &_content
      width 100%
      height 100%
      display flex
      background rgba(25, 25, 25, 0.6)
      padding 70px 70px 40px 55px
      box-sizing border-box
      overflow hidden
      flex-wrap wrap
      @media $smMinus
        height 555px
      @media $xs
        padding 40px 15px 40px 15px
      &_downloadButton
        min-width 271px
        @media $xs
          min-width auto
      &_item
        width 50%
        position relative
        @media $smMinus
          width 100%
        &-description
          width 530px
          padding 35px 40px
          @media $smMinus
            width 100%
          @media $xs
            padding 12px
        &-img
          flex 1 0
          @media $smMinus
            width 100%
            height 427px
            flex 100%
          @media $xs
            height 180px
        &-info
          @media $smMinus
            height 115px
        &-fullWidth
          width 100%
      &_mainInfo
        min-height 86px
        background #232325
        display flex
        flex-wrap wrap
        &_left
          width 530px
          padding 15px 40px
          padding-right 0
          font-size 15px
          line-height 26px
          display flex
          @media $smMinus
            width 100%
            border-bottom 1px solid #fff
          @media $xs
            padding 12px
        &_right
          flex 1 0
          padding 15px 40px
          font-size 15px
          line-height 26px
          display flex
          @media $xs
            padding 12px
        &-phone
          color #eb1329
          margin-right 30px
          @media $xs
            display block
            margin-top 15px
            margin-right 0
        &-phoneRequest
          font-size 15px
          border-bottom 1px solid #fff
        &_prop
          width 33.33%
          padding-right 15px
          color #fff
          @media $xs
            padding-right 0
          &-phone
            width 100%
            border-color transparent
            color #fff
          &:last-child
            border-right 1px solid rgba(255, 255, 255, 0.3)
            @media $smMinus
              border-right 0
          &_key
            font-size 15px
            line-height 26px
            padding-bottom 5px
            span
              line-height 20px
            @media $xs
              padding 0
              font-size 14px
              line-height 15px
              min-height 30px
              text-align center
          &_value
            font-size 25px
            @media $xs
              font-size 18px
              text-align center
      &_bottomInfo
        min-height 110px
        display flex
        flex-wrap wrap
        &_text
          width 530px
          padding 35px 40px
          font-size 15px
          line-height 26px
          @media $smMinus
            padding 20px 40px 5px
          @media $xs
            padding 12px
            text-align center
            width 100%
        &_buttons
          flex 1 0
          padding 0 40px
          display flex
          align-items center
          justify-content flex-end
          @media $smMinus
            justify-content flex-start
            padding-bottom 20px
          @media $xs
            padding 0 12px
            flex-wrap wrap
            .Button
              width 100%
              margin-left 0
              margin-right 0
    &_text
      height 260px
      overflow hidden
      @media $smMinus
        height 216px
    &_title
      font-size 40px
      line-height 45px
      color #fff
      padding-bottom 20px
      border-bottom 1px solid rgba(255, 255, 255, 0.3)
      @media $xs
        font-size 18px
        line-height 22px
        padding-bottom 0
    &_description
      font-size 15px
      line-height 22px
      color #fff
      padding 20px 0
    &_region
      display inline-block
      font-size 30px
      padding 10px 10px 10px 0
      color #fff
      background #eb142a
      font-weight 600
      text-transform uppercase
      position relative
      margin-bottom 15px
      min-width 210px
      &:after
        content ''
        background #eb142a
        display block
        position absolute
        top 0
        height 100%
        width 60px
        left -60px
      &_description
        color #fff
        font-size 15px
        position relative
        line-height 22px
        @media $xs
          margin-left 30px
        &:before
          content ''
          width 18px
          height 1px
          position absolute
          top 10px
          left -30px
          background #fff
    &_num
      position absolute
      bottom 14px
      left 0
      color #fff
      font-size 18px
      @media $smMinus
        top -20px
        left auto
        right 0
      @media $xs
        display none
      &-mobile
        display none
        top auto
        bottom -33px
        width 100px
        margin-left -50px
        left 50%
        text-align center
        color #000
        font-size 14px
        .MainContentBlock_slide_num_current
          font-size 22px
          bottom -5px
        @media $xs
          display block
      &_current
        font-size 40px
        position relative
        bottom -14px
      &_next
        opacity 0.6
    &_infoTable
      padding 20px 0
      border-bottom 1px solid rgba(47, 48, 52, 0.2)
      &:last-child
        border-color transparent
      &_onMap
        position absolute
        top 0
        right 0
        z-index 5
        cursor pointer
        @media $xs
          display none
      &_prop
        font-size 15px
        position relative
        display flex
        justify-content space-between
        padding 6px 0
        &-mobile
          display none
          @media $xs
            display block
            .MainContentBlock_slide_infoTable_onMap
              display block
              position relative
              width 100%
        &_key
          font-weight 500
          max-width 350px
          &_icon
            width 12px
            height 12px
            display inline-block
            background-position center
            background-repeat no-repeat
            margin-right 10px
        &_value
          font-weight 600
          &-red
            color #eb142a
  &_slider
    margin 45px 0
    position relative
    overflow visible
    @media (min-width: 1284px) and (max-width: 1360px) {
      padding 0 60px
    }
    @media $smMinus
      padding 0 21px
    @media $xs
      margin-top 0
      padding 0
    &_nav
      position absolute
      width 60px
      height 100%
      background #e7e7e7
      top 0
      outline none
      display flex
      align-items center
      justify-content center
      cursor pointer
      @media $smMinus
        width 43px
      @media $xs
        height 50px
        width 50px
        top auto
        bottom -50px
      &-prev
        left -60px
        @media (min-width: 1284px) and (max-width: 1360px) {
        left 0
        }
        @media $smMinus
          left -22px
        @media $xs
          left 0
      &-next
        right -60px
        @media (min-width: 1284px) and (max-width: 1360px) {
          right 0
        }
        @media $smMinus
          right -22px
        @media $xs
          right 0
    &-big
      .MainContentBlock_slide_content
        background #fff
        min-height 650px
        padding 0
        @media $smMinus
          height 100%
      .MainContentBlock_slide_content_item-img
        background-size cover
        background-position 50% 50%
      .MainContentBlock_slide_title
        color #eb142a
      .MainContentBlock_slide_num
        top 10px
        bottom auto
        left auto
        right 42px
        &-mobile
          display none
          top auto
          bottom -33px
          width 100px
          margin-left -50px
          left 50%
          text-align center
          color #000
          font-size 14px
          .MainContentBlock_slide_num_current
            font-size 22px
            bottom -5px
          @media $xs
            display block
  &_modal
    width 90%
    max-width 900px
    height 90%
    max-height 600px
    padding 0
    overflow visible
    &_content
      width 100%
      height 100%
      display flex
      flex-wrap wrap
    .fancybox-close-small
      width 60px
      height 60px
      background #000
      position absolute
      right -60px
      top 0
      color #fff
      @media $smMinus
        right 0
