.MobMenu
    width 100%
    &_topbar
        display flex
        @media $xs
            height $xsHeaderHeight
        @media $sm
            height $smHeaderHeight
        @media $md
            height $mdHeaderHeight
    &_closeBtn
        display flex
        justify-content space-between
        align-items center
        background #232325
        border 0
        margin 0 0 0 auto
        height 100%
        position relative
        color #d5d5d5
        @media $xs
            padding 0 8px 0 16px
            width 95px
        @media $sm
            padding 0 22px
            width 124px
        @media $md
            padding 0 25px
            width 120px
    &_closeText
        font-size 15px
        letter-spacing .3px
    &_menu
        background #fff
        padding 36px 25px 0
        box-shadow 0 0 8px rgba(0,0, 0, .085)
        
    &_row
        padding 0 0 36px
        text-align right
        overflow hidden
    &_link
        font-size 18px
        font-weight 500
        color #232325
        cursor pointer
        display inline-block
        // &-withSubmenu
        //     padding-bottom 30px
    &_sublist
        padding-top 10px
        position relative
        right -20px
        top 14px
        display none
        &-visible
            display block
    &_subItem
        display inline-block
        height 16px
        line-height @height
        padding-right 10px
        margin-right 10px
        border-right 1px solid #7c7c7c
        margin-bottom 14px
    &_sublink
        color #7c7c7c
        