.Modal
    &.fancybox-content
        background none
        padding 0
        display block
        position absolute
        top 0
        left 0
        width 100%
    &_backdrop
        &.fancybox-bg
            opacity .3