.ObjDetails
    max-width 982px
    @media $md
        padding 0 14px
    &_title
        font-family PF Regal Text Pro RegularB
        color #eb142a
        display inline-block
        position relative
        @media $smMinus
            font-size 25px
            line-height 2
            letter-spacing .3px
            margin-bottom 24px
        @media $md
            font-size 36px
            line-height 1.39
            letter-spacing .4px
            margin-bottom 48px
        &:before
            content ""
            position absolute
            bottom 0
            right 0
            height 1px
            background-color #eb142a
            left -24px
            @media $md
                left -38px
    &_paramList
        font-weight 500
        @media $md
            display flex
            padding-bottom 24px
        
    &_paramLeaf
        @media $smMinus
            min-width 50%
            padding-bottom 20px
        @media $md
            padding 0 24px
            position relative
        &:after
            @media $md
                content ""
                position absolute
                right 0
                border-right 1px solid mix(#2f3034, #fff, 20%)
                bottom 2px
                height 45px
        &:first-child
            padding-left 0
        &:last-child
            padding-right 0
            &:after
                display none
    &_paramLabel
        color mix(rgb(35, 35, 37), #fff, 50%)
        line-height 1.2
        letter-spacing .4px
        font-size 15px
        @media $smMinus
            &:after
                content ":"
        @media $md
            padding-bottom 4px
            height 40px
            display flex
            align-items flex-end
    &_paramVal
        color #232325
        white-space nowrap
        @media $smMinus
            font-size 20px
            line-height 1.4
            letter-spacing .5px
        @media $md
            font-size 25px
            line-height 1.12
            letter-spacing .6px
    &_desc
        border-top 1px solid mix(#2f3034, #fff, 30%)
        color #000
        font-size 15px
        line-height 1.6
        letter-spacing .5px
        font-weight 500
        
        @media $smMinus
            padding-top 24px
            padding-bottom 24px
        @media $md
            padding-top 40px
            padding-bottom 40px
    &_slider
        background #f2f2f2
    &_slide
        background-position center
        background-repeat no-repeat
        background-size cover
        width 100%
        &:after
            content ''
            display block
            padding-top 66%
    &_arrow
        position absolute
        top 50%
        z-index 10
        width 54px
        height 54px
        background-color rgb(242, 242, 242)
        opacity .8
        border 0
        transition all .2s
        margin-top -27px
        &:hover
            opacity 1
        &-prev
            left 0
        &-next
            right 0
        &-disabled
            opacity .4 !important
        & > .SvgIco
            width 7px
            height auto
    &_footer
        display flex
        align-items center
        @media $smMinus
            padding-top 11px
            flex-direction column
        @media $md
            padding-top 18px
            justify-content flex-end
    &_downloadLink
        font-size 15px
        font-weight 500
        letter-spacing .4px
        color mix(#232325, #fff, 60%)
        display inline-block
        @media $smMinus
            margin 14px 0
        @media $md
            margin-right 14px
        &:hover
            color #232325
        & > .SvgIco-pdf
            height 28px
            width auto
            margin-right 8px