.OurTeam
  padding-bottom 70px
  @media $smMinus
    padding-top 45px
    padding-bottom 85px
  @media $xs
    padding-top 42px
    padding-bottom 41px
  &_slider
    @media $smMinus
      overflow visible
    &_btns
      display flex
      justify-content flex-end
      margin-bottom 20px
      @media $smMinus
        display none
    &_btn
      display flex
      align-items center
      width 35px
      height 60px
      background #fff
      z-index 2
      border 0
      padding 0
      outline 0 !important
      box-shadow none
      &.swiper-button-disabled
        opacity 0.5
        pointer-events none
      &:before
        content ''
        width 100%
        height 25px
        poiner-events none
      &-prev
        &:before
          border-right 1px solid #e5e5e5
          background url('../img/arrow_left_sm.svg') left no-repeat
          background-size 7px
      &-next
        &:before
          background url('../img/arrow_right_sm.svg') right no-repeat
          background-size 7px
  &_slide
    cursor pointer
    user-select none
    &_photo
      position relative
      width 100%
      height 484px
      background-size cover
      background-position 50% 0
      @media $xs
        height 360px
      &:after
        content ''
        width 100%
        height 4px
        position absolute
        bottom 0
        left 0
        background transparent
        transition background .4s
    &_text
      padding 40px 0 20px
      text-align center
    &_name
      font-size 20px
      color #272626
      margin-bottom 30px
      @media $smMinus
        margin-bottom 15px
    &_post
      font-size 15px
      color #272626
      opacity .6
    &:hover
      .OurTeam_slide_photo:after
          background #eb142a
  &_scrollbarWrapper
    width 100%
    position relative
    overflow hidden
    @media $smMinus
      margin-top 30px
    &:before
      content ''
      position absolute
      top 50%
      margin-top -1px
      left 0
      width 100%
      height 2px
      background #e2e2e2
  &_pagination
    text-align right
    margin-bottom 30px
    font-size 15px
    color #2e2e2e
    @media $smMinus
      display none
  &_scrollbar
    border-radius 0
    height 8px
    background 0
    .swiper-scrollbar-drag
      background #eb142a
      border-radius 10px
  &_modals
    display none
  &_modal
    width 100%
    max-width 1030px
    height 100%
    max-height 628px
    padding 0
    overflow visible
    @media $smMinus
      height auto
      max-height none
      max-width 500px
    @media $xs
      max-width 360px
    &_content
      width 100%
      height 100%
      display flex
      flex-wrap wrap
      @media $smMinus
        height auto
    &_item
      width 50%
      padding 60px 30px
      @media $smMinus
        width 100%
        padding 30px 15px
      &-image
        background-size cover
        background-position 50% 50%
        @media $smMinus
          height calc(100vh - 200px)
          max-height 600px
          background-position 50% 0
        @media $xs
          height calc(100vh - 200px)
          max-height 400px
    &_name
      font-size 36px
      color #272626
      font-family 'Gilroy'
      font-weight 600
      margin-bottom 10px
    &_post
      font-size 15px
      color #272626
      font-family 'Gilroy'
      &:after
        content ''
        display block
        width 50px
        height 1px
        background #eb142a
        margin-top 30px
    &_text
      margin 30px 0
      font-size 15px
      line-height 24px
      color #272626
      font-family 'Gilroy'
      @media $md
        max-height 352px
        overflow auto
      p
        margin 30px 0
