.PageHead
    position relative
    background-position center center
    background-size cover
    min-height 212px
    display flex
    flex-direction column
    align-items center
    justify-content center
    @media $xs
        min-height 75px
        padding 25px 30px
    @media $sm
        min-height 150px
        padding 44px
    @media $md
        padding 72px
    &:before
        content ''
        position absolute
        left 0
        top 0
        right 0
        bottom 0
        display block
        background-color rgba(25, 25, 25, .4)
    &_title,
    &_subTitle
        text-align center
        position relative
        color #fff
        font-family 'PF Regal Text Pro'
    &-big
        min-height 400px
        @media $smMinus
            min-height 150px
        @media $xs
            min-height 75px
    &_scrollArrow
        position absolute
        bottom 19px
        left 50%
        width 56px
        border-top 1px solid #fff
        padding-top 5px
        padding-left 14px
        transform rotate(-90deg) translateY(-19px)
        font-size 12px
        color #fff
        cursor pointer
        z-index 5
        @media $smMinus
            display none
        &:before
            content ''
            position absolute
            top 0
            left -36px
            width 36px
            height 1px
            background #121212
        &:after
            content ''
            position absolute
            background url('../img/arrow_left_sm.svg') center no-repeat
            width 8px
            height 13px
            background-size cover
            left -38px
            top -6px
    &_title
        @media $xs
            font-size 22px
            letter-spacing .55px
        @media $sm
            font-size 42px
            letter-spacing .42px
            padding-bottom 8px
        @media $md
            font-size 42px
            letter-spacing .42px
            padding-bottom 10px
    &_subTitle
        @media $xs
            display none
        @media $sm
            font-size 15px
            letter-spacing .15px
        @media $md
            font-size 18px
            letter-spacing .18px
    &-about
        .PageHead_title
            background no-repeat center / contain
            height 60px
            width 275px
            padding 0
            margin-bottom 35px
            @media $smMinus
                margin-bottom 26px
                width 252px
                height 55px
            @media $xs
                width 125px
                height 30px
                margin-bottom 16px
        .PageHead_subTitle
            position relative
            padding-top 40px
            max-width 32%
            font-size 15px
            line-height 1.5
            &:before
                content ''
                position absolute
                top 0
                left 50%
                transform translateX(-50%)
                height 1px
                width 74px
                background #fff
                @media $xs
                    width 21px
            @media $smMinus
                padding-top 26px
            @media $xs
                display block
                font-size 14px
                padding-top 16px
                max-width 100%
        @media $xs
            padding 25px 20px

    &-Filters
        position relative
        min-height 125px
        padding 48px 0 40px
        .Box
            position relative
        &_title
            padding-bottom 0
        .PageHead_resetFilters
            font-size 20px
            text-transform uppercase
            color #fff
            position absolute
            top 50%
            right 0
            transform translateY(-50%)
            padding-right 30px
            cursor pointer
            @media $smMinus
                display none

            svg
                height 16px
                width 17px
                fill #fff
                position absolute
                right 0
                top 50%
                transform translateY(-50%)
