.PageContent
    padding-top 98px
    padding-bottom 26px
    @media $sm
        padding-top 0
    @media $xs
        padding-top 40px
    &-about
        padding-top 65px
        padding-bottom 0
    &-gray
        background #f3f3f3