.Partners
  &_group
    padding-bottom 60px
    @media $xs
      padding-bottom 20px
    &_title
      font-family "PF Regal Text Pro"
      font-weight 400
      font-size 36px
      line-height 50px
      @media $smMinus
        font-size 30px
      @media $xs
        font-size 22px
      &:before
        content ''
        display inline-block
        position relative
        margin-right 25px
        top -10px
        width 40px
        height 1px
        background #252324
        @media $xs
          width 20px
          margin-right 10px
          top -7px
    &_count
      float right
      font-size 20px
      font-weight 700
      @media $xs
        display none
    &_itemWrapper
      display flex
      flex-wrap wrap
      margin 0 -11px
      padding-top 40px
      @media $xs
        padding-top 10px
        margin 0 -5px
    &_item
      width calc(25% - 22px)
      margin 0 11px 22px
      display none
      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4)
        display block
      @media $smMinus
        width calc(33.33% - 22px)
        &:nth-child(4)
          display none
      @media $xs
        width calc(50% - 10px)
        margin 0 5px 10px
        &:nth-child(3)
          display none
      &_logo
        width 100%
        padding-top 56.5%
        background-color #fff
        background-position 50% 50%
        background-repeat no-repeat
        background-size 80%
      &_more-wr
        display none
        width 100%
      &_more
        width 100%
        display flex
        flex-wrap wrap
      &_showAll
        width 100%
        min-height 56px
        background-color #fff
        font-size 14px
        text-align center
        font-weight 500
        padding 21px
        cursor pointer
        &_open
          display inline-block
        &_close
          display none
        &:after
          content ''
          display inline-block
          background url('../img/arrow_down_sm.svg') center no-repeat
          position relative
          margin-left 10px
          top 0
          width 11px
          height 11px
          transition all .6s
    &_active
      .Partners_group_item
        display block
      .Partners_group_item_showAll
        &_open
          display none
        &_close
          display inline-block
        &:after
          transform rotate(180deg)
          top 3px