.PopForm
    width 100%
    max-width 472px
    @media $smPlus
        padding 20px
    &_head
        font-family 'PF Regal Text Pro'
        text-align center
        @media $xs
            font-size 26px
        @media $smPlus
            font-size 36px
        &:after
            content ''
            display block
            width 52px
            height 2px
            background #eb142a
            margin 22px auto 6px
    &_desc
        text-align center
        font-size 16px
        line-height 1.4
        @media $xs
            padding-bottom 37px
        @media $smPlus
            padding-bottom 62px
    &_successText
        text-align center
        font-size 18px
        line-height 1.2
        padding 26px 20px 10px
    &_row
        padding-bottom 27px
        &:last-child
            padding-bottom 10px
    &_lbl
        display block
        font-size 14px
        color #303030
        @media $xs
            margin-bottom 10px
        @media $smPlus
            margin-bottom 12px
    &_inp
        display block
        width 100%
        border 1px solid #d3d2d2
        color #303030
        font-size 15px
        padding 16px 6px 16px 20px
        &:focus
            border-color #eb142a
    &_hint
        color #303030
    &_redText
        color #eb142a