.Rent
  background #f3f3f3

  &_wrp
    padding-top 65px
    @media $smMinus
      padding 90px 0 0
    @media $xs
      padding 60px 0 0

  &_sliderBlock
    position relative
    margin-bottom 100px
    @media $smMinus
      margin-bottom 95px

  &_title
    font-family 'PF Regal Text Pro'
    font-size 42px
    position relative
    padding-bottom 30px
    line-height 1.3
    color #2e2e2e
    font-weight 600

    &:after
      content ''
      position absolute
      bottom 0
      width 100%
      left -45%
      height 1px
      background-color #eb142a

    span
      color #eb142a

    @media $smMinus
      font-size 36px
      &:after
        left -41%

    @media $xs
      font-size 22px
      padding-bottom 20px

  &_btn
    width 192px
    position absolute
    right 0
    top 29px

    @media $smMinus
      position relative
      top 0
      margin-top 40px

    @media $xs
      width 100%
      margin-top 30px

  &_slider
    background #fff
    margin-top 50px
    position relative
    @media (max-width: 1370px)
      margin-left 25px
      margin-right 25px
    @media (max-width: 1318px)
      margin-left 40px
      margin-right 40px
    @media $smMinus
      margin-left 0
      margin-right 0
    @media (max-width: 1080px)
      margin-left 20px
      margin-right 20px
    @media $xs
      margin 30px 0 0

  &_sliderBtn
    height 100%
    width 55px
    background-color rgba(0, 0, 0, .05)
    position absolute
    top 0
    cursor pointer
    transition background-color .3s ease
    z-index 2
    outline 0

    &:after
      content ''
      position absolute
      background url("/img/arrow_right_sm.svg") no-repeat center / contain
      width 6px
      height 10px
      top 50%
      left 50%
      transform translate(-50%, -50%)

    &:hover
      background-color rgba(0, 0, 0, .1)

    &-prev
      left -55px
      &:after
        transform translate(-50%, -50%) rotate(180deg)

    &-next
      right -55px

    @media $smMinus
      width 40px
      &-prev
        left -40px
      &-next
        right -40px

    @media $xs
      width 50px
      height 50px
      top auto
      bottom -50px
      &-prev
        left 0
      &-next
        right 0

  &_slide
    padding 50px
    display flex
    justify-content space-between
    flex-wrap wrap
    @media $smMinus
      padding 0


  &_slidePlans
    flex-basis 54%
    max-width 54%

    @media $smMinus
      flex-basis 100%
      max-width 100%
      padding 40px 40px 30px

    @media $xs
      padding 30px 15px

      .Rent_itemTitle
        text-align center

  &_itemTitle
    color #eb142a
    font-size 36px
    @media $xs
      font-size 22px

  &_plans
    display flex
    margin-top 40px
    justify-content space-between
    @media $xs
      display block

  &_planImg
    flex-basis 45%
    max-width 45%
    position relative
    text-align center
    @media $xs
      flex-basis 100%
      max-width 100%

    img
      height 345px
      margin-bottom 40px
      @media $xs
        margin-bottom 0

    span
      display block
      color #c6c6c6
      text-transform uppercase
      transition color .3s ease

      @media $xs
        display none

    svg
      position absolute
      top 40%
      left 50%
      transform translate(-50%, -40%)
      width 19px
      height 19px
      padding 12px
      border 1px solid #b2b2b2
      opacity 0
      transition opacity .3s ease

    &:hover
      span
        color #eb142a
        text-decoration underline

      svg
        opacity 1

    &:after
      content ''
      position absolute
      top 0
      left 0
      right 0
      bottom 0
      z-index 2

    @media $xs
      display none
      &-active
        display block

  &_planSelect
    display none
    @media $xs
      display block
      margin-top 30px
      text-align center
  &_planSelectItem
    display inline-block
    color #c6c6c6
    text-transform uppercase
    transition color .3s ease
    &:first-of-type
      margin-right 40px
    &-active
      color #eb142a
      text-decoration underline

  &_slideInfoWrp
    flex-basis 38%
    max-width 38%
    position relative

    .Rent_infoBtns
      bottom 0
      left auto
      right 0

    @media $smMinus
      flex-basis 100%
      max-width 100%
      border-top 3px solid #f3f3f3
      padding 50px 40px 40px

    @media $xs
      padding 30px 15px

  &_slidesAmount
    text-align right
    margin-bottom 90px
    @media $smMinus
      margin-bottom 50px

    &-mobile
      display none
      margin 0
      text-align center
      position absolute
      left 0
      bottom -35px
      width 100%

    @media $xs
      display none
      &-mobile
        display block

  &_slideCurrent,
  &_slideTotal
    display inline-block
    vertical-align top

  &_slideCurrent
    font-size 42px
    color #000
    line-height .9
    @media $xs
      font-size 22px

  &_slideTotal
    font-size 20px
    color rgba(0, 0, 0, .6)
    @media $xs
      font-size 14px

  &_infoRow
    margin-bottom 20px
    color #232325

    sup
      font-size 10px

  &_infoTitle
    display inline-block

  &_infoValue
    float right
    font-weight 600

    &-price
      color #eb142a

  &_infoLined
    margin-top 25px
    border 1px solid #d5d6d6
    border-left none
    border-right none
    padding 18px 0 7px

  &_infoDesc
    color #000
    margin 25px 0 10px
    line-height 1.5
    @media $md
      margin 25px 0 65px

  &_infoMore
    padding-left 25px
    padding-right 75px
    position relative
    float right

    svg
      width 6px
      height 10px
      background #eb142a
      padding 18px
      position absolute
      right 4px
      top 4px
      path
        stroke #fff
        stroke-width 2px

    &-red
      background-color #eb142a
      color #fff
      width 265px
      padding-left 50px
      padding-right 70px
      svg
        background-color transparent
        padding 0
        top 50%
        right 30px
        transform translateY(-50%)
        path
          transition stroke .3s ease
          stroke #fff
      &:hover
        background-color #fff
        color #eb142a
        svg
          path
            stroke #eb142a

    @media $xs
      float none
      width 100%
      padding 0
      span
        margin-left -30px

  &_items
    padding-bottom 140px
    @media $smMinus
      padding-bottom 100px
    @media $xs
      padding-bottom 60px

  &_item
    background-color #fff
    display flex
    flex-wrap wrap
    margin-top 90px
    position relative

    &:first-of-type
      margin-top 40px

    &-done
      margin-top 115px

    @media $xs
      margin-top 60px

  &_itemStatus
    position absolute
    color #eb142a
    right 0
    font-size 20px
    top -35px
    @media $xs
      display none

  &_itemImgWrp
    flex-basis 50%
    max-width 50%
    height 490px
    position relative
    @media $smMinus
      flex-basis 100%
      max-width 100%
      height 340px
    @media $xs
      height 100%

  &_itemImg
    background no-repeat center / cover
    height 100%
    @media $xs
      padding-bottom 57%

  &_itemAmount
    position absolute
    left 0
    top 0
    background #eb142a
    color #fff
    text-align center
    padding 20px 20px 16px

    > span
      font-weight 500
      font-size 20px

    > div
      font-weight 300
      font-size 14px
      margin-top 5px

    @media $xs
      padding 12px 11px 9px

  &_itemInfo
    flex-basis 50%
    max-width 50%
    padding 45px 50px
    font-size 15px
    position relative

    .Rent_itemTitle
      margin-bottom 55px
      @media $smMinus
        margin-bottom 45px
      @media $xs
        margin-bottom 20px

    .Rent_infoLined
      padding 24px 0

    @media $smMinus
      flex-basis 100%
      max-width 100%
      padding 45px 40px

    @media $xs
      font-size 14px
      padding 30px 16px

  &_infoPlace
    padding-left 18px
    position relative
    color rgba(0, 0, 0, .8)
    &:after
      content ''
      position absolute
      top 0
      left 0
      background url("/img/point.png") no-repeat center / contain
      height 12px
      width 8px

  &_infoBtns
    position absolute
    left 50px
    right 50px
    bottom 45px
    @media $smMinus
      position relative
      left 0
      right auto
      bottom 0
      margin-top 35px

  &_callbackBtn
    width 216px
    @media $xs
      width 100%
      margin-bottom 25px

  &_itemOptions
    border-top 3px solid #f3f3f3
    flex-basis 100%
    max-width 100%
    padding 40px 0 30px
    @media $smMinus
      padding 45px 40px 40px
    @media $xs
      padding 30px 15px 25px

  &_optionsRow
    display flex
    font-size 15px
    color #000
    padding 16px 10px
    margin-right -10px
    margin-left -10px
    margin-bottom 8px
    @media $xs
      padding 7px 6px
      margin-right -6px
      margin-left -6px
      margin-bottom 6px
    @media $smMinus
      font-size 14px
    &:hover
      background-color #f3f3f3

    &-head
      font-size 12px
      text-transform uppercase
      color rgba(0, 0, 0, .6)
      padding-top 0
      pointer-events none
      @media $xs
        font-size 10px

  &_optionsHidden
    display none

  &_optionsItem
    flex-basis 10%
    max-width 10%
    text-align center

    &:nth-of-type(2),
    &:nth-of-type(3)
      text-align left
      flex-basis 20%
      max-width 20%

    &:nth-of-type(3)
      @media $smMinus
        display none

    &-red
      color #eb142a

    @media $smMinus
      flex-basis 15%
      max-width 15%
      &:first-of-type
        flex-basis 10%
        max-width 10%
        text-align left
      &:nth-of-type(4)
        flex-basis 10%
        max-width 10%
      &:last-of-type
        text-align right
    @media $xs
      flex-basis 25%
      max-width 25%
      &:first-of-type
        flex-basis 15%
        max-width 15%
      &:nth-of-type(4)
        flex-basis 20%
        max-width 20%
      &:nth-of-type(5)
        flex-basis 35%
        max-width 35%
      &:nth-of-type(2),
      &:nth-of-type(6),
      &:nth-of-type(7)
        display none
      &:last-of-type
        flex-basis 30%
        max-width 30%

  &_optionsMore
    text-align center

  &_optionsMoreBtn
    cursor pointer
    display inline-block
    div,
    svg
      display inline-block
      vertical-align middle
    svg
      width 6px
      height 11px
      margin-left 13px
      transform rotate(90deg)
      transition transform .8s ease
    div
      position relative
      &:after
        content 'Свернуть'
        position absolute
        left 0
        top 0
        bottom -1px
        background #fff
        width 100%
        opacity 0
        transition opacity .3s ease

    &-open
      div
        &:after
          opacity 1
      svg
        margin 0 0 0 -15px
        transform rotate(270deg)