.Reviews
  display flex
  flex-wrap wrap
  margin 0 -15px 40px
  @media $smMinus
    margin 40px -10px 40px
  @media $xs
    margin: 5px -10px 0;
  &_item
    outline none
    &-wr
      width 33.33%
      padding 15px
      @media $smMinus
        width 50%
        padding 10px
      @media $xs
        width 100%
    &_img
      width 100%
      padding-top 56%
      background-size cover
      background-position center
      position relative
    &_duration
      position absolute
      bottom 15px
      right 15px
      border-radius 10px
      background rgba(255, 0, 0, 0.74)
      min-width 58px
      height 30px
      line-height 30px
      padding 0 15px
      font-size 15px
      color #fff
    &_playButton
      position absolute
      top 50%
      left 50%
      transform translate(-60px, -60px) scale(0.8)
      width 120px
      height 120px
      border-radius 50%
      background rgba(0, 0, 0, 0.4)
      opacity 0
      transition all 0.8s
      &:after
        content ''
        position absolute
        top 50%
        left 52.5%
        transform translate(-23px, -23px) scale(1.5)
        width 46px
        height 46px
        background url('../img/play.svg') center no-repeat
        transition all 0.8s
    &:hover
      .Reviews_item_playButton
        opacity 1
        transform translate(-60px, -60px) scale(1)
        &:after
          transform translate(-23px, -23px) scale(1)
    &_txt
      margin-top 30px
      @media $smMinus
        margin-top 20px
    &_title
      font-size 20px
      font-weight 800
      color #272626
      margin-bottom 10px
    &_description
      font-size 15px
      line-height 20px
      min-height 60px
      color #989898
      font-weight 400
      overflow hidden

