.Rewards
  background #fff

  &_items
    &-more
      @media $smMinus
        padding-top 180px
      @media $xs
        padding-top 60px
      .Rewards_item
        &:first-of-type
          &:after
            transform rotateX(-180deg) translateX(-50%)
          &:before
            content ''
            position absolute
            top -260px
            left 50%
            background url("../img/reward_line.png") no-repeat center / contain
            width 50%
            height 225px
            transform translateX(-50%)
            @media $smMinus
              width 67%
              height 265px
              top -270px
            @media (max-width 862px)
              height 215px
              top -230px
            @media $xs
              height 5px
              background none
              border-bottom 2px dashed #cfcfcf
              width 70%
              top -60px

  &_item
    display flex
    align-items center
    margin-bottom 290px
    flex-wrap wrap
    position relative
    justify-content space-between
    &:after
      content ''
      position absolute
      bottom -230px
      left 50%
      background url("../img/reward_line.png") no-repeat center / contain
      width 50%
      height 225px
      transform rotateX(-180deg) translateX(-50%)
      @media $smMinus
        width 67%
        height 265px
        bottom -280px
      @media (max-width 862px)
        height 215px
        bottom -230px
      @media $xs
        height 5px
        background none
        border-bottom 2px dashed #cfcfcf
        width 70%
        bottom -60px
    &-reverse
      flex-direction row-reverse
      .Rewards_itemDate
        span:before
          right -85px
          left auto
      &:after
        transform translateX(-50%)
    &:first-of-type
      flex-direction row
      &:after
        transform translateX(-50%)
    &:last-of-type
      &:after
        display none
      @media $smMinus
        margin-bottom 100px
      @media $xs
        margin-bottom 55px
    @media $xs
      margin-bottom 120px
      display block

  &_itemContent
    flex-basis 33%
    max-width 33%
    position relative
    top -30px
    @media $smMinus
      top 0
      flex-basis 50%
      max-width 50%
    @media $xs
      flex-basis 100%
      max-width 100%

  &_itemImgWrp
    flex-basis 33%
    max-width 33%
    @media $smMinus
      flex-basis 50%
      max-width 50%
    @media $xs
      flex-basis 100%
      max-width 100%

  &_itemImg
    background no-repeat center / contain
    width 120px
    height 120px
    position relative
    margin 0 auto
    &:before,
    &:after
      content ''
      position absolute
      top -50px
      border 1px solid #e7e7e7
      width 210px
      height 210px
      transform rotate(45deg)
    &:before
      left -57px
    &:after
      left -33px
    @media $xs
      margin 100px auto 90px
      width 110px
      height 110px
      &:after,
      &:before
        width 190px
        height 190px
      &:before
        left -50px
      &:after
        left -30px

  &_itemTitle
    font-size 36px
    font-weight 300
    transition color .3s ease
    line-height 1.2
    &:hover
      color #eb142a
    @media $smMinus
      font-size 34px
    @media $xs
      font-size 22px

  &_itemText
    font-size 15px
    line-height 1.6
    margin-top 10px
    font-weight 400
    @media $xs
      font-size 14px

  &_itemDate
    position relative
    flex-basis 33%
    max-width 33%
    & > span
      display block
      font-size 20px
      font-family 'PF Regal Text Pro'
      width 85px
      height 85px
      background-color #eb142a
      color #fff
      text-align center
      line-height 85px
      position relative
      margin 0 auto
      &:before
        content ''
        position absolute
        top 50%
        transform translateY(-50%)
        background-color #bdbdbd
        height 1px
        width 54px
        left -85px
        @media $smMinus
          display none
      @media $smMinus
        width 70px
        height 70px
        line-height 70px
      @media $xs
        width 50px
        height 50px
        line-height 50px
        font-size 14px
    @media $smMinus
      margin-top 35px
      flex-basis 100%
    @media $xs
      margin-top 0
      flex-basis 100%
      max-width 100%

  &_itemPhotoWrp
    height 100%
    flex-basis 25%

  &_itemPhoto
    width 295px
    height 485px
    background no-repeat center / cover
    @media $smMinus
      width 250px
      height 410px
    @media $xs
      height 100%
      width 100%
      padding-bottom 90%
      background-position top

  &_item-main
    margin-bottom 130px
    justify-content flex-start
    &:after
      bottom -90px
      @media $smMinus
        bottom -220px
      @media $xs
        bottom -60px
    .Rewards_itemContent
      flex-basis 40%
      max-width 40%
      top 0
      z-index 2
      @media $smMinus
        left 87px
        top 35px
        flex-basis 52%
        max-width 52%
      @media $xs
        flex-basis 100%
        max-width 100%
        left 0
        top 0
    .Rewards_itemDate
      margin-left 120px
      margin-right 30px
      margin-top 0
      top -35px
      flex-basis 7%
      & > span
        &:before
          left -85px
          background #000
          z-index 2
          @media $smMinus
            display block
            width 40px
            left -65px
          @media $xs
            display none
        &:after
          content ''
          position absolute
          top -60px
          left -60px
          border 1px solid #e7e7e7
          width 210px
          height 210px
          @media $smMinus
            width 160px
            height 160px
            top -45px
            left -45px
          @media $xs
            display none
        @media $xs
          margin 0
      @media $smMinus
        position absolute
        top 60px
        left 340px
        margin 0
      @media $xs
        position relative
        margin 25px 0 20px
        left 0
        top 0
    @media $smMinus
      margin-bottom 290px
    @media $xs
      margin-bottom 120px

  &_more
    text-align center
    & > a
      position relative
      font-size 15px
      font-weight 500
      padding-right 20px
      &:after
        content ''
        position absolute
        right 0
        top 4px
        height 7px
        width 7px
        border-right 1px solid #000
        border-bottom 1px solid #000
        transform rotate(45deg)
    @media $smMinus
      display block
