.Sale
  background #f3f3f3
  color #232325
  padding-bottom 90px
  @media $xs
    padding-top 60px
    padding-bottom 55px

  .Box
    padding 0 100px
    max-width 1440px
    @media $smMinus
      padding 0 40px
    @media $xs
      padding 0 16px
  .Breadcrumbs
    @media $smMinus
      height 60px
  .Button
    margin 0
    .cls-1
      stroke #fff

  &_wrp
    @media $smMinus
      margin-top 70px
    @media $xs
      margin-top 0
  &_offer
    position relative

  &_title
    font-family 'PF Regal Text Pro'
    font-size 42px
    position relative
    padding-bottom 25px
    line-height 1.4
    color #2e2e2e
    font-weight 600

    &:after
      content ''
      position absolute
      bottom 0
      width 100%
      left -45%
      height 1px
      background-color #eb142a

    span
      color #eb142a

    @media $smMinus
      font-size 36px
      &:after
        left -41%

    @media $xs
      font-size 22px
      padding-bottom 20px

  &_filterBtn
    width 192px
    position absolute
    right 0
    top 16px

    @media $smMinus
      position relative
      top 0
      margin-top 40px

    @media $xs
      width 100%
      margin-top 30px

  &_offerBlock
    margin-top 35px
    @media $smMinus
      margin-top 40px
    @media $xs
      margin-top 30px

  &_offerBlockTitle
    font-size 15px
    margin-bottom 38px
    span
      color #eb142a
    @media $smMinus
      display none

  &_offerItem
    position relative
    display flex
    padding 45px 50px
    background #fff
    @media $smMinus
      padding 38px 40px
      display block
    @media $xs
      padding 28px 17px

  &_offerItemLabel
    position absolute
    top 0
    right 0
    background #eb142a
    color #fff
    text-align center
    padding 20px 14px 16px

    > span
      font-weight 500
      font-size 20px

    > div
      font-weight 300
      font-size 14px
      margin-top 5px

  &_offerItemImagesWrp
    border-right 1px solid #d8dce6
    padding-right 35px
    flex-basis 57%
    max-width 57%
    @media $smMinus
      max-width 100%
      padding-right 0
      border-right 0
      position relative


  &_offerItemTitle
    font-size 36px
    color #eb142a
    margin-bottom 20px
    @media $smMinus
      position absolute
      top 0
      left 0
    @media $xs
      font-size 22px

  &_offerItemImages
    text-align center
    @media $smMinus
      padding-top 70px
    @media $xs
      padding-top 65px
  &_offerImage
    display none
    width auto
    height auto
    @media $xs
      flex-direction column
    &-active
      display flex
  &_offerImageMain
    width 80%
    @media $xs
      width 100%
  &_offerImageSub
    width 20%
    div:nth-of-type(2)
      margin-top 35px

    @media $xs
      width 100%
      padding-top 30px
      display flex
      justify-content space-around
      div:nth-of-type(2)
        margin-top 0px

  &_offerBtns
    margin-top 50px
    height 50px
    display flex
    justify-content center
    align-items center
    @media $xs
      height 40px
      justify-content flex-start
      align-items flex-start
      white-space nowrap
      overflow-x scroll
      margin-top 30px

  &_offerBtn
    color #c6c6c6
    transition color 0.3s ease, border-color 0.3s ease
    cursor pointer
    font-size 15px
    text-transform uppercase
    margin-right 30px
    border-bottom 1px solid transparent
    &:last-of-type
      margin-right 0
    &-active
      color #ee4a58
      border-color #ee4a58
    &:hover
      color #ee4a58

  &_offerItemInfo
    padding-left 70px
    padding-top 95px
    max-width 43%
    flex-basis 43%
    @media $smMinus
      max-width 100%
      padding-left 0
      padding-top 50px
      border-top 1px solid rgba(47, 48, 52, 0.2)
    @media $xs
      position relative
      border-top none
      padding-top 30px
      &:before
        content ''
        position absolute
        height 2px
        background #f3f3f3
        top 0
        left -17px
        right -17px

  &_offerSelects
    display flex
    justify-content space-between
    @media $smMinus
      justify-content flex-start
    @media $xs
      display block

  &_offerSelect
    max-width 45%
    flex-basis 45%
    @media $smMinus
      max-width 190px
      &:first-of-type
        margin-right 50px
    @media $xs
      max-width 100%
      &:first-of-type
        margin 0 0 30px
  &_offerSelectTitle
    font-size 15px
    margin-bottom 20px

  &_offerSelectBtns
    display flex
    justify-content space-between
    height 55px

  &_offerSelectBtn
    width 55px
    height 100%
    background-color #f2f2f2
    transition background-color 0.3s ease
    position relative
    cursor pointer
    &:after
      content ''
      position absolute
      background no-repeat center / contain
      width 6px
      height 10px
      top 50%
      left 50%
      transform translate(-50%, -50%)
    &-prev
      &:after
        background-image url("/img/arrow_left_sm.svg")
    &-next
      &:after
        background-image url("/img/arrow_right_sm.svg")
    &:hover
      background-color #cccccc

  &_offerSelectCount
    line-height 55px
    font-size 20px
    flex 1 0 auto
    text-align center
    padding 0 5px

  &_offerItemContent
    margin 28px 0
    padding 30px 0
    border-bottom 1px solid
    border-top 1px solid
    border-color rgba(47, 48, 52, 0.2)

  &_offerRow
    margin-bottom 16px
    display flex
    justify-content space-between
    font-size 15px
    &:last-of-type
      margin-bottom 0

  &_offerRowValue
    font-weight 600
    &-red
      color #eb142a

  &_offerItemLinks
    display flex
    align-items center
    justify-content space-between
    font-size 15px
    color #666667
    a
      flex-basis 48%
      max-width 48%
      @media $xs
        max-width 100%
    @media $xs
      display block

  &_offerPdf
    position relative
    padding-left 10px
    img
      display inline-block
      vertical-align middle
      width 23px
      height 28px
    span
      margin-left 18px
      display inline-block
      vertical-align middle

  &_offerManager
    @media $xs
      display none
  &_offerManagerMob
    display none
    @media $xs
      display block

  &_offerItemBtn
    margin-top 65px
    text-align right
    @media $xs
      margin-top 30px
      text-align left
      .Button
        display block
        &:first-of-type
          margin-bottom 20px

  // &_rent
  //   margin-top 90px
  //   @media $xs
  //     margin-top 55px

  &_rentBlocks
    margin-top 40px
  &_rentWrp
    margin-bottom 100px
    @media $smMinus
      margin-bottom 90px
    @media $xs
      margin-bottom 110px

  &_rentBanner
    display flex
    position relative
    background no-repeat center / cover
    padding 70px 0 55px
    &:after
      content ''
      position absolute
      top 0
      left 0
      right 0
      bottom 0
      background rgba(25, 25, 25, 0.6)
      z-index 1
    @media $smMinus
      display block
      padding-right 40px
      padding-bottom 50px
    @media $xs
      padding 40px 17px 45px 0

  &_rentBannerHalf
    position relative
    z-index 2
    flex-basis 50%
    max-width 50%
    color #fff
    padding-right 70px
    @media $smMinus
      max-width 100%
      padding-right 0
      padding-left 40px
      &:first-of-type
        padding-left 0
        margin-bottom 45px
    @media $xs
      padding-left 17px
      &:first-of-type
        padding-left 0
        margin-bottom 35px

  &_rentBannerTitle
    background #eb142a
    font-size 30px
    font-weight 600
    padding 12px 35px 8px 30px
    display inline-block
    @media $smMinus
      padding-left 40px
    @media $xs
      padding-left 17px
      display block
  &_rentBannerSubTitle
    font-size 15px
    font-weight 400
    margin-left 25px
    padding-left 30px
    position relative
    margin-top 16px
    &:before
      content ''
      position absolute
      top 50%
      left 0
      margin-top -1px
      height 1px
      width 16px
      background #fff
    @media $smMinus
      padding-left 28px
      margin-left 12px
    @media $xs
      margin-left 0
      padding-left 17px
      &:before
        display none

  &_slidesAmount
    position absolute
    left 50px
    bottom 0
    @media $smMinus
      left auto
      right 0
      bottom auto
      top 12px

    &-mobile
      display none
      margin 0
      text-align center
      position absolute
      left 0
      bottom -35px
      width 100%
      top auto

    @media $xs
      display none
      &-mobile
        display block

  &_slideCurrent
    display: inline-block
    vertical-align top
    font-size 42px
    color #fff
    line-height 0.9
    font-weight 500
    @media $xs
      font-size 22px
      color rgba(35, 35, 37, 1)

  &_slideTotal
    display: inline-block
    vertical-align top
    font-size 20px
    font-weight 600
    color rgba(255, 255, 255, 0.6)
    @media $xs
      font-size 14px
      color rgba(35, 35, 37, 0.6)

  &_rentBannerDesc
    margin-bottom 30px

  &_rentBannerDescText
    font-size 15px
    font-weight 700
    margin-bottom 17px
    span
      font-weight 300
      @media (max-width 375px)
        display block
        margin-top 2px
    &:last-of-type
      margin-bottom 0
    @media $xs
      font-size 14px

  &_rentBannerText
    font-size 15px
    padding-top 30px
    border-top 1px solid rgba(255, 255, 255, 0.3)
    line-height 22px
    @media $xs
      font-size 14px
      line-height 20px

  &_rentBtn
    text-align right
    margin-top 70px
    .Button
      border-color #fff
      color #fff
    @media $xs
      text-align left
      margin-top 40px
      .Button
        display block

  &_rentSlider
    position relative
    background #faf9f9
    padding-top 15px
    margin-top 1px
    @media $smMinus
      margin-top 0
      background none
    @media $xs
      padding-top 10px

  &_rentSliderBtn
    width 55px
    background-color rgba(0, 0, 0, 0.05)
    position absolute
    top 15px
    bottom 0
    cursor pointer
    transition background-color .3s ease
    z-index 2
    outline none

    &:after
      content ''
      position absolute
      background no-repeat center / contain
      width 6px
      height 10px
      top 50%
      left 50%
      transform translate(-50%, -50%)

    &:hover
      background-color rgba(0, 0, 0, 0.1)

    &-prev
      left -55px
      &:after
        background-image url("/img/arrow_left_sm.svg")

    &-next
      right -55px
      &:after
        background-image url("/img/arrow_right_sm.svg")

    @media $smMinus
      width 40px
      &-prev
        left -40px
      &-next
        right -40px

    @media $xs
      width 50px
      height 50px
      top auto
      bottom -50px
      &-prev
        left 0
      &-next
        right 0

  &_rentItem
    width auto
    padding 0

  &_separate
    position relative

  &_separateAmount
    position absolute
    right 0
    top 15px
    .Sale_slideCurrent
      color #232325
    .Sale_slideTotal
      color rgba(35, 35, 37, 0.6)
    @media $smMinus
      display none
  &_separateContent
    overflow hidden
    margin-top 30px
    @media $smMinus
      margin-top 50px
    @media $xs
      margin-top 25px
  &_separateItems
    display flex
    flex-wrap wrap
    margin 0 -10px 0
    &--hidden
      display none

  &_separateMore
    text-align center
    margin-top 80px
    & > span
      position relative
      font-size 15px
      font-weight 500
      padding-right 20px
      cursor pointer
      span:nth-of-type(2)
        display none;
      &:after
        content ''
        position absolute
        right 0
        top 4px
        height 7px
        width 7px
        border-right 1px solid #000
        border-bottom 1px solid #000
        transform rotate(45deg)
        transform-origin: center 80%;
    &-open > span
      &:after
        transform rotate(225deg)
      span:nth-of-type(1)
        display none;
      span:nth-of-type(2)
        display inherit;
    @media $smMinus
      margin-top 35px
    @media $xs
      margin-top 20px