.TitleHeader2
  padding 30px 0 30px
  font-size 42px
  line-height 50px
  font-family 'PF Regal Text Pro RegularB'
  color #2e2e2e
  position relative
  display inline-block
  margin 30px 0
  @media $smMinus
    font-size 38px
    padding 20px 0 20px
  @media $xs
    font-size 22px
    line-height 1.3
    padding 15px 0 15px
    margin 15px 0
  &:before
    content ''
    position absolute
    bottom 0
    width 100%
    height 1px
    background: #eb142a
  span
    color #eb142a
  &:after
    content ''
    position absolute
    bottom 0
    left -100%
    width 100%
    height 1px
    background: #eb142a