.MainSlider
  .MainSlider_container.swiper-container
    .MainSlider_navigation
      .MainSlider_navigation_prev.slider-button-prev
        span(id="mainSliderPrev") 01
        span.slider-buttonText
          | <br>
          | Предыдущий<br>
          | слайд
      .MainSlider_navigation_next.slider-button-next
        span(id="mainSliderNext") 03
        span.slider-buttonText
          | <br>
          | Следующий<br>
          | слайд
    .swiper-wrapper
      .MainSlider_slide.swiper-slide
        .MainSlider_image(style="background-image:url(img/main_slider_1.jpg)")
        .MainSlider_shadow
        .MainSlider_content
          .Box
            .MainSlider_slide_numerator
              span.MainSlider_slide_numerator_current 01
              |
              | /
              |
              span.MainSlider_slide_numerator_next 03
              .MainSlider_slide_arrows
                .MainSlider_slide_arrow-left.slider-button-prev
                .MainSlider_slide_arrow-right.slider-button-next
            .MainSlider_slide_title
              | Продажа помещений для&nbsp;производства и&nbsp;склада в&nbsp;технопарке
              |
              |
              span.MainSlider_slide_title_important Pererva
            .MainSlider_slide_subtitle
              | Нажмите кнопку, чтобы перейти на&nbsp;страницу <br> проекта и&nbsp;узнать подробнее
            .MainSlider_slide_more
              a.Button.Button-white.Button-icon.Button-actionIcon(href="")
                | Узнать подробнее
                span.Button_icon
                  include ./../../../includes/svg/arrow_right_sm.svg
        .MainSlider_slide_infrastructure.MainSlider_slide_infrastructure-open
          .MainSlider_slide_infrastructure_content
            .MainSlider_slide_infrastructure_header
              | Инфраструктура
            .MainSlider_slide_infrastructure_text
              ul
                li <b>5 минут</b> на машине от м. Марьино
                li Помещения от <b>80</b> до <b>160 м²</b>
                li Цена от <b>85 000 Р</b> за <b>м²</b>
          .MainSlider_slide_infrastructure_toggle
            include ./../../../includes/svg/menu.svg
          .MainSlider_slide_infrastructure_toggle.MainSlider_slide_infrastructure_toggle-close
            include ./../../../includes/svg/close.svg
      .MainSlider_slide.swiper-slide
        .MainSlider_image(style="background-image:url(img/main_slider_2.jpg)")
        .MainSlider_shadow
        .MainSlider_content
          .Box
            .MainSlider_slide_numerator
              span.MainSlider_slide_numerator_current 01
              |
              | /
              |
              span.MainSlider_slide_numerator_next 03
              .MainSlider_slide_arrows
                .MainSlider_slide_arrow-left.slider-button-prev
                .MainSlider_slide_arrow-right.slider-button-next
            .MainSlider_slide_title
              | Продажа помещений для&nbsp;производства и&nbsp;склада в&nbsp;технопарке
              |
              |
              span.MainSlider_slide_title_important Pererva
            .MainSlider_slide_subtitle
              | Нажмите кнопку, чтобы перейти на&nbsp;страницу <br> проекта и&nbsp;узнать подробнее
            .MainSlider_slide_more
              a.Button.Button-white.Button-icon.Button-actionIcon(href="")
                | Узнать подробнее
                span.Button_icon
                  include ./../../../includes/svg/arrow_right_sm.svg
        .MainSlider_slide_infrastructure.MainSlider_slide_infrastructure-open
          .MainSlider_slide_infrastructure_content
            .MainSlider_slide_infrastructure_header
              | Инфраструктура
            .MainSlider_slide_infrastructure_text
              ul
                li <b>5 минут</b> на машине от м. Марьино
                li Помещения от <b>80</b> до <b>160 м²</b>
                li Цена от <b>85 000 Р</b> за <b>м²</b>
          .MainSlider_slide_infrastructure_toggle
            include ./../../../includes/svg/menu.svg
          .MainSlider_slide_infrastructure_toggle.MainSlider_slide_infrastructure_toggle-close
            include ./../../../includes/svg/close.svg
      .MainSlider_slide.swiper-slide
        .MainSlider_image(style="background-image:url(img/main_slider_3.jpg)")
        .MainSlider_shadow
        .MainSlider_content
          .Box
            .MainSlider_slide_numerator
              span.MainSlider_slide_numerator_current 01
              |
              | /
              |
              span.MainSlider_slide_numerator_next 03
              .MainSlider_slide_arrows
                .MainSlider_slide_arrow-left.slider-button-prev
                .MainSlider_slide_arrow-right.slider-button-next
            .MainSlider_slide_title
              | Продажа помещений для&nbsp;производства и&nbsp;склада в&nbsp;технопарке
              |
              |
              span.MainSlider_slide_title_important Pererva
            .MainSlider_slide_subtitle
              | Нажмите кнопку, чтобы перейти на&nbsp;страницу <br> проекта и&nbsp;узнать подробнее
            .MainSlider_slide_more
              a.Button.Button-white.Button-icon.Button-actionIcon(href="")
                | Узнать подробнее
                span.Button_icon
                  include ./../../../includes/svg/arrow_right_sm.svg
        .MainSlider_slide_infrastructure.MainSlider_slide_infrastructure-open
          .MainSlider_slide_infrastructure_content
            .MainSlider_slide_infrastructure_header
              | Инфраструктура
            .MainSlider_slide_infrastructure_text
              ul
                li <b>5 минут</b> на машине от м. Марьино
                li Помещения от <b>80</b> до <b>160 м²</b>
                li Цена от <b>85 000 Р</b> за <b>м²</b>
          .MainSlider_slide_infrastructure_toggle
            include ./../../../includes/svg/menu.svg
          .MainSlider_slide_infrastructure_toggle.MainSlider_slide_infrastructure_toggle-close
            include ./../../../includes/svg/close.svg
      .MainSlider_slide.swiper-slide
        .MainSlider_image(style="background-image:url(img/main_slider_1.jpg)")
        .MainSlider_shadow
        .MainSlider_content
          .Box
            .MainSlider_slide_numerator
              span.MainSlider_slide_numerator_current 01
              |
              | /
              |
              span.MainSlider_slide_numerator_next 03
              .MainSlider_slide_arrows
                .MainSlider_slide_arrow-left.slider-button-prev
                .MainSlider_slide_arrow-right.slider-button-next
            .MainSlider_slide_title
              | Продажа помещений для&nbsp;производства и&nbsp;склада в&nbsp;технопарке
              |
              |
              span.MainSlider_slide_title_important Pererva
            .MainSlider_slide_subtitle
              | Нажмите кнопку, чтобы перейти на&nbsp;страницу <br> проекта и&nbsp;узнать подробнее
            .MainSlider_slide_more
              a.Button.Button-white.Button-icon.Button-actionIcon(href="")
                | Узнать подробнее
                span.Button_icon
                  include ./../../../includes/svg/arrow_right_sm.svg
        .MainSlider_slide_infrastructure.MainSlider_slide_infrastructure-open
          .MainSlider_slide_infrastructure_content
            .MainSlider_slide_infrastructure_header
              | Инфраструктура
            .MainSlider_slide_infrastructure_text
              ul
                li <b>5 минут</b> на машине от м. Марьино
                li Помещения от <b>80</b> до <b>160 м²</b>
                li Цена от <b>85 000 Р</b> за <b>м²</b>
          .MainSlider_slide_infrastructure_toggle
            include ./../../../includes/svg/menu.svg
          .MainSlider_slide_infrastructure_toggle.MainSlider_slide_infrastructure_toggle-close
            include ./../../../includes/svg/close.svg
      .MainSlider_slide.swiper-slide
        .MainSlider_image(style="background-image:url(img/main_slider_2.jpg)")
        .MainSlider_shadow
        .MainSlider_content
          .Box
            .MainSlider_slide_numerator
              span.MainSlider_slide_numerator_current 01
              |
              | /
              |
              span.MainSlider_slide_numerator_next 03
              .MainSlider_slide_arrows
                .MainSlider_slide_arrow-left.slider-button-prev
                .MainSlider_slide_arrow-right.slider-button-next
            .MainSlider_slide_title
              | Продажа помещений для&nbsp;производства и&nbsp;склада в&nbsp;технопарке
              |
              |
              span.MainSlider_slide_title_important Pererva
            .MainSlider_slide_subtitle
              | Нажмите кнопку, чтобы перейти на&nbsp;страницу <br> проекта и&nbsp;узнать подробнее
            .MainSlider_slide_more
              a.Button.Button-white.Button-icon.Button-actionIcon(href="")
                | Узнать подробнее
                span.Button_icon
                  include ./../../../includes/svg/arrow_right_sm.svg
        .MainSlider_slide_infrastructure.MainSlider_slide_infrastructure-open
          .MainSlider_slide_infrastructure_content
            .MainSlider_slide_infrastructure_header
              | Инфраструктура
            .MainSlider_slide_infrastructure_text
              ul
                li <b>5 минут</b> на машине от м. Марьино
                li Помещения от <b>80</b> до <b>160 м²</b>
                li Цена от <b>85 000 Р</b> за <b>м²</b>
          .MainSlider_slide_infrastructure_toggle
            include ./../../../includes/svg/menu.svg
          .MainSlider_slide_infrastructure_toggle.MainSlider_slide_infrastructure_toggle-close
            include ./../../../includes/svg/close.svg
      .MainSlider_slide.swiper-slide
        .MainSlider_image(style="background-image:url(img/main_slider_3.jpg)")
        .MainSlider_shadow
        .MainSlider_content
          .Box
            .MainSlider_slide_numerator
              span.MainSlider_slide_numerator_current 01
              |
              | /
              |
              span.MainSlider_slide_numerator_next 03
              .MainSlider_slide_arrows
                .MainSlider_slide_arrow-left.slider-button-prev
                .MainSlider_slide_arrow-right.slider-button-next
            .MainSlider_slide_title
              | Продажа помещений для&nbsp;производства и&nbsp;склада в&nbsp;технопарке
              |
              |
              span.MainSlider_slide_title_important Pererva
            .MainSlider_slide_subtitle
              | Нажмите кнопку, чтобы перейти на&nbsp;страницу <br> проекта и&nbsp;узнать подробнее
            .MainSlider_slide_more
              a.Button.Button-white.Button-icon.Button-actionIcon(href="")
                | Узнать подробнее
                span.Button_icon
                  include ./../../../includes/svg/arrow_right_sm.svg
        .MainSlider_slide_infrastructure.MainSlider_slide_infrastructure-open
          .MainSlider_slide_infrastructure_content
            .MainSlider_slide_infrastructure_header
              | Инфраструктура
            .MainSlider_slide_infrastructure_text
              ul
                li <b>5 минут</b> на машине от м. Марьино
                li Помещения от <b>80</b> до <b>160 м²</b>
                li Цена от <b>85 000 Р</b> за <b>м²</b>
          .MainSlider_slide_infrastructure_toggle
            include ./../../../includes/svg/menu.svg
          .MainSlider_slide_infrastructure_toggle.MainSlider_slide_infrastructure_toggle-close
            include ./../../../includes/svg/close.svg
    .MainSlider_pagination-wrapper
      .MainSlider_pagination
  .PageHead_scrollArrow Скролл