mixin card(cards, className)
  each card in cards
    .Card(class= className)
      a(href=''+ card.link +'').Card_link
        .Button.Button-icon.Button-actionIcon.Button-fill.Card_btn
          | Посмотреть проект
          span.Button_icon
            include ../svg/arrow_right_sm.svg
      .Card_wrp
        .Card_img(style='background-image:url('+ card.img +')')
          .Card_amount
            span= card.amount
            div
        .Card_content
          .Card_title= card.title
          .Card_info
            span.Card_class= card.quality
            span
              if card.squareFrom
                | от&nbsp
                = card.squareFrom
                |&nbspм²
              if card.squareTo
                | &nbsp
                | до&nbsp
                = card.squareTo
                |&nbspм²
          .Card_place.Card_place-loc= card.address
          .Card_place.Card_place-metro
            span= card.metro
            span.Card_placeColor(style='background: '+ card.metroColor +'')
          p= card.desc