footer.Footer
    .Footer_mainContent
        .Footer_groupsRow
            .Footer_group.Footer_group-n1
                img.Footer_logo(src="img/logo_bw.png", alt="")
                .Footer_slogan Магазин элитной недвижимости в Москве

            .Footer_group.Footer_group-n2
                .Footer_groupHead Компания
                ul.Footer_menuList
                    li.Footer_menuItem
                        a.Footer_menuLink(href="#") Аппартаменты до 7 млн. ₽
                    li.Footer_menuItem
                        a.Footer_menuLink(href="#") Элитное жилье для семьи
                    li.Footer_menuItem
                        a.Footer_menuLink(href="#") Depre
                    li.Footer_menuItem
                        a.Footer_menuLink(href="#") Жилой комплекс 2
                    li.Footer_menuItem
                        a.Footer_menuLink(href="#") Жилой комплекс 3
                    li.Footer_menuItem
                        a.Footer_menuLink(href="#") Жилой комплекс 4

            .Footer_group.Footer_group-n3
                .Footer_groupHead Аренда
                ul.Footer_menuList
                    li.Footer_menuItem
                        a.Footer_menuLink(href="#") Крутые офисы в центре
                    li.Footer_menuItem
                        a.Footer_menuLink(href="#") DM Tower
                    li.Footer_menuItem
                        a.Footer_menuLink(href="#") Бизнес­-центр 2
                    li.Footer_menuItem
                        a.Footer_menuLink(href="#") Бизнес­-центр 3
                    li.Footer_menuItem
                        a.Footer_menuLink(href="#") Бизнес­-центр 4

            .Footer_group.Footer_group-n4
                .Footer_groupHead Продажа
                ul.Footer_menuList
                   li.Footer_menuItem
                       a.Footer_menuLink(href="#") О компании
                   li.Footer_menuItem
                       a.Footer_menuLink(href="#") Команда
                   li.Footer_menuItem
                       a.Footer_menuLink(href="#") Награды
                   li.Footer_menuItem
                       a.Footer_menuLink(href="#") Партнеры
                   li.Footer_menuItem
                       a.Footer_menuLink(href="#") Здесь я буду жить
                   li.Footer_menuItem
                       a.Footer_menuLink(href="#") Контакты
            .Footer_group.Footer_group-n5
                .Footer_groupHead ОТДЕЛ ПРОДАЖ
                .Footer_phoneWrap
                    .Footer_phone +7 (495) 555-55-55
                    a.Footer_callOrderLink(href="#orderModal") Заказать обратный звонок
                .Footer_email sales@kr-pro.ru
                .Footer_address 115184, Москва, ул. Пятницкая, д. 74

    .Footer_copyright
        .Footer_copyText © 2008–2017 «KR Properties» — элитная недвижимость в Москве
        .Footer_socIconsWrap
            .Footer_socIco
                a(href="#")
                    include ../../svg/facebook.svg
            .Footer_socIco
                a(href="#")
                    include ../../svg/vk.svg
            .Footer_socIco
                a(href="#")
                    include ../../svg/instagram.svg
            .Footer_socIco.Footer_socIco-developerLogo
                a(href="#")
                    include ../../svg/blueant.svg
